{% extends "layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block main_content %}

    <div class="row landing-message">
        Oops, something went wrong! We are very sorry for the inconvenience.
    </div>

{% endblock main_content %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/app/javascript/content.js') }}"></script>

{% endblock %}