{% extends "@App/sell/sell.layout.html.twig" %}

{% block sell_content %}

    <div>
        <div class="success-message">
            THE LISTING WAS CREATED SUCCESSFULLY. WILL REMAIN IN PENDING REVIEW STATUS UNTIL AN ADMINISTRATOR APPROVES IT. <i class="fa fa-check"></i>
        </div>
        <div class="buttons-container">
            <button class="link-action standard-button" href="{{ path('mycontent') }}" >
                Go to My Content
            </button>
            <button class="link-action standard-button" href="{{ path('newListing') }}">
                Add another listing
            </button>
        </div>

    </div>

{% endblock sell_content %}
