
{{ include('@App/bids/fixed.fee.html.twig') }}

{{ include('@App/bids/closed.bids.html.twig') }}

{{ include('@App/bids/open.bids.html.twig') }}

<button class="uk-button uk-button-primary to-active-listings">Back</button>