{% extends "@App/sell/sell.layout.html.twig" %}

{% block my_content %}

    <nav class="uk-navbar">
        <ul class="uk-navbar-nav">
        </ul>
    </nav>

    {% block listing_content %}
        SCHEDULE TEMPLATE
    {% endblock listing_content %}

{% endblock my_content %}