/.web-server-pid
/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
.idea/
.DS_Store
/npm-debug.log
/bin/*.tmp
/web/phpinfo.php
/web/app_dev.php
/web/tmpUploads
/node_modules
/private_scripts/*
/src/AppBundle/Resources/public/javascript/translations/translations.js
/admin-locales/en.po
/src/AppBundle/Resources/public/data/translations.json
/web/admin-uploads
/web/app.php
/web/assets
/deploy-*
