<form id = "myform" method = "post" enctype="multipart/form-data">
    <input class="is-hidden content-input"
           id="license-file-selector-hidden"
           type="file"
           accept=".pdf, .doc, .docx"
           name="license[]" />

    <input class="is-hidden content-input"
           accept=".png,.jpg, .pdf, .doc, .docx"
           ref="event-file-selector"
           id="event-file-selector-hidden" type="file"  name="brochure[]" />

    <input class="is-hidden content-input"
           accept=".png,.jpg"
           ref="image-selector"
           id="image-selector-hidden" type="file"  name="image[]" />

    <input class="is-hidden"
           accept=".csv"
           ref="csv-selector"
           id="csv-selector-hidden"
           type="file"
           name="csv[]" />

</form>