<div id="step1" class="">

    <div class="sell-buttons-container">
        <button id="select-event" class="uk-button standard-button">Select event from database</button>
        <button id="select-non-event" class="uk-button standard-button ">List non-event based content</button>
    </div>

    <div class="seller-box">
        <div class="seller-box-title">
            Step 1/2
        </div>
        <div class="seller-box-content">

            <div id="step1-event" class="step1-container is-hidden">

                <div class="step1-event-title">
                    Select an event from the database by clicking the tabs below
                </div>
                {# <div class="step1-event-item">
                     <input type="text" placeholder="search for player/team" id="tags"/>
                 </div>#}

                <div class="step1-event-item">
                    <input type="text" placeholder="Sport" id="event-sport-selector"/>

                    <div class="step1-event-item-content" id="event-sport-selection">
                    </div>
                </div>
                <div class="step1-event-item">
                    <input type="text" placeholder="Continent or world" id="event-territory-selector"
                           disabled="disabled"/>

                    <div class="step1-event-item-content" id="event-territory-selection">
                    </div>
                </div>
                <div class="step1-event-item">
                    <i class="fa fa-cog fa-spin"></i>
                    <input type="text" placeholder="Country" id="event-country-selector" disabled="disabled"/>

                    <div class="step1-event-item-content" id="event-country-selection">
                    </div>
                </div>
                <div class="step1-event-item">
                    <i class="fa fa-cog fa-spin"></i>
                    <input type="text" placeholder="Competition" id="event-tournament-selector" disabled="disabled"/>

                    <div class="step1-event-item-content" id="event-tournament-selection">
                    </div>
                </div>
                <div class="step1-event-item">
                    <i class="fa fa-cog fa-spin"></i>
                    <input type="text" placeholder="Season" id="event-season-selector" disabled="disabled"/>

                    <div class="step1-event-item-content" id="event-season-selection">
                    </div>
                </div>
                <div class="step1-event-item">
                    <i class="fa fa-cog fa-spin"></i>
                    <input type="text" placeholder="Fixture" id="event-schedule-selector" disabled="disabled"/>

                    <div class="step1-event-item-content">
                    </div>
                </div>
                <div class="step1-event-item is-hidden">
                    <div class="step1-event-subitems-container" id="event-schedule-subitems"></div>
                </div>
                <div class="step1-event-item">
                    <textarea placeholder="{{ 'sell.step1.event.description.placeholder'|trans }}"></textarea>
                </div>
                <div class="step1-event-item">
                    <input type="text" placeholder="Website domain" id="event-website-selector"/>
                </div>
                <div class="step1-event-item">
                    <input type="text" placeholder="Add other link" id="event-link-selector"/>
                </div>
                <div class="step1-event-item">
                    <input type="text" placeholder=" Attach file" id="event-file-selector" />
                    <div class="step1-event-item-content">
                    </div>
                </div>

                <div class="step1-event-item">
                    <button class="uk-button go-to-rights">Continue with rights selection</button>
                </div>

            </div>

            <div id="step1-non-event" class="step1-container is-hidden">
                <div class="step1-event-title">
                    Create your program by filling in the boxes below
                </div>
                <div class="step1-non-event-item">
                    <div id="single-events-selector" class="step1-event-item-title step1-event-item-title-small ">
                        Single
                    </div>
                    <div id="series-events-selector" class="step1-event-item-title step1-event-item-title-small">
                        Series
                    </div>
                </div>

                <div class="step1-event-item">
                    <input type="text" placeholder="Sport" id="non-event-sport-selector"/>
                    <div class="step1-event-item-content"  id="non-event-sport-selection"></div>
                </div>
                <div class="step1-event-item">
                    <input type="text" placeholder="Program type" id="non-event-program-type-selector"/>
                    <div class="step1-event-item-content"  id="non-event-program-type-selection"></div>
                </div>
                <div class="step1-event-item">
                    <input type="text" placeholder="Program name" id="non-event-program-name-selector"/>
                    <div class="step1-event-item-content"  id="non-event-program-name-selection"></div>
                </div>
                <div class="step1-event-item">
                    <input type="text" placeholder="Year of release" id="non-event-year-selector"/>
                    <div class="step1-event-item-content"  id="non-event-year-selection"></div>
                </div>
                <div class="step1-event-item">
                    <input type="text" placeholder="Duration - hh:mm" id="non-event-duration-selector"/>
                    <div class="step1-event-item-content"  id="non-event-duration-selection"></div>
                </div>
                <div class="step1-event-item">
                    <input type="text" placeholder="Availability" id="non-event-availability-selector"/>
                    <div class="step1-event-item-content"  id="non-event-availability-selection"></div>
                </div>

                <div class="step1-event-item">
                    <textarea placeholder="{{ 'sell.step1.event.description.placeholder'|trans }}"></textarea>
                </div>

                <div class="step1-event-item">
                    <input type="text" placeholder="Website domain" id="non-event-wesite-selector"/>
                </div>
                <div class="step1-event-item">
                    <input type="text" placeholder="Add other link" id="non-event-link-selector"/>
                </div>
                <div class="step1-event-item">
                    <input placeholder="Attach file" id="non-event-file-selector" type="file" name="files[]" />
                    <div class="step1-event-item-content">
                    </div>
                </div>

                <div class="step1-event-item">
                    <button class="uk-button go-to-rights">Continue with rights selection</button>
                </div>

            </div>

        </div>
    </div>


</div>