<div class="buttons-container">
    <button id="view-agreement" class="standard-button package-ready-button" href="{{ path('contractPreview') }}" >
        View preliminary license agreement</i>
    </button>
    <button id="upload-agreement" class="standard-button package-ready-button">
        Upload own license agreement
    </button>
</div>

<div class="buttons-container">
    <button id="submit-listing" class="standard-button package-ready-button">
        Submit listing
    </button>
</div>
