<div id="sales-package-1" class="box sales-package">
    <div class="box-title">
        Pricing and territory
    </div>
    <div class="close-box">
        <i class="fa fa-window-close"></i>
    </div>
    <div class="seller-box-content">
        <div class="box-item" id="sales-method-selector">

            <div class="select-box-item-title">
                Sales method
            </div>

            <div class="select-box-item select-box-item-full">
                <div class="select-box-checkbox">
                    <input type="checkbox"
                           id="selector-pre-defined-fee"
                           value="pre-defined-fee"
                           show=".predefined-fee-option"
                           hide=".price-optional"
                           class="unselect-others toggler-checkbox" />
                    <label for="selector-pre-defined-fee"></label>
                </div>
                <div class="select-box-item-label">
                    Pre-defined fee
                </div>
            </div>

            <div class="select-box-item select-box-item-full">
                <div class="select-box-checkbox">
                    <input type="checkbox" value="open-bid"
                           id="selector-open-bid"
                           show=".bid-option"
                           hide=".price-optional"
                           class="unselect-others toggler-checkbox" />
                    <label for="selector-open-bid"></label>
                </div>
                <div class="select-box-item-label">
                    Open bid
                </div>
            </div>

            <div class="select-box-item select-box-item-full">
                <div class="select-box-checkbox">
                    <input type="checkbox" value="closed-bid"
                           id="selector-closed-bid"
                           show=".bid-option, .closed-bid-option"
                           hide=".price-optional"
                           class="unselect-others toggler-checkbox" />
                    <label for="selector-closed-bid"></label>
                </div>
                <div class="select-box-item-label">
                    Closed bid
                </div>
            </div>
        </div>

        <div class="box-item price-optional predefined-fee-option bid-option">
            <div class="select-box-item-title price-optional predefined-fee-option">
                Fee
            </div>

            <div class="select-box-item select-box-item-full price-optional predefined-fee-option">
                <div class="select-box-checkbox">

                </div>
                <div class="select-box-item-label">
                    <input type="text" id="fee-selector" class="small-input custom-form-input " >
                    <label for="fee-selector"></label>
                </div>
            </div>

            <div class="select-box-item-title price-optional bid-option">
                Minimum bid
            </div>

            <div class="select-box-item select-box-item-full price-optional bid-option">
                <div class="select-box-checkbox">

                </div>
                <div class="select-box-item-label">
                    <input type="text" id="bid-selector" class="small-input custom-form-input" >
                    <label for="bid-selector"></label>
                </div>
            </div>

        </div>

        {# CURRENCY SELECTOR#}
        <div class="box-item price-optional predefined-fee-option bid-option" id="fee-selector">
            <div class="select-box-item select-box-item-full">
                <div class="select-box-checkbox">
                    <input type="checkbox" value="USD" class="unselect-others" id="currency-usd">
                    <label for="currency-usd"></label>
                </div>
                <div class="select-box-item-label">
                    USD
                </div>
            </div>

            <div class="select-box-item select-box-item-full">
                <div class="select-box-checkbox">
                    <input type="checkbox" value="EUR" class="unselect-others" id="currency-eur">
                    <label for="currency-eur"></label>
                </div>
                <div class="select-box-item-label">
                    EUR
                </div>
            </div>
        </div>


        {# TERRITORY #}
        <div class="box-item" id="territories-selector">
            <div class="select-box-item-title">
                Territories
            </div>

            <div class="select-box-item select-box-item-full">
                <div class="select-box-checkbox">
                    <input type="checkbox" value="worldwide"  class="unselect-others" id="worldwide-selector">
                    <label for="worldwide-selector"></label>
                </div>
                <div class="select-box-item-label">
                    Worldwide
                </div>
            </div>

            <div class="select-box-item select-box-item-full">
                <div class="select-box-checkbox">
                    <input type="checkbox" value="selected" class="unselect-others" id="selected-territory-selector">
                    <label for="selected-territory-selector"></label>
                </div>
                <div class="select-box-item-label">
                    Selected territories only <select type="text" id="territory-selected" data-placeholder="Choose a Country..." multiple></select>
                </div>
            </div>

            <div class="select-box-item select-box-item-full">
                <div class="select-box-checkbox">
                    <input type="checkbox" value="excluded" class="unselect-others" id="excluded-territory-selector">
                    <label for="excluded-territory-selector"></label>
                </div>
                <div class="select-box-item-label">
                    Worldwide excluding <select type="text" id="territory-excluded" data-placeholder="Choose a Country..." multiple></select>
                </div>
            </div>
        </div>

        {# PACKAGE #}
        <div class="box-item">
            <div class="select-box-item-title">
                Package Configuration
            </div>

            <div class="select-box-item select-box-item-full ">
                <div class="select-box-checkbox">
                    <input type="checkbox" value="territories-as-package" id="territories-as-package" >
                    <label for="territories-as-package"></label>
                </div>
                <div class="select-box-item-label">
                    Sell territories as package
                </div>
            </div>

            <div class="select-box-item select-box-item-full price-optional closed-bid-option">
                <div class="select-box-checkbox">
                    <input type="checkbox" value="territories-bids" id="territories-bids">
                    <label for="territories-bids"></label>

                </div>
                <div class="select-box-item-label">
                    Allow individual bids on territories
                </div>
            </div>

            <div class="select-box-item select-box-item-full">
                <div class="select-box-item-label box-item-checkbox-list">
                    <input type="text" placeholder="Enter package name" class="sales-package-name custom-form-input">
                </div>
            </div>

            <div class="select-box-item select-box-item-full">
                <div class="select-box-item-label box-item-checkbox-list">
                    <button class="small-button" id="add-sales-package">Add sales package</button>
                </div>
            </div>
        </div>

    </div>
</div>