<div id="step1" class="">

    <div class="sell-buttons-container">
        <button id="select-event" class="uk-button standard-button">Select event from database</button>
        <button id="select-non-event" class="uk-button standard-button ">List non-event based content</button>
    </div>

    <div class="seller-box">
        <div class="seller-box-title">
            Step 1/2
        </div>
        <div class="seller-box-content" >

            <div id="step1-event" class="step1-container is-hidden">

                <div class="step1-event-title">
                    Select an event from the database by clicking the tabs below
                </div>
                <div class="step1-event-item">
                    <input type="text" placeholder="search for player/team"/>
                </div>

                <div class="step1-event-item">
                    <div class="step1-event-item-title">
                        Sport
                    </div>
                </div>
                <div class="step1-event-item">
                    <div class="step1-event-item-title">
                        Continent or world
                    </div>
                </div>
                <div class="step1-event-item">
                    <div class="step1-event-item-title">
                        Country
                    </div>
                </div>
                <div class="step1-event-item">
                    <div class="step1-event-item-title">
                        Competition
                    </div>
                </div>
                <div class="step1-event-item">
                    <div class="step1-event-item-title">
                        Season
                    </div>
                </div>
                <div class="step1-event-item">
                    <div class="step1-event-item-title">
                        Fixture
                    </div>
                </div>
                <div class="step1-event-item">
                    <textarea>{{ 'sell.step1.event.description.placeholder'|trans }}</textarea>
                </div>
                <div class="step1-event-item">
                    <div class="step1-event-item-label">
                        Website domain
                    </div>
                    <input type="text" />
                </div>
                <div class="step1-event-item">
                    <div class="step1-event-item-label">
                        Add other link
                    </div>
                    <input type="text" />
                </div>
                <div class="step1-event-item">
                    <div class="step1-event-item-title">
                        Attach file
                    </div>
                </div>

                <div class="step1-event-item">
                    <button class="uk-button go-to-rights">Continue with rights selection </button>
                </div>

            </div>

            <div id="step1-non-event" class="step1-container is-hidden">
                <div class="step1-event-title">
                    Create your program by filling in the boxes below
                </div>
                <div class="step1-non-event-item">
                    <div class="step1-event-item-title step1-event-item-title-small">
                        Single
                    </div>
                    <div class="step1-event-item-title step1-event-item-title-small">
                        Series
                    </div>
                </div>

                <div class="step1-event-item">
                    <div class="step1-event-item-title">
                        Sport
                    </div>
                </div>
                <div class="step1-event-item">
                    <div class="step1-event-item-title">
                        Program type
                    </div>
                </div>
                <div class="step1-event-item">
                    <input type="text" placeholder="Program name" />
                </div>
                <div class="step1-event-item">
                    <div class="step1-event-item-title">
                        Year of release
                    </div>
                </div>
                <div class="step1-event-item">
                    <div class="step1-event-item-title">
                        Duration
                    </div>
                </div>
                <div class="step1-event-item">
                    <div class="step1-event-item-title">
                        Availability
                    </div>
                </div>

                <div class="step1-event-item">
                    <textarea>{{ 'sell.step1.event.description.placeholder'|trans }}</textarea>
                </div>

                <div class="step1-event-item">
                    <div class="step1-event-item-label">
                        Website domain
                    </div>
                    <input type="text" />
                </div>
                <div class="step1-event-item">
                    <div class="step1-event-item-label">
                        Add other link
                    </div>
                    <input type="text" />
                </div>

                <div class="step1-event-item">
                    <div class="step1-event-item-title">
                        Attach file
                    </div>
                </div>

                <div class="step1-event-item">
                    <button class="uk-button go-to-rights">Continue with rights selection </button>
                </div>

            </div>

        </div>
    </div>





</div>