<div id="price-sell-box" class="seller-box sell-items-box">
    <div class="seller-box-title">
        Pricing and territory
    </div>
    <div class="seller-box-content seller-box-content-rights">
        <div class="select-box-item-container" id="sales-method-selector">

            <div class="select-box-item-title">
                Sales method
            </div>

            <div class="select-box-item select-box-item-full">
                <div class="select-box-checkbox">
                    <input type="checkbox" value="pre-defined-fee"  class="unselect-others">
                </div>
                <div class="select-box-item-label">
                    Pre-defined fee
                </div>
            </div>

            <div class="select-box-item select-box-item-full">
                <div class="select-box-checkbox">
                    <input type="checkbox" value="open-bid" class="unselect-others">
                </div>
                <div class="select-box-item-label">
                    Open bid
                </div>
            </div>

            <div class="select-box-item select-box-item-full">
                <div class="select-box-checkbox">
                    <input type="checkbox" value="closed-bid" >
                </div>
                <div class="select-box-item-label">
                    Closed bid
                </div>
            </div>
        </div>
        <div class="select-box-item-container"  id="fee-currency-selector">
            <div class="select-box-item-title">
                Fee
            </div>

            <div class="select-box-item select-box-item-full">
                <div class="select-box-checkbox">
                    <input type="text" id="fee-selector" >
                </div>
                <div class="select-box-item-label">
                </div>
            </div>

            <div class="select-box-item select-box-item-full">
                <div class="select-box-checkbox">
                    <input type="checkbox" value="USD" class="unselect-others">
                </div>
                <div class="select-box-item-label">
                    USD
                </div>
            </div>

            <div class="select-box-item select-box-item-full">
                <div class="select-box-checkbox">
                    <input type="checkbox" value="EUR" class="unselect-others">
                </div>
                <div class="select-box-item-label">
                    EUR
                </div>
            </div>
        </div>
        <div class="select-box-item-container" id="territories-selector">
            <div class="select-box-item-title">
                Territories
            </div>

            <div class="select-box-item select-box-item-full">
                <div class="select-box-checkbox">
                    <input type="checkbox" value="worldwide"  class="unselect-others">
                </div>
                <div class="select-box-item-label">
                    Worldwide
                </div>
            </div>

            <div class="select-box-item select-box-item-full">
                <div class="select-box-checkbox">
                    <input type="checkbox" value="selected" class="unselect-others">
                </div>
                <div class="select-box-item-label">
                    Selected territories only
                </div>
            </div>

            <div class="select-box-item select-box-item-full">
                <div class="select-box-checkbox">
                    <input type="checkbox" value="excluding" class="unselect-others">
                </div>
                <div class="select-box-item-label">
                    Worldwide excluding <input type="text">
                </div>
            </div>
        </div>
    </div>
</div>