<div id="step1" class="">

    <div class="box">
        <div class="box-title">
            Step 1/2
        </div>
        <div class="seller-box-content">
            <div class="step1-container">

                {# Sport Selector #}
                <div class="step1-event-item">
                    <i class="fa fa-cog fa-spin"></i>
                    <input type="text"
                           placeholder="Sport"
                           id="event-sport-selector"
                           class="content-input"
                           required/> <button class="add-button" id="add-sport-layer">Add sport</button>
                </div>

                {# Country Selector #}
                <div class="step1-event-item ">
                    <i class="fa fa-cog fa-spin"></i>
                    <input type="text" class="content-input is-hidden" placeholder="Country/Category" id="event-category-selector"/>
                </div>

                {# Competition Selector #}
                <div class="step1-event-item">
                    <i class="fa fa-cog fa-spin"></i>
                    <input type="text" class="content-input" placeholder="Competition" id="event-tournament-selector"/>
                </div>

                {# Season Selector  #}
                <div class="step1-event-item">
                    <i class="fa fa-cog fa-spin"></i>
                    <input type="text" class="content-input" placeholder="Season" id="event-season-selector" />
                </div>

                {# Fixture Container #}
                <div class="step1-event-item ">
                    <div class="step1-event-subitems-container" id="event-schedule-subitems"></div>
                </div>


                <div class="step1-event-item  custom-template-item">
                    <input type="number"
                           required
                           class="content-input"
                           placeholder="Number of events"
                           id="event-customAmount-selector"/>
                </div>
                <div class="step1-event-item  custom-template-item">
                    <input type="text" class="content-input" placeholder="Start date" id="event-customStart-selector"/>
                </div>
                <div class="step1-event-item  custom-template-item">
                    <input type="text" class="content-input" placeholder="End date" id="event-customEnd-selector"/>
                </div>
                <div class="step1-event-item  custom-template-item custom-fixtures">
                    <input type="text"
                           class="content-input"
                           id="custom-fixture-name-1"
                           placeholder="enter fixture (optional)"/> <input type="text"
                                                                           class="content-input"
                                                                           placeholder="Select date (optional)"
                                                                           id="custom-fixture-date-1"/>
                </div>
                <div class="step1-event-item  custom-template-item">
                    <button class="small-button" id="add-more-fixtures">Add more fixtures</button>
                </div>

                {# Description  #}
                <div class="step1-event-item">
                    <textarea id="event-description" 
                              placeholder="{{ 'sell.step1.event.description.placeholder'|trans }}" 
                              class="content-input"></textarea>
                </div>

                {# Website #}
                <div class="step1-event-item common-event-item">
                    <input data-role="tagsinput"
                           type="text"
                           placeholder="Website domain"
                           id="event-website-selector"
                           class="content-input"/>
                </div>

                {# Link #}
                <div class="step1-event-item common-event-item">
                    <input type="text"
                           data-role="tagsinput"
                           placeholder="Add other link"
                           id="event-link-selector"
                           class="content-input"/>
                </div>

                {# File #}
                <div class="step1-event-item common-event-item">
                    <input placeholder="Attach file"
                           ref="event-file-selector-hidden"
                           id="event-file-selector"
                           class="file-selector" type="text" />
                </div>

                {# Go to step 2 button #}
                <div class="step1-event-item">
                    <button class="uk-button go-to-rights">Continue with rights selection</button>
                </div>
            </div>
        </div>
    </div>
</div>