<div id="step1" class="">

    {# Main selector #}
    <div class="sell-buttons-container">
        <button class="event-origin-selector uk-button standard-button standard-button-active" ref="database-event-item" >Select event from database</button>
        <button class="event-origin-selector uk-button standard-button" ref="custom-event-item">List event based content</button>
    </div>

    <div class="seller-box">
        <div class="seller-box-title">
            Step 1/2
        </div>
        <div class="seller-box-content">
            <div class="step1-container is-hidden">
                <div class="step1-event-title">
                    <span class="step1-event-item database-event-item">Select an event from the database by clicking the tabs below</span>
                    <span class="step1-event-item custom-event-item">Create your program by filling in the boxes below</span>
                </div>

                {# Single/Series Selector #}
                <div class="step1-event-item custom-event-item">
                    <div id="single-events-selector" class="standard-button-active step1-event-item-title step1-event-item-title-small ">
                        Single
                    </div>
                    <div id="series-events-selector" class="step1-event-item-title step1-event-item-title-small">
                        Series
                    </div>
                </div>

                {# Sport Selector #}
                <div class="step1-event-item database-event-item custom-event-item">
                    <input type="text" placeholder="Sport" id="event-sport-selector" class="step1-event-input-content" required/>
                </div>

                {# Territory Selector #}
                <div class="step1-event-item database-event-item">
                    <input type="text" class="step1-event-input-content" placeholder="Continent or world" id="event-territory-selector"/>
                </div>

                {# Country Selector #}
                <div class="step1-event-item database-event-item">
                    <i class="fa fa-cog fa-spin"></i>
                    <input type="text" class="step1-event-input-content" placeholder="Country" id="event-country-selector"/>
                </div>

                {# Competition Selector #}
                <div class="step1-event-item  database-event-item">
                    <i class="fa fa-cog fa-spin"></i>
                    <input type="text" class="step1-event-input-content" placeholder="Competition" id="event-tournament-selector"/>
                </div>

                {# Season Selector  #}
                <div class="step1-event-item  database-event-item">
                    <i class="fa fa-cog fa-spin"></i>
                    <input type="text" class="step1-event-input-content" placeholder="Season" id="event-season-selector" />
                </div>

                {# Fixture Container #}
                <div class="step1-event-item database-event-item">
                    <div class="step1-event-subitems-container" id="event-schedule-subitems"></div>
                    <div class="step1-event-subitems-container" id="event-custom-subitems">
                        <div class="step1-event-item custom-event-item">
                            <input type="text" class="step1-event-input-content" placeholder="Type" id="event-customType-selector"/>
                        </div>
                        <div class="step1-event-item custom-event-item">
                            <input type="text" class="step1-event-input-content" placeholder="Number of events to be sold" id="event-customAmount-selector"/>
                        </div>
                        <div class="step1-event-item custom-event-item">
                            <input type="text" class="step1-event-input-content" placeholder="Start date" id="event-customStart-selector"/>
                        </div>
                        <div class="step1-event-item custom-event-item">
                            <input type="text" class="step1-event-input-content" placeholder="End date" id="event-customEnd-selector"/>
                        </div>
                    </div>
                </div>

                {# Program Type #}
                <div class="step1-event-item custom-event-item">
                    <input type="text"
                           class="step1-event-input-content"
                           placeholder="Program type"
                           required
                           id="event-programType-selector"/>
                </div>

                {# Program Name #}
                <div class="step1-event-item custom-event-item">
                    <input type="text"
                           class="step1-event-input-content"
                           placeholder="Program name"
                           required
                           id="event-programName-selector"/>
                </div>

                {# Number of programs #}
                <div class="step1-event-item custom-series-event-item">
                    <input type="text" class="step1-event-input-content" placeholder="Number of programs" id="event-programs-selector"/>
                </div>

                {# Year of release #}
                <div class="step1-event-item custom-event-item">
                    <input type="text" class="step1-event-input-content" placeholder="Year of release" id="event-year-selector"/>
                </div>

                {# Duration #}
                <div class="step1-event-item custom-event-item">
                    <input type="text" class="step1-event-input-content" placeholder="Duration per episode - hh:mm" id="event-duration-selector"/>
                </div>

                {# Availability #}
                <div class="step1-event-item custom-event-item">
                    <input type="text" class="step1-event-input-content" placeholder="Availability" id="event-availability-selector"/>
                </div>

                {# Description  #}
                <div class="step1-event-item database-event-item custom-event-item">
                    <textarea id="event-description" placeholder="{{ 'sell.step1.event.description.placeholder'|trans }}" class="step1-event-input-content"></textarea>
                </div>

                {# Website #}
                <div class="step1-event-item database-event-item custom-event-item">
                    <input data-role="tagsinput"
                           type="text"
                           placeholder="Website domain"
                           id="event-website-selector"
                           class="step1-event-input-content"/>
                </div>

                {# Link #}
                <div class="step1-event-item database-event-item custom-event-item">
                    <input type="text"
                           data-role="tagsinput"
                           placeholder="Add other link" id="event-link-selector" class="step1-event-input-content"/>
                </div>

                {# File #}
                <div class="step1-event-item database-event-item custom-event-item">
                    <input placeholder="Attach file" id="event-file-selector" type="text" />
                </div>

                {# Go to step 2 button #}
                <div class="step1-event-item database-event-item custom-event-item">
                    <button class="uk-button go-to-rights">Continue with rights selection</button>
                </div>
            </div>
        </div>
    </div>
</div>