<div class="seller-box">
    <div class="seller-box-title">
        Payment terms
    </div>
    <div class="box-content">

        <div class="box-item installment">
            <span class="installment-number">1st</span> Installment <input class="tiny-input installment-percent" type="text" placeholder="00%" /> Payment due on <input class="small-input installment-date" placeholder="Select date" type="text" />
        </div>

        <button class="small-button" id="add-installment">Add installment</button>

        <div class="box-item">
            In case of delayed invoice upload, the buyer is granted a time period of <input class="tiny-input" type="text" />  days after invoce upload to transmit the funds.
        </div>

    </div>
</div>