<script id="content-details-template" type="text/x-jsrender">
{% raw %}
<div class="box-item">
    <div class="select-box-item-title">
        Number of episodes
    </div>

    <div class="select-box-item select-box-item-full">
        <div class="select-box-checkbox">
        </div>
        <div class="select-box-item-label">
            <input type="number" class="right-form-input content-input"
                       id="episodes-quantity"
                       placeholder=""/>
        </div>
    </div>
</div>

<div class="box-item">
    <div class="select-box-item-title">
        Content Details
    </div>

    <div class="select-box-item select-box-item-full">
        <div class="select-box-checkbox">
            <input type="checkbox"
                   id="content-details-method-mask"
                   show="#content-details-mask"
                   hide="#content-details-upload"
                   class="unselect-others toggler-checkbox" />
            <label for="content-details-method-mask"></label>
        </div>
        <div class="select-box-item-label">
            Enter via mask
        </div>
    </div>
    <div class="select-box-item select-box-item-full">
        <div class="select-box-checkbox">
            <input type="checkbox"
                   id="content-details-method-upload"
                   hide="#content-details-mask"
                   show="#content-details-upload"
                   class="unselect-others toggler-checkbox" />
            <label for="content-details-method-upload"></label>
        </div>
        <div class="select-box-item-label">
            Upload as document
        </div>
    </div>
</div>

<div class="box-item is-hidden" id="content-details-mask">
</div>

<div class="box-item is-hidden" id="content-details-upload">
    <div class="select-box-item-title">
        Please note that the uploaded sheet should contain the titles and availability dates of the offered program episodes.
    </div>
    <div class="select-box-item select-box-item-full">
        <button class="small-button" id="upload-content-csv">Upload CSV document</button>
        <button class="small-button" id="download-csv-sheet">Download CSV sheet as framework </button>
    </div>
</div>




{% endraw %}
</script>

<script id="episode-template" type="text/x-jsrender">
{% raw %}
<div class="step1-event-item">
    <input type="text"
           class="content-input"
           id="episode-{{:id}}"
           value="{{if episode}}{{:episode}}{{else}}Episode {{:id}}{{/if}}"/>

    <input type="text"
           class="episode-availability episode-availability-selected"
           placeholder="Available"
           id="episode-{{:id}}-available"/>

    <input type="text"
           class="episode-availability episode-availability-date"
           placeholder="Available on Date/Time"
           id="episode-{{:id}}-available-date"/>

    <input type="text"
           class="episode-availability"
           placeholder="Info N/A"
           id="episode-{{:id}}-info"/>
</div>
{% endraw %}
</script>

<script id="custom-fixture-template" type="text/x-jsrender">
{% raw %}
<div class="step1-event-item  custom-template-item custom-fixtures">
    <input type="text" class="content-input"
           id="custom-fixture-name-{{:id}}"
           placeholder="enter fixture (optional)"/> <input type="text" class="content-input"
                                                           placeholder="Select date (optional)"
                                                           id="custom-fixture-date-{{:id}}"/>
</div>
{% endraw %}
</script>

{# PRICING AND TERRITORY #}
<script id="sales-package-template" type="text/x-jsrender">
{% raw %}
<div id="sales-package-{{:id}}" class="box sales-package">
    <div class="box-title">
        Pricing and territory
    </div>
    {{if id != 1}}
    <div class="close-box" ref="#sales-package-{{:id}}">
        <i class="fa fa-window-close"></i>
    </div>
    {{/if}}
    <div class="seller-box-content">
        <div class="box-item" id="sales-method-selector">

            <div class="select-box-item-title">
                Sales method
            </div>

            <div class="select-box-item select-box-item-full">
                <div class="select-box-checkbox">
                    <input type="checkbox"
                           id="sales-package-{{:id}}-pre-defined-fee"
                           val="fee"
                           show=".predefined-fee-option"
                           hide=".price-optional"
                           class="unselect-others toggler-checkbox sales-method" />
                    <label for="sales-package-{{:id}}-pre-defined-fee"></label>
                </div>
                <div class="select-box-item-label">
                    Pre-defined fee
                </div>
            </div>

            <div class="select-box-item select-box-item-full">
                <div class="select-box-checkbox">
                    <input type="checkbox"
                           val="open-bid"
                           id="sales-package-{{:id}}-open-bid"
                           show=".bid-option"
                           hide=".price-optional"
                           class="unselect-others toggler-checkbox sales-method" />
                    <label for="sales-package-{{:id}}-open-bid"></label>
                </div>
                <div class="select-box-item-label">
                    Open bid
                </div>
            </div>

            <div class="select-box-item select-box-item-full">
                <div class="select-box-checkbox">
                    <input type="checkbox"
                           val="closed-bid"
                           id="sales-package-{{:id}}-closed-bid"
                           show=".bid-option, .closed-bid-option"
                           hide=".price-optional"
                           class="unselect-others toggler-checkbox sales-method" />
                    <label for="sales-package-{{:id}}-closed-bid"></label>
                </div>
                <div class="select-box-item-label">
                    Closed bid
                </div>
            </div>
        </div>

        <div class="box-item price-optional predefined-fee-option bid-option">
            <div class="select-box-item-title price-optional predefined-fee-option">
                Fee
            </div>

            <div class="select-box-item select-box-item-full price-optional predefined-fee-option">
                <div class="select-box-checkbox">

                </div>
                <div class="select-box-item-label">
                    <input type="number" id="sales-package-{{:id}}-fee" class="small-input custom-form-input fee" >
                    <label for="sales-package-{{:id}}-fee"></label>
                </div>
            </div>

            <div class="select-box-item-title price-optional bid-option">
                Minimum bid
            </div>

            <div class="select-box-item select-box-item-full price-optional bid-option">
                <div class="select-box-checkbox">

                </div>
                <div class="select-box-item-label">
                    <input type="number" id="sales-package-{{:id}}-minimum-bid" class="small-input custom-form-input fee" >
                    <label for="sales-package-{{:id}}-minimum-bid"></label>
                </div>
            </div>

        </div>

        <div class="box-item price-optional predefined-fee-option bid-option">
            <div class="select-box-item select-box-item-full">
                <div class="select-box-checkbox">
                    <input type="checkbox"
                           val="USD"
                           class="currency unselect-others" id="sales-package-{{:id}}-currency-usd">
                    <label for="sales-package-{{:id}}-currency-usd"></label>
                </div>
                <div class="select-box-item-label">
                    USD
                </div>
            </div>

            <div class="select-box-item select-box-item-full">
                <div class="select-box-checkbox">
                    <input type="checkbox"
                           val="EUR"
                           class="currency unselect-others" id="sales-package-{{:id}}-currency-eur">
                    <label for="sales-package-{{:id}}-currency-eur"></label>
                </div>
                <div class="select-box-item-label">
                    EUR
                </div>
            </div>
        </div>

        <div class="box-item" id="territories-selector">
            <div class="select-box-item-title">
                Territories
            </div>

            <div class="select-box-item select-box-item-full">
                <div class="select-box-checkbox">
                    <input type="checkbox"
                            val="worldwide"
                            class="territories unselect-others" id="sales-package-{{:id}}-worldwide-selector">
                    <label for="sales-package-{{:id}}-worldwide-selector"></label>
                </div>
                <div class="select-box-item-label">
                    Worldwide
                </div>
            </div>

            <div class="select-box-item select-box-item-full">
                <div class="select-box-checkbox">
                    <input type="checkbox"
                           val="selected"
                           class="territories unselect-others" id="sales-package-{{:id}}-selected-territory-selector">
                    <label for="sales-package-{{:id}}-selected-territory-selector"></label>
                </div>
                <div class="select-box-item-label">
                    Selected territories only <select type="text" id="sales-package-{{:id}}-territory-selected" data-placeholder="Choose a Country..." multiple  class="has-region-selector"></select>
                </div>
            </div>

            <div class="select-box-item select-box-item-full">
                <div class="select-box-checkbox">
                    <input type="checkbox" val="excluded" class="territories unselect-others" id="sales-package-{{:id}}-excluded-territory-selector">
                    <label for="sales-package-{{:id}}-excluded-territory-selector"></label>
                </div>
                <div class="select-box-item-label">
                    Worldwide excluding <select type="text" id="sales-package-{{:id}}-territory-excluded" data-placeholder="Choose a Country..." multiple class="has-region-selector"></select>
                </div>
            </div>
        </div>

        <div class="box-item">
            <div class="select-box-item-title">
                Package Configuration
            </div>

            <div class="select-box-item select-box-item-full ">
                <div class="select-box-checkbox">
                    <input type="checkbox" value="territories-as-package" id="sales-package-{{:id}}-territories-as-package" >
                    <label for="sales-package-{{:id}}-territories-as-package"></label>
                </div>
                <div class="select-box-item-label">
                    Sell territories as package
                </div>
            </div>

            <div class="select-box-item select-box-item-full price-optional closed-bid-option">
                <div class="select-box-checkbox">
                    <input type="checkbox" value="territories-bids" id="sales-package-{{:id}}-territory-bids">
                    <label for="sales-package-{{:id}}-territory-bids"></label>

                </div>
                <div class="select-box-item-label">
                    Allow individual bids on territories
                </div>
            </div>

            <div class="select-box-item select-box-item-full">
                <div class="select-box-item-label box-item-checkbox-list">
                    <input type="text" placeholder="Enter package name" class="sales-package-name custom-form-input" id="sales-package-{{:id}}-name">
                </div>
            </div>

            <div class="select-box-item select-box-item-full">
                <div class="select-box-item-label box-item-checkbox-list">
                    <button class="small-button add-sales-package">Add sales package</button>
                </div>
            </div>
        </div>

    </div>
</div>
{% endraw %}
</script>