<html>
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type">
    <style type="text/css">@import url('https://themes.googleusercontent.com/fonts/css?kit=fpjTOVmNbO4Lz34iLyptLcWpXo_CmM6erK5IinBZ-8N8u45WU12y72TEk3aAZtZE');

    .lst-kix_list_4-1 > li {
        counter-increment: lst-ctn-kix_list_4-1
    }

    .lst-kix_list_5-1 > li {
        counter-increment: lst-ctn-kix_list_5-1
    }

    ul.lst-kix_list_1-0 {
        list-style-type: none
    }

    .lst-kix_list_3-0 > li:before {
        content: "\0025cf  "
    }

    .lst-kix_list_3-1 > li:before {
        content: "o  "
    }

    .lst-kix_list_3-2 > li:before {
        content: "\0025aa  "
    }

    ol.lst-kix_list_6-6.start {
        counter-reset: lst-ctn-kix_list_6-6 0
    }

    .lst-kix_list_4-0 > li {
        counter-increment: lst-ctn-kix_list_4-0
    }

    .lst-kix_list_5-0 > li {
        counter-increment: lst-ctn-kix_list_5-0
    }

    .lst-kix_list_6-0 > li {
        counter-increment: lst-ctn-kix_list_6-0
    }

    ul.lst-kix_list_1-3 {
        list-style-type: none
    }

    .lst-kix_list_3-5 > li:before {
        content: "\0025aa  "
    }

    ul.lst-kix_list_1-4 {
        list-style-type: none
    }

    ul.lst-kix_list_1-1 {
        list-style-type: none
    }

    .lst-kix_list_3-4 > li:before {
        content: "o  "
    }

    ul.lst-kix_list_1-2 {
        list-style-type: none
    }

    ul.lst-kix_list_1-7 {
        list-style-type: none
    }

    .lst-kix_list_3-3 > li:before {
        content: "\0025cf  "
    }

    ul.lst-kix_list_1-8 {
        list-style-type: none
    }

    ul.lst-kix_list_1-5 {
        list-style-type: none
    }

    ul.lst-kix_list_1-6 {
        list-style-type: none
    }

    .lst-kix_list_3-8 > li:before {
        content: "\0025aa  "
    }

    ol.lst-kix_list_5-3.start {
        counter-reset: lst-ctn-kix_list_5-3 0
    }

    .lst-kix_list_3-6 > li:before {
        content: "\0025cf  "
    }

    .lst-kix_list_4-3 > li {
        counter-increment: lst-ctn-kix_list_4-3
    }

    .lst-kix_list_3-7 > li:before {
        content: "o  "
    }

    ol.lst-kix_list_4-5.start {
        counter-reset: lst-ctn-kix_list_4-5 0
    }

    ol.lst-kix_list_5-0.start {
        counter-reset: lst-ctn-kix_list_5-0 0
    }

    .lst-kix_list_5-2 > li {
        counter-increment: lst-ctn-kix_list_5-2
    }

    ol.lst-kix_list_4-2.start {
        counter-reset: lst-ctn-kix_list_4-2 0
    }

    .lst-kix_list_5-0 > li:before {
        content: "" counter(lst-ctn-kix_list_5-0, lower-latin) ". "
    }

    ol.lst-kix_list_6-0 {
        list-style-type: none
    }

    .lst-kix_list_5-4 > li {
        counter-increment: lst-ctn-kix_list_5-4
    }

    .lst-kix_list_4-4 > li {
        counter-increment: lst-ctn-kix_list_4-4
    }

    .lst-kix_list_4-8 > li:before {
        content: "" counter(lst-ctn-kix_list_4-0, decimal) "." counter(lst-ctn-kix_list_4-1, decimal) "." counter(lst-ctn-kix_list_4-2, decimal) "." counter(lst-ctn-kix_list_4-3, decimal) "." counter(lst-ctn-kix_list_4-4, decimal) "." counter(lst-ctn-kix_list_4-5, decimal) "." counter(lst-ctn-kix_list_4-6, decimal) "." counter(lst-ctn-kix_list_4-7, decimal) "." counter(lst-ctn-kix_list_4-8, decimal) ". "
    }

    .lst-kix_list_5-3 > li:before {
        content: "" counter(lst-ctn-kix_list_5-3, decimal) ". "
    }

    ol.lst-kix_list_6-4.start {
        counter-reset: lst-ctn-kix_list_6-4 0
    }

    .lst-kix_list_4-7 > li:before {
        content: "" counter(lst-ctn-kix_list_4-0, decimal) "." counter(lst-ctn-kix_list_4-1, decimal) "." counter(lst-ctn-kix_list_4-2, decimal) "." counter(lst-ctn-kix_list_4-3, decimal) "." counter(lst-ctn-kix_list_4-4, decimal) "." counter(lst-ctn-kix_list_4-5, decimal) "." counter(lst-ctn-kix_list_4-6, decimal) "." counter(lst-ctn-kix_list_4-7, decimal) ". "
    }

    .lst-kix_list_5-2 > li:before {
        content: "" counter(lst-ctn-kix_list_5-2, lower-roman) ". "
    }

    .lst-kix_list_5-1 > li:before {
        content: "" counter(lst-ctn-kix_list_5-1, lower-latin) ". "
    }

    .lst-kix_list_5-7 > li:before {
        content: "" counter(lst-ctn-kix_list_5-7, lower-latin) ". "
    }

    ol.lst-kix_list_5-6.start {
        counter-reset: lst-ctn-kix_list_5-6 0
    }

    .lst-kix_list_5-6 > li:before {
        content: "" counter(lst-ctn-kix_list_5-6, decimal) ". "
    }

    .lst-kix_list_5-8 > li:before {
        content: "" counter(lst-ctn-kix_list_5-8, lower-roman) ". "
    }

    ol.lst-kix_list_4-1.start {
        counter-reset: lst-ctn-kix_list_4-1 0
    }

    ol.lst-kix_list_4-8.start {
        counter-reset: lst-ctn-kix_list_4-8 0
    }

    ol.lst-kix_list_6-6 {
        list-style-type: none
    }

    ol.lst-kix_list_6-7 {
        list-style-type: none
    }

    .lst-kix_list_5-4 > li:before {
        content: "" counter(lst-ctn-kix_list_5-4, lower-latin) ". "
    }

    ol.lst-kix_list_6-8 {
        list-style-type: none
    }

    .lst-kix_list_5-5 > li:before {
        content: "" counter(lst-ctn-kix_list_5-5, lower-roman) ". "
    }

    ol.lst-kix_list_6-2 {
        list-style-type: none
    }

    ol.lst-kix_list_6-3 {
        list-style-type: none
    }

    ol.lst-kix_list_6-4 {
        list-style-type: none
    }

    ol.lst-kix_list_6-5 {
        list-style-type: none
    }

    .lst-kix_list_6-1 > li:before {
        content: "\0025cf  "
    }

    .lst-kix_list_6-3 > li:before {
        content: "" counter(lst-ctn-kix_list_6-3, decimal) ". "
    }

    .lst-kix_list_6-5 > li {
        counter-increment: lst-ctn-kix_list_6-5
    }

    .lst-kix_list_6-8 > li {
        counter-increment: lst-ctn-kix_list_6-8
    }

    .lst-kix_list_6-0 > li:before {
        content: "" counter(lst-ctn-kix_list_6-0, lower-latin) ". "
    }

    .lst-kix_list_6-4 > li:before {
        content: "" counter(lst-ctn-kix_list_6-4, lower-latin) ". "
    }

    ol.lst-kix_list_4-0.start {
        counter-reset: lst-ctn-kix_list_4-0 0
    }

    ol.lst-kix_list_6-3.start {
        counter-reset: lst-ctn-kix_list_6-3 0
    }

    .lst-kix_list_6-2 > li:before {
        content: "" counter(lst-ctn-kix_list_6-2, lower-roman) ". "
    }

    ol.lst-kix_list_5-5.start {
        counter-reset: lst-ctn-kix_list_5-5 0
    }

    .lst-kix_list_6-8 > li:before {
        content: "" counter(lst-ctn-kix_list_6-8, lower-roman) ". "
    }

    .lst-kix_list_6-5 > li:before {
        content: "" counter(lst-ctn-kix_list_6-5, lower-roman) ". "
    }

    .lst-kix_list_6-7 > li:before {
        content: "" counter(lst-ctn-kix_list_6-7, lower-latin) ". "
    }

    ol.lst-kix_list_4-7.start {
        counter-reset: lst-ctn-kix_list_4-7 0
    }

    .lst-kix_list_6-2 > li {
        counter-increment: lst-ctn-kix_list_6-2
    }

    .lst-kix_list_6-6 > li:before {
        content: "" counter(lst-ctn-kix_list_6-6, decimal) ". "
    }

    ol.lst-kix_list_5-0 {
        list-style-type: none
    }

    .lst-kix_list_2-6 > li:before {
        content: "\0025cf  "
    }

    .lst-kix_list_2-7 > li:before {
        content: "o  "
    }

    ol.lst-kix_list_5-1 {
        list-style-type: none
    }

    ol.lst-kix_list_5-2 {
        list-style-type: none
    }

    .lst-kix_list_2-4 > li:before {
        content: "o  "
    }

    .lst-kix_list_2-5 > li:before {
        content: "\0025aa  "
    }

    .lst-kix_list_2-8 > li:before {
        content: "\0025aa  "
    }

    ol.lst-kix_list_6-2.start {
        counter-reset: lst-ctn-kix_list_6-2 0
    }

    .lst-kix_list_6-6 > li {
        counter-increment: lst-ctn-kix_list_6-6
    }

    ol.lst-kix_list_5-4.start {
        counter-reset: lst-ctn-kix_list_5-4 0
    }

    ul.lst-kix_list_3-7 {
        list-style-type: none
    }

    ul.lst-kix_list_3-8 {
        list-style-type: none
    }

    ol.lst-kix_list_4-6.start {
        counter-reset: lst-ctn-kix_list_4-6 0
    }

    ol.lst-kix_list_5-1.start {
        counter-reset: lst-ctn-kix_list_5-1 0
    }

    ol.lst-kix_list_5-7 {
        list-style-type: none
    }

    .lst-kix_list_6-7 > li {
        counter-increment: lst-ctn-kix_list_6-7
    }

    ul.lst-kix_list_3-1 {
        list-style-type: none
    }

    ol.lst-kix_list_5-8 {
        list-style-type: none
    }

    ul.lst-kix_list_3-2 {
        list-style-type: none
    }

    .lst-kix_list_5-7 > li {
        counter-increment: lst-ctn-kix_list_5-7
    }

    ul.lst-kix_list_3-0 {
        list-style-type: none
    }

    ol.lst-kix_list_4-3.start {
        counter-reset: lst-ctn-kix_list_4-3 0
    }

    ol.lst-kix_list_5-3 {
        list-style-type: none
    }

    ul.lst-kix_list_3-5 {
        list-style-type: none
    }

    .lst-kix_list_4-7 > li {
        counter-increment: lst-ctn-kix_list_4-7
    }

    ol.lst-kix_list_5-4 {
        list-style-type: none
    }

    ul.lst-kix_list_3-6 {
        list-style-type: none
    }

    ol.lst-kix_list_5-5 {
        list-style-type: none
    }

    ul.lst-kix_list_3-3 {
        list-style-type: none
    }

    ol.lst-kix_list_5-6 {
        list-style-type: none
    }

    ul.lst-kix_list_3-4 {
        list-style-type: none
    }

    .lst-kix_list_5-8 > li {
        counter-increment: lst-ctn-kix_list_5-8
    }

    .lst-kix_list_4-0 > li:before {
        content: "" counter(lst-ctn-kix_list_4-0, decimal) ". "
    }

    .lst-kix_list_4-1 > li:before {
        content: "" counter(lst-ctn-kix_list_4-0, decimal) "." counter(lst-ctn-kix_list_4-1, decimal) ". "
    }

    ol.lst-kix_list_6-8.start {
        counter-reset: lst-ctn-kix_list_6-8 0
    }

    .lst-kix_list_4-6 > li {
        counter-increment: lst-ctn-kix_list_4-6
    }

    .lst-kix_list_4-4 > li:before {
        content: "" counter(lst-ctn-kix_list_4-0, decimal) "." counter(lst-ctn-kix_list_4-1, decimal) "." counter(lst-ctn-kix_list_4-2, decimal) "." counter(lst-ctn-kix_list_4-3, decimal) "." counter(lst-ctn-kix_list_4-4, decimal) ". "
    }

    .lst-kix_list_4-3 > li:before {
        content: "" counter(lst-ctn-kix_list_4-0, decimal) "." counter(lst-ctn-kix_list_4-1, decimal) "." counter(lst-ctn-kix_list_4-2, decimal) "." counter(lst-ctn-kix_list_4-3, decimal) ". "
    }

    .lst-kix_list_4-5 > li:before {
        content: "" counter(lst-ctn-kix_list_4-0, decimal) "." counter(lst-ctn-kix_list_4-1, decimal) "." counter(lst-ctn-kix_list_4-2, decimal) "." counter(lst-ctn-kix_list_4-3, decimal) "." counter(lst-ctn-kix_list_4-4, decimal) "." counter(lst-ctn-kix_list_4-5, decimal) ". "
    }

    ol.lst-kix_list_6-5.start {
        counter-reset: lst-ctn-kix_list_6-5 0
    }

    .lst-kix_list_4-2 > li:before {
        content: "" counter(lst-ctn-kix_list_4-0, decimal) "." counter(lst-ctn-kix_list_4-1, decimal) "." counter(lst-ctn-kix_list_4-2, decimal) ". "
    }

    .lst-kix_list_4-6 > li:before {
        content: "" counter(lst-ctn-kix_list_4-0, decimal) "." counter(lst-ctn-kix_list_4-1, decimal) "." counter(lst-ctn-kix_list_4-2, decimal) "." counter(lst-ctn-kix_list_4-3, decimal) "." counter(lst-ctn-kix_list_4-4, decimal) "." counter(lst-ctn-kix_list_4-5, decimal) "." counter(lst-ctn-kix_list_4-6, decimal) ". "
    }

    ol.lst-kix_list_5-7.start {
        counter-reset: lst-ctn-kix_list_5-7 0
    }

    .lst-kix_list_5-5 > li {
        counter-increment: lst-ctn-kix_list_5-5
    }

    ol.lst-kix_list_4-0 {
        list-style-type: none
    }

    ol.lst-kix_list_4-1 {
        list-style-type: none
    }

    ol.lst-kix_list_4-4.start {
        counter-reset: lst-ctn-kix_list_4-4 0
    }

    ol.lst-kix_list_4-2 {
        list-style-type: none
    }

    ol.lst-kix_list_4-3 {
        list-style-type: none
    }

    .lst-kix_list_6-4 > li {
        counter-increment: lst-ctn-kix_list_6-4
    }

    ol.lst-kix_list_6-7.start {
        counter-reset: lst-ctn-kix_list_6-7 0
    }

    .lst-kix_list_6-3 > li {
        counter-increment: lst-ctn-kix_list_6-3
    }

    .lst-kix_list_5-3 > li {
        counter-increment: lst-ctn-kix_list_5-3
    }

    ul.lst-kix_list_2-8 {
        list-style-type: none
    }

    ol.lst-kix_list_4-8 {
        list-style-type: none
    }

    ul.lst-kix_list_2-2 {
        list-style-type: none
    }

    .lst-kix_list_1-0 > li:before {
        content: "\0025cf  "
    }

    ul.lst-kix_list_2-3 {
        list-style-type: none
    }

    ul.lst-kix_list_2-0 {
        list-style-type: none
    }

    ul.lst-kix_list_2-1 {
        list-style-type: none
    }

    ol.lst-kix_list_4-4 {
        list-style-type: none
    }

    ul.lst-kix_list_2-6 {
        list-style-type: none
    }

    ol.lst-kix_list_4-5 {
        list-style-type: none
    }

    .lst-kix_list_1-1 > li:before {
        content: "o  "
    }

    .lst-kix_list_1-2 > li:before {
        content: "\0025aa  "
    }

    ul.lst-kix_list_2-7 {
        list-style-type: none
    }

    ol.lst-kix_list_4-6 {
        list-style-type: none
    }

    ul.lst-kix_list_2-4 {
        list-style-type: none
    }

    ol.lst-kix_list_4-7 {
        list-style-type: none
    }

    ul.lst-kix_list_6-1 {
        list-style-type: none
    }

    ul.lst-kix_list_2-5 {
        list-style-type: none
    }

    .lst-kix_list_1-3 > li:before {
        content: "\0025cf  "
    }

    .lst-kix_list_1-4 > li:before {
        content: "o  "
    }

    .lst-kix_list_4-8 > li {
        counter-increment: lst-ctn-kix_list_4-8
    }

    .lst-kix_list_1-7 > li:before {
        content: "o  "
    }

    ol.lst-kix_list_5-8.start {
        counter-reset: lst-ctn-kix_list_5-8 0
    }

    .lst-kix_list_1-5 > li:before {
        content: "\0025aa  "
    }

    .lst-kix_list_1-6 > li:before {
        content: "\0025cf  "
    }

    .lst-kix_list_5-6 > li {
        counter-increment: lst-ctn-kix_list_5-6
    }

    .lst-kix_list_2-0 > li:before {
        content: "\0025cf  "
    }

    .lst-kix_list_2-1 > li:before {
        content: "o  "
    }

    ol.lst-kix_list_6-0.start {
        counter-reset: lst-ctn-kix_list_6-0 0
    }

    .lst-kix_list_4-5 > li {
        counter-increment: lst-ctn-kix_list_4-5
    }

    .lst-kix_list_1-8 > li:before {
        content: "\0025aa  "
    }

    .lst-kix_list_2-2 > li:before {
        content: "\0025aa  "
    }

    .lst-kix_list_2-3 > li:before {
        content: "\0025cf  "
    }

    .lst-kix_list_4-2 > li {
        counter-increment: lst-ctn-kix_list_4-2
    }

    ol.lst-kix_list_5-2.start {
        counter-reset: lst-ctn-kix_list_5-2 0
    }

    ol {
        margin: 0;
        padding: 0
    }

    table td, table th {
        padding: 0
    }

    .c32 {
        border-right-style: solid;
        padding: 2pt 2pt 2pt 2pt;
        border-bottom-color: #cccccc;
        border-top-width: 1pt;
        border-right-width: 1pt;
        border-left-color: #cccccc;
        vertical-align: bottom;
        border-right-color: #000000;
        border-left-width: 1pt;
        border-top-style: solid;
        background-color: #ffffff;
        border-left-style: solid;
        border-bottom-width: 1pt;
        width: 352.5pt;
        border-top-color: #000000;
        border-bottom-style: solid
    }

    .c20 {
        border-right-style: solid;
        padding: 2pt 2pt 2pt 2pt;
        border-bottom-color: #cccccc;
        border-top-width: 1pt;
        border-right-width: 1pt;
        border-left-color: #cccccc;
        vertical-align: bottom;
        border-right-color: #000000;
        border-left-width: 1pt;
        border-top-style: solid;
        background-color: #ffffff;
        border-left-style: solid;
        border-bottom-width: 1pt;
        width: 352.5pt;
        border-top-color: #cccccc;
        border-bottom-style: solid
    }

    .c25 {
        border-right-style: solid;
        padding: 2pt 2pt 2pt 2pt;
        border-bottom-color: #cccccc;
        border-top-width: 1pt;
        border-right-width: 1pt;
        border-left-color: #cccccc;
        vertical-align: middle;
        border-right-color: #cccccc;
        border-left-width: 1pt;
        border-top-style: solid;
        border-left-style: solid;
        border-bottom-width: 1pt;
        width: 101.2pt;
        border-top-color: #cccccc;
        border-bottom-style: solid
    }

    .c51 {
        border-right-style: solid;
        padding: 2pt 2pt 2pt 2pt;
        border-bottom-color: #cccccc;
        border-top-width: 1pt;
        border-right-width: 1pt;
        border-left-color: #cccccc;
        vertical-align: bottom;
        border-right-color: #cccccc;
        border-left-width: 1pt;
        border-top-style: solid;
        border-left-style: solid;
        border-bottom-width: 1pt;
        width: 101.2pt;
        border-top-color: #cccccc;
        border-bottom-style: solid
    }

    .c0 {
        border-right-style: solid;
        padding: 2pt 2pt 2pt 2pt;
        border-bottom-color: #cccccc;
        border-top-width: 1pt;
        border-right-width: 1pt;
        border-left-color: #cccccc;
        vertical-align: top;
        border-right-color: #cccccc;
        border-left-width: 1pt;
        border-top-style: solid;
        border-left-style: solid;
        border-bottom-width: 1pt;
        width: 101.2pt;
        border-top-color: #cccccc;
        border-bottom-style: solid
    }

    .c2 {
        border-right-style: solid;
        padding: 2pt 2pt 2pt 2pt;
        border-bottom-color: #cccccc;
        border-top-width: 1pt;
        border-right-width: 1pt;
        border-left-color: #cccccc;
        vertical-align: top;
        border-right-color: #cccccc;
        border-left-width: 1pt;
        border-top-style: solid;
        border-left-style: solid;
        border-bottom-width: 1pt;
        width: 352.5pt;
        border-top-color: #cccccc;
        border-bottom-style: solid
    }

    .c16 {
        border-right-style: solid;
        padding: 2pt 2pt 2pt 2pt;
        border-bottom-color: #cccccc;
        border-top-width: 1pt;
        border-right-width: 1pt;
        border-left-color: #cccccc;
        vertical-align: bottom;
        border-right-color: #cccccc;
        border-left-width: 1pt;
        border-top-style: solid;
        border-left-style: solid;
        border-bottom-width: 1pt;
        width: 352.5pt;
        border-top-color: #cccccc;
        border-bottom-style: solid
    }

    .c10 {
        -webkit-text-decoration-skip: none;
        color: #000000;
        font-weight: 400;
        text-decoration: underline;
        vertical-align: baseline;
        text-decoration-skip-ink: none;
        font-size: 11pt;
        font-family: "Arial";
        font-style: normal
    }

    .c21 {
        -webkit-text-decoration-skip: none;
        color: #000000;
        font-weight: 700;
        text-decoration: underline;
        vertical-align: baseline;
        text-decoration-skip-ink: none;
        font-size: 11pt;
        font-family: "Arial";
        font-style: normal
    }

    .c17 {
        margin-left: 18pt;
        padding-top: 0pt;
        padding-left: 10.4pt;
        padding-bottom: 0pt;
        line-height: 1.1500000000000001;
        orphans: 2;
        widows: 2;
        text-align: justify
    }

    .c24 {
        margin-left: 46.3pt;
        padding-top: 0pt;
        padding-left: -3.8pt;
        padding-bottom: 0pt;
        line-height: 1.1500000000000001;
        orphans: 2;
        widows: 2;
        text-align: justify
    }

    .c29 {
        margin-left: 28.3pt;
        padding-top: 0pt;
        text-indent: -28.3pt;
        padding-bottom: 0pt;
        line-height: 1.1500000000000001;
        orphans: 2;
        widows: 2;
        text-align: justify
    }

    .c53 {
        color: #000000;
        font-weight: 400;
        text-decoration: none;
        vertical-align: baseline;
        font-size: 12pt;
        font-family: "Calibri";
        font-style: normal
    }

    .c6 {
        color: #000000;
        font-weight: 400;
        text-decoration: none;
        vertical-align: baseline;
        font-size: 10pt;
        font-family: "Arial";
        font-style: normal
    }

    .c8 {
        padding-top: 0pt;
        padding-bottom: 0pt;
        line-height: 1.1500000000000001;
        orphans: 2;
        widows: 2;
        text-align: justify;
        height: 12pt
    }

    .c15 {
        margin-left: -7.6pt;
        padding-top: 0pt;
        padding-bottom: 0pt;
        line-height: 1.1500000000000001;
        orphans: 2;
        widows: 2;
        text-align: justify
    }

    .c30 {
        color: #000000;
        font-weight: 700;
        text-decoration: none;
        vertical-align: baseline;
        font-size: 11pt;
        font-family: "Arial";
        font-style: normal
    }

    .c18 {
        color: #000000;
        font-weight: 700;
        text-decoration: none;
        vertical-align: baseline;
        font-size: 18pt;
        font-family: "Arial";
        font-style: normal
    }

    .c48 {
        color: #000000;
        font-weight: 400;
        text-decoration: none;
        vertical-align: baseline;
        font-size: 12pt;
        font-family: "Times New Roman";
        font-style: normal
    }

    .c4 {
        color: #000000;
        font-weight: 400;
        text-decoration: none;
        vertical-align: baseline;
        font-size: 11pt;
        font-family: "Arial";
        font-style: normal
    }

    .c1 {
        color: #000000;
        font-weight: 400;
        text-decoration: none;
        vertical-align: baseline;
        font-size: 11pt;
        font-family: "Roboto";
        font-style: normal
    }

    .c35 {
        color: #000000;
        font-weight: 400;
        text-decoration: none;
        vertical-align: baseline;
        font-size: 12pt;
        font-family: "Arial";
        font-style: normal
    }

    .c26 {
        padding-top: 0pt;
        padding-bottom: 0pt;
        line-height: 1.0;
        orphans: 2;
        widows: 2;
        text-align: center
    }

    .c44 {
        -webkit-text-decoration-skip: none;
        font-weight: 700;
        text-decoration: underline;
        text-decoration-skip-ink: none;
        font-size: 11pt;
        font-family: "Arial"
    }

    .c38 {
        margin-left: 36pt;
        padding-top: 0pt;
        padding-bottom: 0pt;
        line-height: 1.1500000000000001;
        text-align: justify
    }

    .c45 {
        padding-top: 0pt;
        padding-bottom: 0pt;
        line-height: 1.0;
        text-align: right
    }

    .c31 {
        padding-top: 0pt;
        padding-bottom: 0pt;
        line-height: 1.0;
        text-align: left
    }

    .c43 {
        padding-top: 0pt;
        padding-bottom: 0pt;
        line-height: 1.5;
        text-align: justify
    }

    .c52 {
        border-spacing: 0;
        border-collapse: collapse;
        margin-right: auto
    }

    .c11 {
        font-size: 11pt;
        font-family: "Arial";
        color: #000000;
        font-weight: 400
    }

    .c47 {
        padding-top: 0pt;
        padding-bottom: 0pt;
        line-height: 1.1500000000000001;
        text-align: left
    }

    .c3 {
        padding-top: 0pt;
        padding-bottom: 0pt;
        line-height: 1.15;
        text-align: left
    }

    .c9 {
        padding-top: 0pt;
        padding-bottom: 0pt;
        line-height: 1.15;
        text-align: justify
    }

    .c42 {
        padding-top: 0pt;
        padding-bottom: 0pt;
        line-height: 1.1500000000000001;
        text-align: justify
    }

    .c7 {
        font-size: 11pt;
        font-family: "Roboto";
        font-weight: 400
    }

    .c12 {
        font-size: 11pt;
        font-family: "Arial";
        font-weight: 400
    }

    .c39 {
        background-color: #ffffff;
        max-width: 453.3pt;
        padding: 70.8pt 70.8pt 56.7pt 70.8pt
    }

    .c40 {
        margin-left: 35pt;
        text-indent: -35pt
    }

    .c14 {
        margin-left: 28.4pt;
        text-indent: -28.4pt
    }

    .c5 {
        padding: 0;
        margin: 0
    }

    .c33 {
        orphans: 2;
        widows: 2
    }

    .c41 {
        border: 1px solid black;
        margin: 5px
    }

    .c23 {
        height: 27pt
    }

    .c28 {
        margin-left: 28.4pt
    }

    .c36 {
        background-color: #ffff00
    }

    .c27 {
        margin-left: -7.6pt
    }

    .c19 {
        height: 15pt
    }

    .c49 {
        height: 29pt
    }

    .c13 {
        text-indent: -36pt
    }

    .c46 {
        height: 0pt
    }

    .c22 {
        margin-left: 39.6pt
    }

    .c50 {
        height: 39pt
    }

    .c37 {
        height: 12pt
    }

    .c34 {
        height: 52pt
    }

    .title {
        padding-top: 24pt;
        color: #000000;
        font-weight: 700;
        font-size: 36pt;
        padding-bottom: 6pt;
        font-family: "Calibri";
        line-height: 1.0;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left
    }

    .subtitle {
        padding-top: 18pt;
        color: #666666;
        font-size: 24pt;
        padding-bottom: 4pt;
        font-family: "Georgia";
        line-height: 1.0;
        page-break-after: avoid;
        font-style: italic;
        orphans: 2;
        widows: 2;
        text-align: left
    }

    li {
        color: #000000;
        font-size: 12pt;
        font-family: "Calibri"
    }

    p {
        margin: 0;
        color: #000000;
        font-size: 12pt;
        font-family: "Calibri"
    }

    h1 {
        padding-top: 12pt;
        color: #000000;
        font-weight: 700;
        font-size: 16pt;
        padding-bottom: 3pt;
        font-family: "Arial";
        line-height: 1.5;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: justify
    }

    h2 {
        padding-top: 18pt;
        color: #000000;
        font-weight: 700;
        font-size: 18pt;
        padding-bottom: 4pt;
        font-family: "Calibri";
        line-height: 1.0;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left
    }

    h3 {
        padding-top: 14pt;
        color: #000000;
        font-weight: 700;
        font-size: 14pt;
        padding-bottom: 4pt;
        font-family: "Calibri";
        line-height: 1.0;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left
    }

    h4 {
        padding-top: 12pt;
        color: #000000;
        font-weight: 700;
        font-size: 12pt;
        padding-bottom: 2pt;
        font-family: "Calibri";
        line-height: 1.0;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left
    }

    h5 {
        padding-top: 11pt;
        color: #000000;
        font-weight: 700;
        font-size: 11pt;
        padding-bottom: 2pt;
        font-family: "Calibri";
        line-height: 1.0;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left
    }

    h6 {
        padding-top: 10pt;
        color: #000000;
        font-weight: 700;
        font-size: 10pt;
        padding-bottom: 2pt;
        font-family: "Calibri";
        line-height: 1.0;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left
    }

    .watermark {
        display: block;
        position: relative;
    }

    .watermark::after {
        content: "";
        background:url({{ hostUrl }}bundles/app/images/watermark.png);
        background-size: 50%;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;
    }

    </style>
</head>
<body class="c39 license {% if watermark %}watermark{% endif %}">

<p class="c26" id="h.gjdgxs"><span class="c18">General Terms and Conditions </span></p>
<p class="c8"><span class="c4"></span></p>
<ol class="c5 lst-kix_list_4-0 start" start="1">
    <li class="c17"><span class="c21">Definitions</span></li>
</ol>
<p class="c8 c27"><span class="c21"></span></p><a id="t.44e09927736568a36f8199592e69224b6f0375c7"></a><a id="t.0"></a>
<table class="c52">
    <tbody>
    <tr class="c46">
        <td class="c0" colspan="1" rowspan="1"><p class="c3"><span class="c7">Live Transmission Rights</span></p></td>
        <td class="c32" colspan="1" rowspan="1"><p class="c3"><span class="c7">means the right to a real-time (subject to latency) Transmission of the Program other than in betting shops and on betting platforms;</span>
        </p></td>
    </tr>
    <tr class="c23">
        <td class="c0" colspan="1" rowspan="1"><p class="c3"><span class="c7">Delayed Transmission Rights</span></p>
        </td>
        <td class="c20" colspan="1" rowspan="1"><p class="c3"><span class="c7">means the right to a full-length delayed Transmission of the Program commencing not before end of the respective Single Event; </span>
        </p></td>
    </tr>
    <tr class="c23">
        <td class="c0" colspan="1" rowspan="1"><p class="c3"><span class="c7">Live Betting Rights</span></p></td>
        <td class="c16" colspan="1" rowspan="1"><p class="c3"><span class="c7">means the right to real-time (subject to latency) Transmission of the Program in betting shops and on betting platforms;</span>
        </p></td>
    </tr>
    <tr class="c23">
        <td class="c0" colspan="1" rowspan="1"><p class="c3"><span class="c7">Highlight &amp; Clip Rights</span></p>
        </td>
        <td class="c16" colspan="1" rowspan="1"><p class="c3"><span class="c7">means the right to a Transmission of footage of the Program in a length specified in the Rights Specification;</span>
        </p></td>
    </tr>
    <tr class="c19">
        <td class="c0" colspan="1" rowspan="1"><p class="c3"><span class="c7">News Access Right</span></p></td>
        <td class="c16" colspan="1" rowspan="1"><p class="c3"><span class="c7">means the right to a Transmission of footage of the Program in a length specified in the Rights Specification;</span>
        </p></td>
    </tr>
    <tr class="c19">
        <td class="c0" colspan="1" rowspan="1"><p class="c3"><span class="c7">Edited Program Rights</span></p></td>
        <td class="c16" colspan="1" rowspan="1"><p class="c3"><span class="c7">means the right to a Transmission of the Edited Program;</span>
        </p></td>
    </tr>
    <tr class="c19">
        <td class="c0" colspan="1" rowspan="1"><p class="c3"><span class="c1">Edited Program</span></p></td>
        <td class="c16" colspan="1" rowspan="1"><p class="c3"><span class="c1">means a Program that is edited and delivered to Licensee ready for Transmission and that may not be edited by Licensee; </span>
        </p></td>
    </tr>
    <tr class="c19">
        <td class="c0" colspan="1" rowspan="1"><p class="c3"><span class="c7">Transmission Means</span></p></td>
        <td class="c2" colspan="1" rowspan="1"><p class="c3"><span class="c7">means the technical means on which Licensee may Transmit Program as per Rights Specification;</span>
        </p></td>
    </tr>
    <tr class="c50">
        <td class="c0" colspan="1" rowspan="1"><p class="c3"><span class="c7">Cable &amp; IPTV Transmission</span></p>
        </td>
        <td class="c2" colspan="1" rowspan="1"><p class="c3"><span class="c1">means the analogue or digital Transmission by way of coaxial, fibre-optic or any other form of cable, or by means of microwave dish systems (commonly known as MMDS or wireless cable), master antenna television systems (MATV) and satellite master antenna systems (SMATV); means the process of transmitting and broadcasting the Content within television programs solely available to a closed circuit of potential users/subscribers through the Internet using Internet Protocol (IP);</span>
        </p></td>
    </tr>
    <tr class="c23">
        <td class="c0" colspan="1" rowspan="1"><p class="c3"><span class="c7">Satellite Transmission</span></p></td>
        <td class="c2" colspan="1" rowspan="1"><p class="c3"><span class="c7">means analogue or digital Transmission by way of a satellite system whereby such signal is initially Transmitted to a satellite situated beyond the earth&rsquo;s atmosphere and is subsequently re-transmitted by transponders or similar devices for reception by a satellite dish at the place where the viewer will view such Transmission;</span>
        </p></td>
    </tr>
    <tr class="c23">
        <td class="c0" colspan="1" rowspan="1"><p class="c3"><span class="c7">Digital Terrestrial Transmission</span>
        </p></td>
        <td class="c20" colspan="1" rowspan="1"><p class="c3"><span class="c7">means the analogue or digital Transmission by way of wireless telegraphy signals (e.g. DVB T), which are Transmitted by fixed land-based transmission stations;</span>
        </p></td>
    </tr>
    <tr class="c19">
        <td class="c0" colspan="1" rowspan="1"><p class="c3"><span class="c7">OTT</span></p></td>
        <td class="c2" colspan="1" rowspan="1"><p class="c3"><span class="c7">means a service that provides the Program via internet delivery and on internet enabled platforms with or without a multiple system operator being involved in the distribution of the service; </span>
        </p></td>
    </tr>
    <tr class="c23">
        <td class="c0" colspan="1" rowspan="1"><p class="c3"><span class="c7">Internet Transmission</span></p></td>
        <td class="c2" colspan="1" rowspan="1"><p class="c3"><span class="c7">means the digital Transmission of the Program by way of any telecommunication system utilizing TCP/IP protocols and/or related protocols including (i) OTT &nbsp;(ii) Transmission on a website or (iii) Transmission on Social Media Platforms, but excluding the IPTV transmission; </span>
        </p></td>
    </tr>
    <tr class="c34">
        <td class="c0" colspan="1" rowspan="1"><p class="c3"><span class="c7">Mobile Transmission</span></p></td>
        <td class="c2" colspan="1" rowspan="1"><p class="c3"><span class="c1">means the digital Transmission through a wireless standard or technology including by way of: (i) General Packet Radio Services (GPRS), Global System for Mobile Communications (GSM), Enhanced Data GSM Environment (EDGE), Code Division Multiple Access (CDMA), High Speed Circuit Switched Data (HSCSD), Personal Communications Networks (PCN), Wireless Application Protocol (WAP), Universal Mobile Telecommunications System (UMTS), Bluetooth, Wi-Fi, Digital Video Broadcasting &ndash; Handheld (DVB-H), Integrated Services Digital Broadcasting (ISDB) and Digital Mobile Broadcasting (DMB); and (ii) any other wireless telecommunications technology;</span>
        </p></td>
    </tr>
    <tr class="c19">
        <td class="c0" colspan="1" rowspan="1"><p class="c3"><span class="c7">Exploitation Form</span></p></td>
        <td class="c2" colspan="1" rowspan="1"><p class="c3"><span class="c7">means the form of exploitation for which the Audio-visual Rights to the Program is granted;</span>
        </p></td>
    </tr>
    <tr class="c23">
        <td class="c0" colspan="1" rowspan="1"><p class="c3"><span class="c7">Free Transmission</span></p></td>
        <td class="c2" colspan="1" rowspan="1"><p class="c3"><span class="c1">means, in relation to the Transmission Means to which it is applied, that the Program may be intelligibly received by recipients without any payment other than fees or taxes imposed by any state or local government (or agency thereof) for ownership of, or for general reception of, or access to, such service or channel (or package of services or channels);</span>
        </p></td>
    </tr>
    <tr class="c34">
        <td class="c0" colspan="1" rowspan="1"><p class="c3"><span class="c7">Pay only</span></p></td>
        <td class="c2" colspan="1" rowspan="1"><p class="c3"><span class="c1">means, in relation to the Transmission Means to which it is applied, that the Program may be intelligibly received by recipients on payment of a fee, subscription or other charge (other than fees or taxes imposed by any state or local government (or agency thereof)) for ownership of, or for general reception of or access to, such service or channel (or package of services or channels). This also comprises PPV (Pay-Per-View) Transmission which means that the Program may be intelligibly received by recipients in such a way that a charge or charges are levied on a per program, per occasion, per day (or other period) or per package basis above a standard subscription or channel payment;</span>
        </p></td>
    </tr>
    <tr class="c19">
        <td class="c0" colspan="1" rowspan="1"><p class="c3"><span class="c7">Inship/Inflight Right</span></p></td>
        <td class="c2" colspan="1" rowspan="1"><p class="c3"><span class="c7">means the right to Transmit the Program in planes and ship;</span>
        </p></td>
    </tr>
    <tr class="c23">
        <td class="c0" colspan="1" rowspan="1"><p class="c3"><span class="c7">Closed Circuit </span></p></td>
        <td class="c2" colspan="1" rowspan="1"><p class="c3"><span class="c1">means the right to Transmit the Program by means of any closed-circuit delivery system to closed user groups such as hotels, restaurants, bars, educational institutions, hospitals, oil rigs, airplanes, cruise ships and other transportation services, and within private intranet groups and virtual private networks other than in betting shops, planes and ships;</span>
        </p></td>
    </tr>
    <tr class="c19">
        <td class="c0" colspan="1" rowspan="1"><p class="c3"><span class="c7">Reserved Rights</span></p></td>
        <td class="c20" colspan="1" rowspan="1"><p class="c3"><span class="c7">means the Audio-visual Rights to the Program that may be exploited by Licensor and its sublicensee irrespective of any exclusivity granted;</span>
        </p></td>
    </tr>
    <tr class="c19">
        <td class="c0" colspan="1" rowspan="1"><p class="c3"><span class="c7">Time Embargo</span></p></td>
        <td class="c2" colspan="1" rowspan="1"><p class="c3"><span class="c7">means a specific time after the Event or Single Event until the Licensee is not entitled to Transmit the Program;</span>
        </p></td>
    </tr>
    <tr class="c19">
        <td class="c0" colspan="1" rowspan="1"><p class="c3"><span class="c7">License Period</span></p></td>
        <td class="c2" colspan="1" rowspan="1"><p class="c3"><span class="c7">means the time period in which the specific Program may be exploited;</span>
        </p></td>
    </tr>
    <tr class="c19">
        <td class="c0" colspan="1" rowspan="1"><p class="c3"><span class="c7">Number of Runs</span></p></td>
        <td class="c2" colspan="1" rowspan="1"><p class="c3"><span class="c7">means the number of Transmission of the Program;</span>
        </p></td>
    </tr>
    <tr class="c19">
        <td class="c0" colspan="1" rowspan="1"><p class="c3"><span class="c7">Transmission Obligation</span></p></td>
        <td class="c2" colspan="1" rowspan="1"><p class="c3"><span class="c7">means the obligation to a specific Transmission of the Program;</span>
        </p></td>
    </tr>
    <tr class="c19">
        <td class="c0" colspan="1" rowspan="1"><p class="c3"><span class="c7">Term</span></p></td>
        <td class="c2" colspan="1" rowspan="1"><p class="c3"><span class="c7">means term of the License Agreement as defined in clause 2.1 of the General Terms and Conditions;</span>
        </p></td>
    </tr>
    <tr class="c19">
        <td class="c0" colspan="1" rowspan="1"><p class="c3"><span class="c1">License Period</span></p></td>
        <td class="c2" colspan="1" rowspan="1"><p class="c3"><span class="c1">means the period in which the Grated Rights may be exploited as per clause 7. of the Schedule subject to Exploitation Window;</span>
        </p></td>
    </tr>
    <tr class="c19">
        <td class="c0" colspan="1" rowspan="1"><p class="c3"><span class="c1">Exploitation Window</span></p></td>
        <td class="c2" colspan="1" rowspan="1"><p class="c3"><span class="c1">means the specific time frame within the License Period in which the specific right may be exploited;</span>
        </p></td>
    </tr>
    <tr class="c23">
        <td class="c0" colspan="1" rowspan="1"><p class="c3"><span class="c7">Right to Sublicense</span></p></td>
        <td class="c2" colspan="1" rowspan="1"><p class="c3"><span class="c1">means the right to sublicense the granted Audio-visual Rights to a third party subject to (i) Licensee being liable for the acts or omissions of each sub-licensee regarding the exploitation of Audio-visual Rights as if such acts or omissions were the acts or omissions of Licensee and (ii) Licensee remaining fully liable for all their obligations set out in this Agreement towards Licensor;</span>
        </p></td>
    </tr>
    <tr class="c19">
        <td class="c0" colspan="1" rowspan="1"><p class="c3"><span class="c7">Video Standard</span></p></td>
        <td class="c2" colspan="1" rowspan="1"><p class="c3"><span
                class="c7">means the format of the Delivered Content;</span></p></td>
    </tr>
    <tr class="c19">
        <td class="c0" colspan="1" rowspan="1"><p class="c3"><span class="c7">SD</span></p></td>
        <td class="c16" colspan="1" rowspan="1"><p class="c3"><span class="c7">576i / 480i</span></p></td>
    </tr>
    <tr class="c19">
        <td class="c0" colspan="1" rowspan="1"><p class="c3"><span class="c7">HD</span></p></td>
        <td class="c16" colspan="1" rowspan="1"><p class="c3"><span class="c7">720i/1080i/1080p</span></p></td>
    </tr>
    <tr class="c19">
        <td class="c0" colspan="1" rowspan="1"><p class="c3"><span class="c7">UHD</span></p></td>
        <td class="c16" colspan="1" rowspan="1"><p class="c3"><span class="c7">3840x2160/7680x4320, 4K,8K</span></p>
        </td>
    </tr>
    <tr class="c19">
        <td class="c0" colspan="1" rowspan="1"><p class="c3"><span class="c1">Effective Date </span></p></td>
        <td class="c16" colspan="1" rowspan="1"><p class="c3"><span class="c1">means the date both Parties have signed the License Agreement;</span>
        </p></td>
    </tr>
    <tr class="c19">
        <td class="c0" colspan="1" rowspan="1"><p class="c3"><span class="c1">Licensor</span></p></td>
        <td class="c16" colspan="1" rowspan="1"><p class="c3"><span class="c1">means the Party who license Audio-visual Rights to Licensee;</span>
        </p></td>
    </tr>
    <tr class="c19">
        <td class="c0" colspan="1" rowspan="1"><p class="c3"><span class="c1">Licensee</span></p></td>
        <td class="c16" colspan="1" rowspan="1"><p class="c3"><span class="c1">means the Party who acquire Audiovisual Rights form Licensor;</span>
        </p></td>
    </tr>
    <tr class="c19">
        <td class="c0" colspan="1" rowspan="1"><p class="c3"><span class="c1">Parties</span></p></td>
        <td class="c16" colspan="1" rowspan="1"><p class="c3"><span class="c1">means the parties who is a subject matter of the License Agreement; </span>
        </p></td>
    </tr>
    <tr class="c19">
        <td class="c0" colspan="1" rowspan="1"><p class="c3"><span class="c1">Party </span></p></td>
        <td class="c16" colspan="1" rowspan="1"><p class="c3"><span class="c1">means a party who is a subject matter of the License Agreement; </span>
        </p></td>
    </tr>
    <tr class="c19">
        <td class="c0" colspan="1" rowspan="1"><p class="c3"><span class="c1">Event </span></p></td>
        <td class="c16" colspan="1" rowspan="1"><p class="c3"><span class="c1">means a (sport) event and/or competition to which the Program refers;</span>
        </p></td>
    </tr>
    <tr class="c49">
        <td class="c0" colspan="1" rowspan="1"><p class="c3"><span class="c1">Audio-visual Rights </span></p></td>
        <td class="c16" colspan="1" rowspan="1"><p class="c43"><span class="c4">means the right to Transmit audio-visual content;</span>
        </p>
            <p class="c3 c37"><span class="c35"></span></p></td>
    </tr>
    <tr class="c19">
        <td class="c0" colspan="1" rowspan="1"><p class="c3"><span class="c1">Program </span></p></td>
        <td class="c16" colspan="1" rowspan="1"><p class="c3"><span class="c1">means the Event or audio-visual content / program to which Licensor grants rights;</span>
        </p></td>
    </tr>
    <tr class="c19">
        <td class="c0" colspan="1" rowspan="1"><p class="c3"><span class="c1">Territory</span></p></td>
        <td class="c16" colspan="1" rowspan="1"><p class="c3"><span class="c1">means the territory or territories for which Audio-visual Rights to the Program is/are granted as per the License Agreement;</span>
        </p></td>
    </tr>
    <tr class="c19">
        <td class="c0" colspan="1" rowspan="1"><p class="c3"><span class="c1">License Agreement</span></p></td>
        <td class="c16" colspan="1" rowspan="1"><p class="c3"><span
                class="c1">means this agreement between the Parties;</span></p></td>
    </tr>
    <tr class="c19">
        <td class="c0" colspan="1" rowspan="1"><p class="c3"><span class="c1">Rights Specifications</span></p></td>
        <td class="c16" colspan="1" rowspan="1"><p class="c3"><span class="c1">means specification of the Audio-visual Rights to the Program;</span>
        </p></td>
    </tr>
    <tr class="c19">
        <td class="c0" colspan="1" rowspan="1"><p class="c3"><span class="c1">Licensed Languages</span></p></td>
        <td class="c16" colspan="1" rowspan="1"><p class="c3"><span class="c1">means the language in which Licensee my exploit the Granted Rights; </span>
        </p></td>
    </tr>
    <tr class="c19">
        <td class="c0" colspan="1" rowspan="1"><p class="c3"><span class="c1">General Terms and Conditions</span></p>
        </td>
        <td class="c16" colspan="1" rowspan="1"><p class="c3"><span class="c1">means this General Terms and Conditions that together wit the Schedule form the License Agreement;</span>
        </p></td>
    </tr>
    <tr class="c19">
        <td class="c0" colspan="1" rowspan="1"><p class="c3"><span class="c1">Schedule</span></p></td>
        <td class="c16" colspan="1" rowspan="1"><p class="c3"><span class="c1">means the key terms that together with the General Terms and Conditions form the License Agreement;</span>
        </p></td>
    </tr>
    <tr class="c19">
        <td class="c0" colspan="1" rowspan="1"><p class="c3"><span class="c1">Single Event</span></p></td>
        <td class="c16" colspan="1" rowspan="1"><p class="c3"><span class="c1">means a single part of an Event such as a match, game or fight; </span>
        </p></td>
    </tr>
    <tr class="c19">
        <td class="c0" colspan="1" rowspan="1"><p class="c3"><span class="c1">Competition Brand </span></p></td>
        <td class="c16" colspan="1" rowspan="1"><p class="c43"><span class="c4">means the official logo and name of Licensor and the Event (including the composite logos with sponsors (if any));</span>
        </p>
            <p class="c3 c37"><span class="c1"></span></p></td>
    </tr>
    <tr class="c19">
        <td class="c0" colspan="1" rowspan="1"><p class="c3"><span class="c1">Applicable Law</span></p></td>
        <td class="c16" colspan="1" rowspan="1"><p class="c9"><span class="c4">means all applicable laws, regulations, regulatory license conditions, and the relevant regulatory authorities&rsquo; directions, rules, standards, guidance and codes of practice in all relevant jurisdictions in the applicable country of the Territory; </span>
        </p>
            <p class="c3 c37"><span class="c1"></span></p></td>
    </tr>
    <tr class="c19">
        <td class="c0" colspan="1" rowspan="1"><p class="c3"><span class="c1">Portable Services</span></p></td>
        <td class="c16" colspan="1" rowspan="1"><p class="c3"><span class="c1">have the meaning as stipulated in clause 6.2 of the General Terms and Conditions;</span>
        </p></td>
    </tr>
    <tr class="c19">
        <td class="c0" colspan="1" rowspan="1"><p class="c3"><span class="c1">Delivered Content </span></p></td>
        <td class="c16" colspan="1" rowspan="1"><p class="c3"><span class="c1">means the audio-visual content that shall be delivered to Licensee by Licensor in order to exploit the Granted Rights. For the avoidance of doubt the Delivered Content may also comprise of the Program; </span>
        </p></td>
    </tr>
    <tr class="c19">
        <td class="c0" colspan="1" rowspan="1"><p class="c3"><span class="c4">Force Majeure Event</span></p></td>
        <td class="c16" colspan="1" rowspan="1"><p class="c9"><span class="c4">means acts, events, omissions or accidents beyond the reasonable control of a Party (including, without limitation, a labour dispute, accident, fire, flood, riot or civil commotion, act of public enemy, legal enactment, government act, rule or regulations or act of God);</span>
        </p>
            <p class="c3 c37"><span class="c4"></span></p></td>
    </tr>
    <tr class="c19">
        <td class="c0" colspan="1" rowspan="1"><p class="c3"><span class="c4">Prohibited Material</span></p></td>
        <td class="c16" colspan="1" rowspan="1"><p class="c9"><span class="c4">means any material that (i) does not comply with Applicable Laws (ii) promotes or disparages any political views, ideologies or parties (iii) depicts violence or is otherwise threatening or abusive (iv) promotes the sale of tobacco, tobacco-related products, drugs or pornography (v) is, in Licensor&rsquo;s reasonable opinion, offensive, indecent or encourages, in any manner whatsoever, behaviour which promotes disparaging views or behaviour relating to an individual or groups, race, nationality, ethnicity, sex, sexual orientation, religion, marital status, age or disability (vi) in Licensor&rsquo;s reasonable opinion may damage the image and/or reputation of Licensor the Event or any of its representatives or (vii) includes any gambling or betting element other than the mere advertising of a betting company (or any such gambling or betting elements which are approved by Licensor). For the avoidance of doubt, any such gambling or betting element shall not however constitute &lsquo;Prohibited Material&rsquo; hereunder in the context of the exploitation of the Live Betting Rights;</span>
        </p>
            <p class="c3 c37"><span class="c4"></span></p></td>
    </tr>
    <tr class="c19">
        <td class="c0" colspan="1" rowspan="1"><p class="c3"><span class="c1">Technical Fee</span></p></td>
        <td class="c16" colspan="1" rowspan="1"><p class="c3"><span class="c1">means the consideration to be paid by Licensee for Delivered Content;</span>
        </p>
            <p class="c3 c37"><span class="c1"></span></p></td>
    </tr>
    <tr class="c19">
        <td class="c0" colspan="1" rowspan="1"><p class="c3"><span class="c1">License Fee</span></p></td>
        <td class="c16" colspan="1" rowspan="1"><p class="c3"><span class="c1">means the consideration to be paid by Licensee for the Granted Rights;</span>
        </p></td>
    </tr>
    <tr class="c19">
        <td class="c0" colspan="1" rowspan="1"><p class="c3"><span class="c1">Granted Rights</span></p></td>
        <td class="c16" colspan="1" rowspan="1"><p class="c3"><span class="c1">have the meaning as stipulated in clause 3. of the Schedule;</span>
        </p></td>
    </tr>
    <tr class="c19">
        <td class="c0" colspan="1" rowspan="1"><p class="c3"><span class="c1">EAA</span></p></td>
        <td class="c16" colspan="1" rowspan="1"><p class="c43"><span class="c4">means the countries within the European Economic Area and any other country which is bound by the Applicable Law of the European Union and European Economic Area;</span>
        </p>
            <p class="c3 c37"><span class="c1"></span></p></td>
    </tr>
    <tr class="c19">
        <td class="c0" colspan="1" rowspan="1"><p class="c3"><span class="c1">Transmission Obligation </span></p></td>
        <td class="c16" colspan="1" rowspan="1"><p class="c3"><span class="c1">means the obligation of the Licensee to a specific Transmission;</span>
        </p></td>
    </tr>
    <tr class="c19">
        <td class="c0" colspan="1" rowspan="1"><p class="c3"><span class="c1">Remuneration </span></p></td>
        <td class="c16" colspan="1" rowspan="1"><p class="c3"><span class="c1">means the License Fee and the Technical Fee;</span>
        </p></td>
    </tr>
    <tr class="c19">
        <td class="c25" colspan="1" rowspan="1"><p class="c3"><span class="c6">Live Feed</span></p></td>
        <td class="c16" colspan="1" rowspan="1"><p class="c3"><span class="c6">means an audiovisual real-time (subject to latency) feed of the whole Event or of the whole Single Event; </span>
        </p></td>
    </tr>
    <tr class="c19">
        <td class="c25" colspan="1" rowspan="1"><p class="c3"><span class="c6">Delayed &amp; Archive Feed</span></p>
            <p class="c3 c37"><span class="c6"></span></p></td>
        <td class="c16" colspan="1" rowspan="1"><p class="c3"><span class="c6">means an audiovisual delayed feed of the whole Event or of the whole Single Event; </span>
        </p></td>
    </tr>
    <tr class="c19">
        <td class="c25" colspan="1" rowspan="1"><p class="c3"><span class="c6">Live Betting Feed</span></p></td>
        <td class="c16" colspan="1" rowspan="1"><p class="c3"><span class="c6">means an audiovisual real-time (subject to latency) feed of the Event or of the whole Single Event, whose standard meet the requirements for betting purposes; </span>
        </p></td>
    </tr>
    <tr class="c19">
        <td class="c51" colspan="1" rowspan="1"><p class="c3"><span class="c6">News Footage</span></p></td>
        <td class="c16" colspan="1" rowspan="1"><p class="c3"><span class="c6">means short audiovisual footage of an Event or Single Event, which is used for the purpose of exploiting News Access Rights; &nbsp;</span>
        </p></td>
    </tr>
    <tr class="c19">
        <td class="c51" colspan="1" rowspan="1"><p class="c3"><span class="c6">Highlight &amp; Clip Footage</span></p>
        </td>
        <td class="c16" colspan="1" rowspan="1"><p class="c3"><span class="c6">means audiovisual highlight footage of the Event or Single Event; </span>
        </p></td>
    </tr>
    </tbody>
</table>
<p class="c15"><span class="c21">,</span></p>
<p class="c8 c28 c13"><span class="c21"></span></p>
<ol class="c5 lst-kix_list_4-0" start="2">
    <li class="c17"><span class="c21">Term </span></li>
</ol>
<p class="c8"><span class="c10"></span></p>
<ol class="c5 lst-kix_list_4-1 start" start="1">
    <li class="c17"><span class="c4">The term of the License Agreement shall start with the Effective Date and ends fourteen (14) days after the end of the </span><span
            class="c4">License Period.</span></li>
</ol>
<p class="c8"><span class="c4"></span></p>
<ol class="c5 lst-kix_list_4-1" start="2">
    <li class="c17"><span
            class="c4">All rights granted to Licensee shall end after the License Period or the </span><span
            class="c12">relevant</span><span class="c4">&nbsp;Exploitation Window and the Licensee shall not make use nor exploit any granted rights beyond the License Period or the </span><span
            class="c12">relevant Exploitation Window</span><span class="c4">. At the request of the Licensor, the Licensee shall, after the Term, deliver to the Licensor free of charge all Content and other material (such as copies of sales brochures and contracts etc.) that the Licensee used or produced in connection with the exploitation of the Granted Rights.</span>
    </li>
</ol>
<p class="c8"><span class="c4"></span></p>
<ol class="c5 lst-kix_list_4-0" start="3">
    <li class="c17"><span class="c21">Grant of Rights</span></li>
</ol>
<p class="c8"><span class="c10"></span></p>
<ol class="c5 lst-kix_list_4-1" start="3">
    <li class="c17"><span class="c4">In consideration of payment of the Remunerations, the Licensor grant to Licensees for the Term the </span><span
            class="c12">Audio-visual</span><span class="c4">&nbsp;Rights to t</span><span class="c12">o</span><span
            class="c4">&nbsp;Program strictly in accordance with and subject to the terms set out in this License Agreement. </span>
    </li>
</ol>
<p class="c8 c28 c13"><span class="c4"></span></p>
<ol class="c5 lst-kix_list_4-1" start="4">
    <li class="c17"><span class="c4">Irrespective of the </span><span class="c12">exclusivity</span><span class="c4">&nbsp;of the </span><span
            class="c12">G</span><span class="c4">ranted </span><span class="c12">R</span><span class="c4">ights (if any), the </span><span
            class="c4">Reserved Rights </span><sup><a href="#cmnt1" id="cmnt_ref1">[a]</a></sup><span class="c4">shall always be available for Licensor and third-party exploitation.</span>
    </li>
</ol>
<p class="c8"><span class="c10"></span></p>
<p class="c8"><span class="c10"></span></p>
<ol class="c5 lst-kix_list_4-0" start="4">
    <li class="c17"><span class="c21">Payment Terms and Withholding Tax</span></li>
</ol>
<p class="c8"><span class="c4"></span></p>
<ol class="c5 lst-kix_list_4-1" start="5">
    <li class="c17"><span class="c4">The </span><span class="c4">Licence Fee and Technical Fee </span><span class="c4">shall be paid by Licensees to the Licensor in accordance with Clause 10 of the Schedule. </span>
    </li>
</ol>
<p class="c8"><span class="c4"></span></p>
<ol class="c5 lst-kix_list_4-1" start="6">
    <li class="c17"><span class="c4">Any payment made by the Licensee pursuant to the License Agreement shall be made &nbsp;by bank transfer, in full, without any deduction, set off or withholding other than stipulated below (whether in respect of duties, taxes, charges, or otherwise). After </span><span
            class="c12">receipt of a proper invoice. </span></li>
</ol>
<p class="c8 c14"><span class="c4"></span></p>
<ol class="c5 lst-kix_list_4-1" start="7">
    <li class="c17"><span class="c4">Licensor acceptance of any payment after this due date shall not constitute a waiver by the Licensor of any of its rights hereunder.</span>
    </li>
</ol>
<p class="c33 c37 c47"><span class="c4"></span></p>
<ol class="c5 lst-kix_list_4-1" start="8">
    <li class="c17" id="h.30j0zll"><span class="c4">If any scheduled payment of a Licensee owing pursuant to the License Agreement is not paid when due, the Licensee shall pay to the Licensor, in addition to all sums otherwise due and payable, a late charge in an amount equal to 4% percent per annum of the unpaid amount (calculated in respect of the period during which the relevant payment was overdue), subject to the receipt of a respective payment reminder in which a payment deadline of 20 days is notified. Licensor&rsquo;s acceptance of any payment after this due date shall not constitute a waiver by L</span><span
            class="c12">ic</span><span class="c4">ensor of any of its rights hereunder.</span></li>
</ol>
<p class="c8"><span class="c4"></span></p>
<ol class="c5 lst-kix_list_4-1" start="9">
    <li class="c17"><span class="c4">If the Licensee is required by any Applicable Law to make any withholding in respect of any amount payable to the Licensor under the Licensee Agreement, an additional amount shall be payable to the Licensor at the same time so that the Licensor receive the full amount of each such payment which it would have received if no withholding had been so required. The Licensor shall then provide on a timely basis all reasonable assistance and other documentary evidence so as to enable Licensees (where relevant) to be able to make any payment without withholding or at a lower rate of withholding or to procure a tax credit from the relevant tax authority equal to the amount withheld.</span>
    </li>
</ol>
<p class="c8"><span class="c4"></span></p>
<ol class="c5 lst-kix_list_4-1" start="10">
    <li class="c17"><span class="c4">If exchange control or other restrictions prevent or threaten to prevent the remittance to the Licensor of any payments due to the Licensor under License Agreement, the Licensee shall immediately advise the Licensor in writing and follow the Licensor&rsquo; instructions in respect of the payment to be so remitted including if required depositing the same with any bank or other person designated by the Licensor at such location as may be designated by the Licensor.</span>
    </li>
</ol>
<p class="c8"><span class="c4"></span></p>
<ol class="c5 lst-kix_list_4-0" start="5">
    <li class="c17"><span class="c21">General Provision Concerning the Exploitation of Audio-visual to t</span><span
            class="c44">he Program</span></li>
</ol>
<p class="c8"><span class="c10"></span></p>
<ol class="c5 lst-kix_list_4-1" start="11">
    <li class="c17"><span class="c4">The Licensee ensures that he and any of his sub-licensees hold all necessary licenses, permissions or authorizations to operate the </span><span
            class="c12">p</span><span class="c4">latforms</span><span class="c12">/channels</span><span class="c4">&nbsp;on which </span><span
            class="c12">the Program</span><span class="c4">&nbsp;is Transmitted. In addition, the Licensee shall at all times adhere to Applicable Laws when exploiting and/or marketing the </span><span
            class="c12">G</span><span class="c4">ranted </span><span class="c12">R</span><span class="c4">ights. </span>
    </li>
</ol>
<p class="c8 c22"><span class="c4"></span></p>
<ol class="c5 lst-kix_list_4-1" start="12">
    <li class="c17"><span class="c4">The Licensee procures that its employees, representatives and agents shall at all times during the Term not engage in any activity that could damage the image or damage the reputation of the Event / Program, the Licensor and their representatives.</span>
    </li>
</ol>
<p class="c8 c14"><span class="c4"></span></p>
<ol class="c5 lst-kix_list_4-1" start="13">
    <li class="c17"><span class="c4">The rights granted are subject to continuous compliance with all terms and conditions of the Licensee Agreement. If a Licensee fails to comply with its obligations, Licensor may (i) suspend any rights granted and/or (ii) withdraw access to the </span><span
            class="c12">D</span><span class="c4">elivered Content or material provided by the Licensor, in each case without any right to any compensation or reduction in the Remuneration for the Licensee.</span>
    </li>
</ol>
<p class="c8 c14"><span class="c4"></span></p>
<p class="c42 c14 c33" id="h.1fob9te"><span class="c11">5.6.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Licensees warrant (i) not to Transmit the Program on </span><span
        class="c12">p</span><span class="c11">latform(s)/</span><span class="c12">channels</span><span class="c4">&nbsp;which are in the reasonable opinion of Licensor not appropriate for the Transmission of premium (sports) content or (ii) which may harm the reputation of the Licensor, the Event / Program or that features Prohibited Material.</span>
</p>
<p class="c8 c40"><span class="c4"></span></p>
<p class="c14 c33 c42"><span class="c11">5.7.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="c12">Licensee shall not be permitted to (i) insert advertising in the Programs in a manner which would unreasonably cover any event-action with advertising unless otherwise agreed upon in writing and (ii) partially or totally, cover or alter or weaken the appearance of the Competition Brands or (iii) use graphics other than the Competition Brands provided by the Licensor during the Transmission of the Program. The Licensor always reserving the right to include Competition Brands or graphic elements of sponsors in the Programs (e.g. timing sponsor) and the Licensees are obliged to ensure that these marks will be displayed as determined in the specifications and guidelines provided by the Licensor from time to time.</span><sup><a
        href="#cmnt2" id="cmnt_ref2">[b]</a></sup></p>
<p class="c8 c14"><span class="c4"></span></p>
<p class="c8 c14"><span class="c4"></span></p>
<ol class="c5 lst-kix_list_4-0" start="6">
    <li class="c17"><span class="c21">Territorial Integrity Concerning the Audio-visual Rights gra</span><span
            class="c44">nted</span></li>
</ol>
<p class="c8"><span class="c10"></span></p>
<ol class="c5 lst-kix_list_4-1" start="14">
    <li class="c17"><span class="c4">To the maximum extent permitted by Applicable Law, each Licensee will be contractually required to ensure the territorial integrity of its Transmissions of </span><span
            class="c12">the Program </span><span class="c4">made pursuant to the Audio-visual Rights granted, for example, by the use of secure and effective encryption, geo- blocking or similar technology and appropriate scrutiny and verification of the residences and/or locations of subscribers and users, so as to ensure that no person outside the Territory awarded by the Licensor to a specific Licensee can access or view such content in an intelligible form.</span>
    </li>
</ol>
<p class="c8 c14"><span class="c4"></span></p>
<ol class="c5 lst-kix_list_4-1" start="15">
    <li class="c17"><span class="c4">Customary exceptions will be allowed by the Licensor for: (i) unavoidable overspill of unencrypted free over the air analogue and digital terrestrial transmissions; (ii) non-material overspill of unencrypted Satellite Transmissions where expressly approved by the Licensor (iii) the absolute effectiveness of geo blocking and DRM </span><span
            class="c12">t</span><span class="c4">echnology; (iv) cross-border &#39;portability&#39; of online audio-visual services within the EEA as per Directive 2015/0284(COD) (hereinafter &ldquo;Portable Services&rdquo;); and (v) requirements imposed by Applicable Law and any further overspill that cannot be prevented or restricted as a result of a change in Applicable Laws.</span>
    </li>
</ol>
<p class="c8 c14"><span class="c4"></span></p>
<ol class="c5 lst-kix_list_4-1" start="16">
    <li class="c17"><span class="c4">In addition, Licensees within the EEA shall be permitted to make Transmissions of the </span><span
            class="c12">Program</span><span class="c4">&nbsp;by means of satellite television via a designated satellite capable of reception outside the Territory awarded by the Licensor, provided that all such Transmissions are securely encrypted (or similar conditional access technology is deployed) so that no person outside the EEA can access or view such content in an intelligible form. Such Licensee shall be entitled to sell or otherwise supply equipment or devices (including, but not limited to any so-called &quot;smart cards&quot; and/or any decoding equipment) which are necessary to decode such Transmissions or to receive such Transmissions in an intelligible form to residents of the EEA outside the applicable Territory who have actively requested or ordered the same. Licensees shall otherwise be prohibited from actively marketing or soliciting orders for any decoding or similar equipment which is necessary to decode such Transmissions to or from any person outside the Territory awarded by the Licensor.</span>
    </li>
</ol>
<p class="c8 c14"><span class="c4"></span></p>
<ol class="c5 lst-kix_list_4-1" start="17">
    <li class="c17"><span class="c4">For </span><span class="c12">p</span><span class="c4">ortable </span><span
            class="c12">s</span><span class="c4">ervices that are subject to Directive 2015/0284(COD), the Licensee shall (i) provide with efficient verification the means deployed by the Licensee for a </span><span
            class="c12">p</span><span class="c4">ortable </span><span class="c12">s</span><span class="c4">ervice to ensure on an ongoing basis that such service is being accessed and viewed only by customers who are, at that time, habitually resident in the Territory in accordance with Directive 2015/0284(COD) (ii) ensure that only subscribers of the </span><span
            class="c12">p</span><span class="c4">ortable </span><span class="c12">s</span><span class="c4">ervice who have been verified by efficient verification means shall be entitled to access the </span><span
            class="c12">p</span><span class="c4">ortable </span><span class="c12">s</span><span class="c4">ervice form any Territory other than the granted Territory. Licensees shall otherwise be prohibited from actively marketing or soliciting orders for any </span><span
            class="c12">p</span><span class="c4">ortable </span><span class="c12">s</span><span class="c4">ervice outside the Territory awarded by the Licensor.</span>
    </li>
</ol>
<p class="c8 c22"><span class="c4"></span></p>
<p class="c8 c14"><span class="c4"></span></p>
<ol class="c5 lst-kix_list_4-0" start="7">
    <li class="c17"><span class="c21">Delivery of Content</span></li>
</ol>
<p class="c8"><span class="c10"></span></p>
<ol class="c5 lst-kix_list_4-1" start="18">
    <li class="c17"><span class="c4">Licensees shall provide the </span><span class="c12">Delivered Content as defined in Clause 8 of the Schedule. </span>
    </li>
</ol>
<p class="c8 c22"><span class="c4"></span></p>
<p class="c8"><span class="c10"></span></p>
<ol class="c5 lst-kix_list_4-0" start="8">
    <li class="c17"><span class="c21">Transfer of Licensee Agreement and Sub-Contracting</span></li>
</ol>
<p class="c8"><span class="c10"></span></p>
<ol class="c5 lst-kix_list_4-1" start="19">
    <li class="c17"><span class="c4">Neither Party may assign, transfer or otherwise dispose of this Licensee Agreement or any obligation with respect thereto to any third party without the prior written consent of the other Party explicitly otherwise stipulated in the Schedule. </span>
    </li>
</ol>
<p class="c8 c14"><span class="c4"></span></p>
<ol class="c5 lst-kix_list_4-1" start="20">
    <li class="c17"><span class="c4">In case Licensor permit Licensee to sub-license the Audio-visual Rights awarded, then (i) Licensee shall be liable for the acts or omissions of each sub-licensee regarding the exploitation of the </span><span
            class="c12">Granted Rights</span><span class="c4">&nbsp;as if such acts or omissions were the acts or omissions of the Licensee and (ii) the Licensee remaining fully liable for all its obligations set out in this Licensee Agreement (iii) the Licensees shall award/sublicense </span><span
            class="c12">Granted Rights</span><span class="c4">&nbsp;always and at any time in accordance with the relevant competition laws.</span>
    </li>
</ol>
<p class="c8"><span class="c4"></span></p>
<p class="c8"><span class="c4"></span></p>
<p class="c8"><span class="c4"></span></p>
<p class="c8"><span class="c4"></span></p>
<p class="c8"><span class="c4"></span></p>
<p class="c8"><span class="c4"></span></p>
<p class="c8"><span class="c4"></span></p>
<ol class="c5 lst-kix_list_4-0" start="9">
    <li class="c17"><span class="c21">Changes in the Event Format</span></li>
</ol>
<p class="c8"><span class="c4"></span></p>
<p class="c8 c14"><span class="c4"></span></p>
<ol class="c5 lst-kix_list_4-1" start="21">
    <li class="c17"><span class="c4">During the entire Term, the Licensor shall be exclusively and at their sole discretion entitled to change formats, rules, determined </span><span
            class="c12">start</span><span class="c4">&nbsp;times including the number of </span><span class="c12">Single Events</span><span
            class="c4">&nbsp;of any of the </span><span class="c12">E</span><span class="c4">vents. </span></li>
</ol>
<p class="c8 c28 c13"><span class="c4"></span></p>
<ol class="c5 lst-kix_list_4-1" start="22">
    <li class="c17" id="h.3znysh7"><span class="c4">In the event that </span><span
            class="c12">format or scope of the</span><span class="c4">&nbsp;</span><span class="c12">E</span><span
            class="c4">vent including the</span><span class="c12">&nbsp;scope of Single Events </span><span class="c4">is amended during the Term, and such amendments, issuances and/or decisions by Licensor entail a material and material adverse effect on the Granted Rights, then the Parties shall amicably discuss adjustments of the Remunerations, unless the respective amendment or decision has been previously approved by Licensee. </span>
    </li>
</ol>
<p class="c8"><span class="c30"></span></p>
<ol class="c5 lst-kix_list_4-0" start="10">
    <li class="c17"><span class="c21">Termination</span></li>
</ol>
<p class="c8"><span class="c10"></span></p>
<ol class="c5 lst-kix_list_4-1" start="23">
    <li class="c17"><span class="c4">The Licensor may terminate the Licensee Agreement with immediate effect by written notice to the Licensee if:</span>
    </li>
</ol>
<p class="c8"><span class="c4"></span></p>
<ul class="c5 lst-kix_list_3-0 start">
    <li class="c24"><span class="c4">the Licensee fails to pay any sums due to the Licensor on the due date and any such default continues for a further period of twenty (20) working days;</span>
    </li>
    <li class="c24"><span class="c4">the Licensee breaches any other material term of the Licensee Agreement, which is not capable of remedy or if capable of remedy has not been remedied within twenty (20) days after a notice in writing from the party not in breach requiring such remedy; </span>
    </li>
    <li class="c24"><span class="c4">the Licensee applies for a moratorium on debts, or becomes insolvent or enters into any composition or arrangement with its creditors, or does anything which would make it liable to be put into liquidation, or if a resolution is passed or an application is made for the liquidation of any Party, or a receiver or statutory or official manager is appointed over all or any of the assets of any Party.</span>
    </li>
</ul>
<p class="c8"><span class="c4"></span></p>
<ol class="c5 lst-kix_list_4-1" start="24">
    <li class="c17"><span class="c4">The Licensee may terminate the Licensee Agreement with immediate effect by written notice to the Licensor if the Licensor breach a material term of the Licensee Agreement, which is not capable of remedy or if capable of remedy has not been remedied within twenty (20) days after a notice in writing from the Party not in breach requiring such remedy.</span>
    </li>
</ol>
<p class="c8 c14"><span class="c4"></span></p>
<ol class="c5 lst-kix_list_4-1" start="25">
    <li class="c17"><span class="c4">The Licensee agrees that in the event of early termination of the Licensee Agreement pursuant to </span><span
            class="c12">clause</span><span class="c4">&nbsp;</span><span class="c12">10</span><span
            class="c4">.</span><span class="c12">1</span><span class="c4">&nbsp;and 10.2. for any reason whatsoever, the Licensee shall:</span>
    </li>
</ol>
<p class="c8"><span class="c4"></span></p>
<ul class="c5 lst-kix_list_3-0">
    <li class="c24"><span class="c4">immediately cease to exercise the </span><span class="c12">G</span><span
            class="c4">ranted </span><span class="c12">R</span><span class="c4">ights;</span></li>
    <li class="c24 c37"><span class="c4"></span></li>
    <li class="c24"><span class="c4">shall deliver free of charge all copies and originals of all </span><span
            class="c12">Programs and Delivered Content</span><span class="c4">&nbsp;produced by the Licensee and/or its sub-licensees;</span>
    </li>
</ul>
<p class="c8"><span class="c4"></span></p>
<p class="c33 c38"><span class="c12">In the event of &nbsp;early termination of the Licensee Agreement pursuant to a reason described in clause 10.1 first and second bullet point then Licensee furthermore shall </span><span
        class="c12">immediately pay to the Licensor all the agreed Remunerations arising from the Licensee Agreement;</span><sup><a
        href="#cmnt3" id="cmnt_ref3">[c]</a></sup></p>
<p class="c8"><span class="c4"></span></p>
<ol class="c5 lst-kix_list_4-1" start="26">
    <li class="c17"><span class="c4">Termination of this Licensee Agreement for whatever reason shall be without prejudice to any accrued rights and remedies to which either Party may be entitled hereunder, in particular but without limitation, the right to recover damages against the other Party and all provisions which are expressed to survive the Licensee Agreement shall remain in full force and effect.</span>
    </li>
</ol>
<p class="c8"><span class="c4"></span></p>
<ol class="c5 lst-kix_list_4-0" start="11">
    <li class="c17"><span class="c21">Copyright and </span><span class="c44">Trademarks</span></li>
</ol>
<p class="c8"><span class="c10"></span></p>
<ol class="c5 lst-kix_list_4-1" start="27">
    <li class="c17" id="h.2et92p0"><span class="c4">Save as explicitly provided herein, nothing in this License Agreement or in the business relationship between the Parties shall constitute or be construed as the transfer or grant to Licensee for any property right, software, license, or any other right or interest in any information, data or work product made available by Licensor in the course of the business relationship or in any trademarks or other intellectual property rights owned by Licensor or any of their subsidiaries. Copyright to all &nbsp;</span><span
            class="c12">Program and Delivered Content </span><span class="c4">produced by Licensor including any modification or editing of the </span><span
            class="c12">Program and Delivered Content </span><span class="c4">by way of adding voice and commentaries from sports commentators is vested in </span><span
            class="c12">Licensor</span><span class="c4">.</span></li>
</ol>
<p class="c42 c14 c37"><span class="c4"></span></p>
<ol class="c5 lst-kix_list_4-1" start="28">
    <li class="c17" id="h.tyjcwt"><span class="c4">Copyright to all </span><span class="c12">Program and Delivered Content</span><span
            class="c4">&nbsp;produced by Licensee, including any modification or editing of the </span><span
            class="c12">Programs and Delivered Content</span><span class="c4">&nbsp;by way of adding voice and commentaries from sports commentators is vested in Licensee. </span>
    </li>
</ol>
<p class="c42 c37"><span class="c4"></span></p>
<ol class="c5 lst-kix_list_4-0" start="12">
    <li class="c17"><span class="c21">Warranties, Indemnifications and Liabilities</span></li>
</ol>
<p class="c8"><span class="c10"></span></p>
<ol class="c5 lst-kix_list_4-1" start="29">
    <li class="c17"><span class="c4">Licensor and Licensees hereby warrant that (i) they are fully entitled to enter into this Licensee Agreement and to perform all its obligations, and that they have not and will not enter into any agreements inconsistent with the provisions hereof; and (ii) they shall defend, indemnify and hold the other party harmless from and against any claims, costs, demands, proceedings or damages (including lawyers&#39; fees) arising out of any failure to comply with its obligations hereunder.</span>
    </li>
</ol>
<p class="c8 c14"><span class="c4"></span></p>
<ol class="c5 lst-kix_list_4-1" start="30">
    <li class="c17"><span class="c4">Notwithstanding the above, the Licensor shall not be liable to others for any indirect or consequential loss or damage, and the maximum aggregate liability of the Licensor for any indemnity, loss or damage from all incidents during the Term shall be limited to a sum equivalent the Remuneration. The foregoing exclusions and limitations of liability shall apply to the extent permitted by any mandatory Applicable Law.</span>
    </li>
</ol>
<p class="c8 c22"><span class="c4"></span></p>
<ol class="c5 lst-kix_list_4-0" start="13">
    <li class="c17"><span class="c21">Force Majeure</span></li>
</ol>
<p class="c8 c14"><span class="c10"></span></p>
<ol class="c5 lst-kix_list_4-1" start="31">
    <li class="c17"><span class="c4">Neither Party shall be liable to the other Party for any expenses or damages if performance of any of its obligations under the Licensee Agreement is prevented (in full or in part) or delayed due to Force Majeure provided that the relevant affected Party shall: (i) promptly upon the occurrence of any such cause or event inform the other Party in writing, stating that such cause has delayed or prevented its performance; and (ii) take all reasonable steps to comply with the terms of the Licensee Agreement as fully and promptly as possible.</span>
    </li>
</ol>
<p class="c8 c22"><span class="c4"></span></p>
<ol class="c5 lst-kix_list_4-1" start="32">
    <li class="c17"><span class="c4">Should any Force Majeure Event prevent a Party performing any of its obligations under the Licensee Agreement, for more than ninety (90) days, then the other Party may terminate the Licensee Agreement with immediate effect on written notice to the other Party.</span>
    </li>
</ol>
<p class="c42 c14 c37"><span class="c4"></span></p>
<ol class="c5 lst-kix_list_4-0" start="14">
    <li class="c17"><span class="c21">Interpretation</span></li>
</ol>
<p class="c8 c13 c28"><span class="c21"></span></p>
<ol class="c5 lst-kix_list_4-1" start="33">
    <li class="c17"><span class="c4">Headings are for convenience only and do not affect interpretation. The following rules apply unless the context requires otherwise.</span>
    </li>
</ol>
<p class="c8 c28 c13"><span class="c4"></span></p>
<ul class="c5 lst-kix_list_6-1 start">
    <li class="c24"><span class="c4">the singular includes the plural and conversely.</span></li>
    <li class="c24"><span class="c4">a gender includes all genders.</span></li>
    <li class="c24"><span class="c4">if a word or phrase is defined, its other grammatical forms have the corresponding meaning.</span>
    </li>
    <li class="c24"><span class="c4">a reference to a person, corporation, trust, partnership, unincorporated body or other entity includes any of them.</span>
    </li>
    <li class="c24"><span class="c4">a reference to a Clause or Schedule is a reference to a Clause of, or a Schedule to, this Agreement.</span>
    </li>
    <li class="c24"><span class="c4">a reference to an Agreement or document (including, without limitation, a reference to this Agreement) is to the Agreement or document as amended, varied, supplemented, novated or replaced, except to the extent prohibited by this Agreement or that other Agreement or document.</span>
    </li>
    <li class="c24"><span class="c4">a reference to legislation or to a provision of legislation includes a modification or re-enactment of it, a legislative provision which replaces it and a regulation or statutory instrument issued under it.</span>
    </li>
    <li class="c24"><span class="c4">a reference to &ldquo;writing&rdquo; includes a facsimile transmission and any means of reproducing words in a tangible and permanently visible form.</span>
    </li>
    <li class="c24"><span class="c4">a reference to conduct includes, without limitation, any act, matter or thing done, permitted or omitted to be done, and a statement or undertaking, whether or not in writing.</span>
    </li>
</ul>
<p class="c31 c33 c37"><span class="c4"></span></p>
<p class="c31 c33"><span class="c44">15. &nbsp; Applicable Law / </span><span class="c21">Jurisdiction</span></p>
<p class="c8 c14"><span class="c4"></span></p>
<p class="c29"><span class="c12">15.1.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="c4">The Licensee Agreement shall be governed by and construed in accordance with the laws of the country as defined in Clause </span><span
        class="c4">(&hellip;) </span><sup><a href="#cmnt4" id="cmnt_ref4">[d]</a></sup><span
        class="c4">of the Schedule</span><span class="c12">&nbsp;</span><span class="c4">excluding its conflict of law rules.</span>
</p>
<p class="c29 c37"><span class="c4"></span></p>
<p class="c29"><span class="c12">15.2.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="c4">The Parties have agreed to the exclusive jurisdiction of the country as defined in Sch</span><span
        class="c12">edule. Accordingly, &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;s</span><span class="c4">hould a friendly agreement not be reached, any dispute or claim arising out of or in relation to this License Agreement, including the validity, invalidity, breach or termination thereof, shall be settled exclusively and finally by the exclusive jurisdiction of </span><span
        class="c12">relevant</span><span class="c4">&nbsp;</span><span class="c12">c</span><span
        class="c4">ourts of </span><span class="c12">of the country as defined in Schedule. </span><span class="c4">The seat of the courts shall be </span><span
        class="c12">as defined under Clause (...) of the Schedule.</span><span class="c4">&nbsp;</span></p>
<p class="c8"><span class="c4"></span></p>
<p class="c29 c37"><span class="c4"></span></p>
<p class="c29"><span class="c12">15.3.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="c4">The provisions of this clause 15. shall survive the expiry or earlier termination of this License Agreement.</span>
</p>
<p class="c8 c13"><span class="c21"></span></p>
<ol class="c5 lst-kix_list_4-0" start="15">
    <li class="c17"><span class="c21">Miscellaneous</span></li>
</ol>
<p class="c8 c14"><span class="c10"></span></p>
<ol class="c5 lst-kix_list_4-1" start="34">
    <li class="c17"><span class="c4">The Parties agree that in case of a conflict between the provision of the Schedule and the any provision of the General Terms and </span><span
            class="c12">C</span><span class="c4">onditions, the provision of the Schedule supersedes the provision of the General Terms and Conditions.</span>
    </li>
</ol>
<p class="c8 c28 c13"><span class="c4"></span></p>
<ol class="c5 lst-kix_list_4-1" start="35">
    <li class="c17"><span class="c4">The Parties acknowledge that the contents, and, in particular, the financial details, of this Licensee Agreement are confidential and agree to take whatever measures are reasonably necessary to preserve such confidentiality, unless disclosure is required by law or to persons who are bound by secrecy under the applicable law (e.g. lawyers). The duties of the Parties hereunder shall survive the expiration or earlier termination of this Licensee Agreement.</span>
    </li>
</ol>
<p class="c8 c14"><span class="c4"></span></p>
<ol class="c5 lst-kix_list_4-1" start="36">
    <li class="c17"><span class="c4">The Licensee Agreement does not constitute either Party the agent of the other, or create a partnership, joint venture or similar relationship between the Parties. This Licensee Agreement constitutes the entire agreement between the Parties relating to the subject matter hereof and supersedes all previous understandings, negotiations as to such subject matter.</span>
    </li>
</ol>
<p class="c8 c14"><span class="c4"></span></p>
<ol class="c5 lst-kix_list_4-1" start="37">
    <li class="c17"><span class="c4">Should any provision in this Licensee Agreement be invalid, ineffective or unenforceable, the validity or enforceability of the remainder of this Licensee Agreement or this Licensee Agreement as a whole shall not thereby be affected. Invalid, ineffective or unenforceable provisions shall be replaced by a valid provision in such a way as most closely approximates to the commercial purpose of the provision thus replaced and the purpose of the Licensee Agreement as a whole. If any of the terms of this Licensee Agreement are held to be invalid, illegal or unenforceable in any respect, whether in whole or in part, such invalidity, illegality or unenforceability shall not prejudice the effectiveness of the rest of this Licensee Agreement or the remainder of any part of the term affected.</span>
    </li>
</ol>
<p class="c8 c28 c13"><span class="c4"></span></p>
<ol class="c5 lst-kix_list_4-1" start="38">
    <li class="c17"><span class="c4">The Parties agree to liaise and </span><span class="c12">cooperate</span><span
            class="c4">&nbsp;fully with each other on all matters arising in connection with the Licensee Agreement.</span>
    </li>
</ol>
<div><p class="c33 c37 c45"><span class="c53"></span></p></div>
</body>
</html>