{% extends '@EasyAdmin/default/layout.html.twig' %}


{% block main %}

    <section class="content-header">
        <h1 class="title">Translation files</h1>
    </section>
    <section id="main" class="content">

        <div class="uk-padding">
            {#<a class="btn btn-primary" href="{{ path('getLocalesDevFile') }}" >Download DEV en.po file</a>#}
            <a class="btn btn-primary" href="{{ path('juanx_react_translation_import_dev') }}" >Import from DEV</a>
            <a class="btn btn-primary" href="{{ path('juanx_react_translation_import_test') }}" >Import from API</a>
        </div>

        <div class="alert alert-primary">
            {{ message }}
        </div>

    </section>



{% endblock %}
