{% extends "@App/myContent/myContent.layout.html.twig" %}

{% block my_content %}

    <nav class="uk-navbar">
        <ul class="uk-navbar-nav">
            {{ menus.menuItem('Watchlist', path('myContentWatchlist') ) }}
            {{ menus.menuItem('Pending', path('myContentPending') ) }}
            {{ menus.menuItem('Aquired', path('myContentAcquired') ) }}
            {{ menus.menuItem('Expired', path('myContentExpired') ) }}

        </ul>
    </nav>

    {% block listing_content %}
    {% endblock listing_content %}

{% endblock my_content %}