.ca-btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem 2rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  outline: none;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;

  &.ca-btn-link {
    font-weight: 400;
    color: #007bff;
    background-color: transparent;
    &:hover {
      color: #0056b3;
      text-decoration: underline;
      background-color: transparent;
      border-color: transparent;
    }
  }

  &.ca-btn-primary {
    color: #333;
    background-color: $orange-color;
    border-color: $orange-color;

    &:hover {
      background-color: darken($orange-color, 7.5%),;
    }
  }
}

input[type="radio"].ca-radio {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  flex: 20px 0 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #F4F6F9;
  border: 1px solid #cccccc;
  border-radius: 50%;
  //transition: background-color $input-animation, border $input-animation, background-image $input-animation;
  outline: none;
  cursor: pointer;
  margin: initial;
  padding: initial;
  font-size: initial;

  &:hover {
    border-color: #309AFF;
  }

  &:checked {
    border: none;
    &:after {
      content: "";
      background: url('../bundles/app/images/radio-active.png') no-repeat;
      background-size: contain;
      height: 20px;
      display: block;
    }
  }

  &:disabled,
  &.disabled {
    border-color: #dcdddf;
  }
}

input[type="checkbox"].ca-checkbox {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  flex: 20px 0 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #fff;
  border: 1px solid #dcdddf;
  //border-radius: 5px;
  transition: background-color .1s linear, border .1s linear, background-image .1s linear;
  outline: none;
  cursor: pointer;
  margin: initial;
  padding: initial;
  font-size: initial;

  &:hover {
    border-color: #ffc948;
  }

  &:checked {
    border: 1px solid #ffc948;
    background-image: url("data:image/svg+xml;charset=utf8, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-color: #ffc948;
    background-size: 70%;
    background-position: 50%
  }

  &:disabled {
    background-color: #caccd1;
    border: 1px solid #dcdddf;
    cursor: default
  }
}

i.fa.ca-tooltip {
  color: #1a4b63;
  padding: 0 5px;
  font-size: 21px;
  vertical-align: middle;
}

.ca-form-control {
  display: block;
  width: 100%;
  height: 44px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;

  &:focus {
    border-color: #66afe9;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6)
  }

  &:disabled,
  &[readonly] {
    background-color: #e9ecef;
    opacity: 1
  }
}