@import "vars";
@import "mixins";

.bid-wrapper{
  flex: 4;
  display: flex;
  flex-direction: column;
  padding: 10px;
  @include shadow(0 1px 9px rgba(0, 0, 0, 0.21));

  .bid-header {
    margin: 5px;
    .name{
      font-size: 21px;
      font-weight: bold;
      color: $font-color-6;
    }
  }
  .bid-title{
    font-weight: 600;
    border-bottom: 1px solid #666;
    font-size: 16px;
    color: #333333;
    padding: 0 0 8px;
  }
  .radio-selector-container{
    border-top: 1px solid #cccc;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
  }

  .bid-list-mode{
    font-size: 13px;
    margin: 15px 50px 15px 0;
  }

  .bid-info-wrapper{
    width: 100%;
    padding: 30px 20px;
    margin: 15px 0;
    background-color: #E7E7E7;
    .bid-title-content{
      display: inline-block;
      border-bottom: 2px solid #ffc94b;
      padding-bottom: 5px;
      margin-bottom: 10px;
    }
    .total-fee{
      height: 60px;
      border: 1px solid #999999;
      background-color: #FFFFFF;
      margin: 20px 0;
      border-radius: 5px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding: 0 20px;
      color: #07416C;
      font-size: 24px;
      font-weight: bold;
    }

    .bundles-table{
      .rt-td{
        height: 50px;
        align-items: center;
        display: flex;
      }
      .price-action-center{
        width: 100%;
        text-align: center;
      }
      .price-invalid{
        color : red
      }

    }
    .bundles-table-checkout{
      .price-action-wrapper{
        display: flex !important;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        .fa-minus-circle {
          color: #FFC94B;
          font-size: 20px;
          margin: 0 5px;
          cursor: pointer;
        }
      }
      .details-wrapper{
        display: flex !important;
        .bid-license{
          margin-right: 20px;
        }
        img{
          height: 13px;
          margin: -3px 2px 0 3px;
        }

      }

    }

    .bid-location{
      display: flex;
      justify-content: flex-start;
      align-items: center;

      padding-bottom: 20px;

      .bid-location-icon{
        width: 26px;
        height: 23px;
        margin-right: 5px;
      }

      .bid-location-number{
        display: inline-block;
        font-size: 16px;
        font-weight: bold;
        color: $black-color;
        margin-right: 5px;
      }

      .bid-location-name{
        @extend .bid-location-number;
      }

      .bid-extra-territories{
        color: $blue-secondary-color;
        text-decoration: underline;
        margin-left: 5px;
        cursor: pointer;
      }
    }

    .bid-fee{
      .bid-license, .bid-technical, .bid-total{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;

        & .bid-value{
          font-weight: bold;

          &.padding-right{
            padding-right: 116px;
            span{
              padding-right: 10px;
            }
          }
          &.right-section{
            display: flex;
            align-items: center;

            .bid-change-value{
              input{
                width: 80%;
                margin: 0;
                padding: 15px 5px;

                font-weight: bold;
                text-align: right;
              }
            }
          }
        }

        & .bid-label{
          font-size: 14px;
        }
      }

      .bid-license{
        padding: 25px 0 20px;
        border-top: 1px solid $font-color-2;
      }

      .bid-technical{
        padding: 5px 0 25px 0;
      }

      .bid-total{
        border-top: 1px solid $font-color-2;
        padding-top: 25px;
      }
    }
  }

  .bid-payment-details{
    margin-bottom: 35px;

    header{
      font-size: 16px;
      font-weight: bold;

      color: $black-color;
      border-bottom: 1px solid $black-color;

      padding-bottom: 15px;
    }
    .bid-payment-table{
      display: flex;
      flex-direction: column;

      .payment-row{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;

        padding: 20px;
        border-bottom: 1px solid $font-color-5;

        .payment-installment, .payment-percentage, .payment-date{
          width: 33%;
          color: $font-color-5;
          font-size: 14px;
        }

        .payment-percentage{
          text-align: left;
          position: relative;
          left: 10%;
        }
        .payment-date{ text-align: right; }

        .payment-installment, .payment-percentage{
          font-weight: bold;

          i{
            font-size: 20px;
            color: $orange-color;
          }
        }
      }
    }
  }

  .bid-address-license{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px 20px;
    flex-direction: column;

    .bid-address, .bid-license{
      flex: 1;
      font-size: 13px;
      padding: 15px 0px;
      font-weight: 600;

      i{
        font-size: 23px;
        color: $color-blue;
        float: right;
        cursor: pointer;
      }
      span{
        display: inline-block;
        width: 90%;

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        vertical-align: middle;
      }
    }
    .bid-license{
      cursor: pointer;

      span{
        width: auto;
        color: $color-blue;
      }

      img{
        float: right;
      }
    }
  }

  .bid-signature{
    .signature-wrap{
      /*max-width: 100%;*/
    }
    .signature-name-container{
      /*max-width: 100%;
      margin: 0;*/
    }
    .buttons{
      /*margin: 0;*/
    }
  }

  .bid-signature-btns{
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 25px;

    label{
      padding-left: 5px;
      color: $font-color-5;
      font-size: 12px;
    }
  }
}