@import "vars";

html {
  font-family: $font-stack;
}

body {
  font: 100% $font-stack;
  color: $primary-color;
  text-transform: none;
  font-family: 'Open Sans', sans-serif;
}

button{
  cursor: pointer;
}

.main-container{
  background-color: white;
  margin: 20px;
}

.sell-form-container {
  .date-picker{
    width: 65px;
    border: none;
    font-size: 12px;
    outline: none;
    margin: 0;
  }
  .buttons {
    display: flex;
    flex-direction: column;
    .buttons-container{
      margin: 0 0 20px;
      display: inline-flex;
      justify-content: center;
      .step{
        height: 46px;
        width: 50px;
        border: 1px solid #D4D8DE;
        background-color: #F4F6F9;
        color: #9DA4B0;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 5px;
      }
      .step-active{
        background-color: #1A4B63;
        color: white;
      }
    }
  }

}

.step-content{
  color: #1a1a1a;
  padding: 20px;
  text-align: left;
  .step-title{
    font-size: $font-size-extra-large;
    color: #4F4F4F;
    font-weight: 600;
    line-height: 43px;
    margin-bottom: 20px;
  }
  .step-content-container {
    display: flex;
    flex-direction: column;
    .rights-container{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    .license-date-container{
      display: flex;
      justify-content: space-between;
      max-width: 872px;
      input[type="number"] {
        width: 100%;
        border: none;
        text-align: center;
        font-size: 16px;
        padding: 0 0 0 10px;
        outline: none;
        margin: 0;
      }
      input[type="number"]::placeholder {
        font-size: 11px;
        color: grey;

      }
      .table-right{

      }
    }
    .react-tagsinput {
      width: 100%;
      height: 36px;
      margin-left: 5px;
      border-color: lightgray;
      padding: 5px;
      display: block;
      flex-direction: row;
      input.react-tagsinput-input {
        height: 37px !important;
      }
      .react-tagsinput-tag {
        background-color: #FFC94B;
        color: #062E44;
        padding: 8px;
        border: none;
        display: flex;
        margin: 3px;
      }
    }
    .react-tagsinput>span {
      display: flex;
      height: 37px;
      padding: 0;
    }
    .base-input{
      padding-bottom: 5px;
      border-bottom: 4px solid $border-color-1;
      display: flex;
      margin-bottom: 20px;
      position: relative;
      max-width: 872px;
      .fa-edit {
        position: absolute;
        right: 3px;
        top: 7px;
        color: lightgrey;
        font-size: 26px;
      }
      .fa-cog {
        position: absolute;
        right: 10px;
        top: 10px
      }
      .currency-item {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 12px 0 8px;
        font-size: 14px;
        width: 100%;
        flex: 1;
        background: $light-background-color;
        color: $font-color-1;
        margin: 0 0 0 5px;
        .currency-icon{
          width: 26px;
          height: 26px;
          display: flex;
          border-radius: 50%;
          box-shadow: 0px 0px 2px #888;
          justify-content: center;
          margin: 0 5px 0;
          align-items: center;
          i {
            font-size: 32px;
            color: $blue-color;
            padding: 0;
          }
        }

      }
      .custom{
        font-size: 16px;
        font-weight: bold;
        color: red;
      }
      label {
        text-transform: uppercase;
        background-color: $blue-color;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 0 20px;
        height: 48px;
        font-size: 16px;
        font-weight: 600;
        width: 232px;
        color: white;
        min-width: 232px;
        box-sizing: border-box;

      }
      input, select{
        width: 100%;
        margin: 0 0 0 5px;
        height: 44px;
        padding: 0 8px;
        font-size: 16px;
      }
      .season-selector-label {
        background-color: white !important;
        color: black !important;
        width: 90px !important;
        min-width: 90px !important;
        font-size: 15px !important;
      }
    }
    .textarea-input {
      flex-direction: column;
      @extend .base-input;
      label{
        width: 100%;
        box-sizing: border-box;
      }
      textarea{
        width: auto;
        box-sizing: border-box;
        font-size: 14px;
        font-family: "Open Sans";
        font-style: italic;
      }
    }
    .small-select{
      margin: 0 0 5px;
      height: auto;
      .Select-control {
        height: 34px;
        .Select-placeholder {
          line-height: 34px;
        }
      }
    }
    .base-full-input {
      flex-direction: column;
      margin-bottom: 5px;
      .big-textarea{
        width: 500px !important;
        min-height: 170px;
      }
      @extend .base-input;
      label{
        width: 100%;
        box-sizing: border-box;
      }
      .content {
        display: flex;
        flex-direction: row;
        .sales-package-container{
          display: flex;
          flex-direction: row;
          i {
            position: relative;
            font-size: 25px;
            flex: 0.5;
            color: grey;
            top: 13px;
            padding: 0;
          }
          .sales-package{
            display: flex;
            flex-direction: row;
            border: 1px solid lightgray;
            height: 40px;
            align-items: center;
            padding: 0 15px;
            margin: 4px 5px 0 0;
            flex: 9;
          }
        }

        .item{
          background-color: $light-background-color;
          margin: 5px 2px 0;
          padding: 5px 20px 10px 50px;
          position: relative;
          flex: 1;
          display: flex;
          align-items: center;
          Select {
            margin: 0;
          }
          span{
            display: flex;
            font-size: 13px;
            width: 90px;
            font-weight: 600;
            justify-content: flex-end;
          }
          i {
            font-size: 26px;
            position: absolute;
            left: 10px;
            color: lightgray;
          }
          .fa-check-circle-o{
            color: $blue-color;
          }
          .title{
            font-weight: 600;
            font-size: 13px;
            color: $font-color-1;
            .small-datepicker{
              width: 90px;
              height: 26px;
            }

          }
          .description{
            font-size: 16px;
            color: $font-color-1;
            font-style: italic;
            line-height: 22px;
            padding-top: 10px;
          }
        }
      }
    }
    .title-bar{
      background-color: #D4D8DE;
      display: flex;
      width: 100%;
      height: 58px;
      align-items: center;
      flex-direction: row;
      margin-bottom: 20px;
      hr {
        width: 20px;
        display: block;
        height: 1px;
        border: 0;
        border-top: 2px solid #B2B9C4;
        margin: 1em;
        padding: 0;
      }
      .title{
        color: $font-color-1;
        font-size: 22px;
        font-weight: 600;
        padding-right: 20px;

      }
      .subtitle{
        color: $font-color-1;
        font-size: 16px;
        font-style: italic;
        padding-top: 4px;
      }
    }
    .step-item-description{
      font-size: $font-size-medium-large;
      font-style: italic;
      font-weight: 600;
      margin: 20px 0;
    }
    .schedule{
      font-size: 14px;
      margin-top: -30px;
      background-color: #F4F6F9;
      z-index: 100;
      position: relative;
      padding: 20px;
      column-count: 3;
      .matchday{
        padding: 10px;
        border: 1px solid lightgray;
        margin: 5px;
        font-weight: 600;
        color: black;
        width: 90%;
        display: inline-block;
        font-size: 16px;
        input[type="checkbox"] + label {
          display: inline-block;
          width: 21px;
          height: 19px;
          vertical-align: middle;
          cursor: pointer;
          background-image: none;
          background-color: #E8EBF0;
          position: relative;
          margin-right: 4px;
          margin-left: 0px;
          border: 1px solid #A9B5C6;
          border-radius: 4px;

        }
        span {
          display: block;
          float: right;
          color: grey;
          cursor: pointer;
        }
        .match-group{
          border-top: 1px solid lightgray;
          padding: 5px 0;
          margin: 10px 0 0;
          max-height: 400px;
          overflow: auto;
          .match{
            padding: 1px;
            font-size: 12px;
            line-height: 12px;
            cursor: pointer;
            span {
              display: contents;
              float: none;
              color: #4F4F4F;
            }
            .select {
              display: block;
              float: right;
            }
          }
        }

      }

      .selected{
        background-color: $blue-color;
        color: white;
      }
    }
    .add-item{
      color: #2AAAEC;
      font-size: 18px;
      cursor: pointer;
      margin-bottom: 20px;
    }
  }

}

.box-header{
  display: flex;
  flex-direction: row;
  text-transform: none;
  font-size: $font-size-medium-small;
  background-color: $blue-color;
  border-bottom: 4px solid $orange-color;

  .step{
    padding: 12px 20px 10px 70px;
    text-align: left;
    display: inline-block;
    line-height: 14px;
    position: relative;
    width: 20%;
    .step-label{
      text-transform: uppercase;
    }
    .step-title{

    }
    .step-icon{
      position: absolute;
      border-radius: 50%;
      background-color: #2b5663;
      width: 25px;
      height: 25px;
      top: 11px;
      left: 20px;
      border: 2px solid #8da9b1;
    }
  }
  .step-active{
    background-color: $orange-color;
    .step-title{
      color: #1a1a1a;
    }
  }
}

.ReactTable{
  border: none !important;
  margin-bottom: 20px;
  .rt-thead {
    box-shadow: none;
    margin-bottom: 5px;
  }
  .rt-th {
    background-color: #1A4B63;
    border: none;
    color: white;
    height: 48px;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    .rt-resizable-header-content {
      padding: 8px 0 8px 5px;
      text-align: left;
    }
  }
  .rt-tr-group{
    border: 1px solid lightgray;
    margin: 0px 0 5px;
  }
  .rt-tr{
    :last-child{
      text-align: right;
      padding-right: 0;
    }
  }
  .rt-td {
    border-right: none !important;
    margin-left: 5px;

  }

}

.ReactModal__Content {
  padding: 0 !important;
}

.ReactModal__Selector{
  padding: 20px !important;
  position: absolute;
}

.react-toggle {
  margin-left: 10px;
  margin-right: 10px;
}

.definition {
  border-bottom: 4px solid #D4D8DE;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  button{
    border: none;
    padding: 15px 20px;
    font-size: 16px;
    color: #4F4F4F;
    margin: 0px 0 10px;
    max-width: 80px;
  }
  .definition-container{
    height: 42px;
    margin: 10px 0px;
    background-color: $light-background-color;
    display: flex;
    align-items: center;
    padding: 0 15px;
    width: 100%;
    box-sizing: border-box;
    label{
      font-size: 16px;
      font-weight: 600;
      margin-right: 40px;
    }
    input[type="text"]{
      border: none;
      background: none;
      border-bottom: 2px solid #D4D8DE;
      outline: none;
      font-size: 16px;
      color: #4F4F4F;
      padding: 5px;
      flex: 1;
    }
  }

}

.Select {
  position: relative;
  width: 100%;
  height: 45px;
  margin-left: 5px;
  .Select-control{
    border-radius: 0px;
    border: 1px solid lightgrey;
    height: 45px;
    .Select-placeholder{
      line-height: 45px;
    }
  }
}

.modal-title{
  height: 48px;
  background-color: #48C0FE;
  font-size: 16px;
  font-weight: 600;
  line-height: 17px;
  color : #fff;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 20px;
  i {
    position: absolute;
    font-size: 26px;
    right: 10px;
    top: 6px;
  }
}

.modal-table {
  display: flex;
  flex-direction: column;
  .row{
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    width: 100%;
    min-width: 800px;
    border-bottom: 1px solid lightgray;
    align-items: center;
    min-height: 40px;
  }
  .row-header{
    height: 55px;
    background-color: #D4D8DE;
    color: #4F4F4F;
    font-size: 16px;
    font-weight: 600;
    line-height: 16px;
  }
  .column{
    display: flex;
    flex: 2;
    box-sizing: border-box;
    justify-content: center;
    text-align: center;
    align-items: center;
    input.text-field {
      margin: 3px 0 0;
      height: 24px;
      padding: 2px;
      width: 85px;
    }
    input[type="checkbox"], input[type="radio"]{
      width: 50px;
    }
    .Select{
      min-height: 31px;
      height: auto;
      .Select-control{
        min-height: 31px;
        height: auto;
        .Select-value{
          margin-top: 2px;
        }
        .Select-multi-value-wrapper {
          text-align: left;
          width: 100%;
        }
        .Select-placeholder{
          line-height: 30px;
        }
        .Select-input {
          height: 31px;
        }
      }

    }
  }
}

.modal-input
{
  display: flex;
  margin-bottom: 10px;
  position: relative;
  max-width: 872px;
  .fa-cog {
    position: absolute;
    right: 10px;
    top: 10px
  }
  .column {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 4px 0;
    .small-label{
      font-size: 13px;
      width: 150px;
      padding: 0 10px;
      line-height: 14px;
    }
  }
  label {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    height: 48px;
    font-size: 16px;
    width: 232px;
    color: #4F4F4F;
    min-width: 232px;
    box-sizing: border-box;

  }
  input, select{
    width: 200px;
    margin: 0px;
    height: 40px;
    padding: 0 8px;
    font-size: 16px;
    border: 1px solid lightgrey;
  }
  input::placeholder{
    color: lightgray;
  }

  input[type="checkbox"] + label {
    display: inline-block;
    width: 26px;
    height: 26px;
    min-width: 19px;
    vertical-align: middle;
    cursor: pointer;
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid lightgray;
    position: relative;
    margin-right: 20px;
    background-image: none;
  }

  input[type="checkbox"]:checked + label {
    border: 1px solid #48C0FE;
  }

  input[type="checkbox"] + label:after {
    content: '';
    width: 20px;
    height: 20px;
    position: absolute;
    top: 2px;
    left: 2px;
    border: none;
    background: #48C0FE;
    opacity: 0;
    transform: none;
    border-radius: 50%;
  }

  .Select {
    height: 40px !important;
    .Select-control{
      height: 40px !important;
      .Select-placeholder{
        line-height: 40px !important;
      }
    }
  }
}

.listing-list-view{
  display: flex;
  margin-bottom: 20px;
  border: 1px solid lightgray;
  border-top: 6px solid #1A4B63;
  padding: 25px;
  .left {
    flex: 1;
    .image{
      width: 30vmin;
      height: 30vmin;
      display: flex;
      background-color: lightgray;
      margin-bottom: 5px;
    }
    .date {
      font-size: 16px;
      color: #4F4F4F;
      margin-top: 2px;
      span {
        font-weight: 600;
      }
    }
  }
  .right{
    flex: 4;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    .name{
      color: #2DA7E6;
      font-size: 25px;
      font-weight: 600;
      text-decoration: underline;
      line-height: 14px;
      padding-bottom: 20px;
    }
    .sales-bundles {
      display: flex;
      margin-top: 20px;
      .sales-package {
        display: flex;
        border: 1px solid lightgrey;
        margin-right: 5px;
        align-items: center;
        padding: 0 0px 0 10px;
        height: 40px;
      }
    }

  }

}