@import "vars";

html {
  font-family: $font-stack;
  height: 100%;
}

body {
  font: 100% $font-stack;
  text-transform: none;
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  color: #333333;
}

body.page-home {
  .manager-container {
    @media only screen and (min-width: 1920px) {
      width: 1600px;
      margin: 0 auto;
    }
    @media only screen and (max-width: 1280px) {
      width: 1280px;
      overflow: scroll;
    }
  }

}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

a {
  color: $border-color-2;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: $blue-color;
  text-decoration: none;
}

.main-container {
  background-color: white;
  margin: 20px;
}

.marketplace-container {
  .date-picker {
    width: 65px;
    border: none;
    font-size: 12px;
    outline: none;
    margin: 0;
  }

  .duration-date-pickers .date-picker {
    border: 1px solid lightgray;
  }

  .buttons {
    display: flex;
    flex-direction: column;
    i.fa {
      padding: 5px;
    }
    .buttons-container {
      margin: 0 0 8px;
      display: inline-flex;
      justify-content: center;
      .light-blue-button {
        min-width: 212px;
        margin-right: 5px;
      }
      .step {
        height: 43px;
        width: 46px;
        border: 1px solid #D4D8DE;
        background-color: #F4F6F9;
        color: #9DA4B0;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 5px;

        &.step-visited {
          cursor: pointer;
        }
      }
      .step-active {
        background-color: #1A4B63;
        color: white;
      }
    }
    .step-1 {
      .step {
        height: 46px;
      }
    }
    .step-2 {
      .standard-button {
        margin-left: inherit;
      }
      .prev {
        background-color: #1DA9EF;
        color: #fff;
      }
      .step {
        &:first-of-type {
          margin-left: 35px;
        }
      }
    }
  }
}

.step-content {
  color: #1a1a1a;
  padding: 20px;
  text-align: left;
  i.fa {
    padding: 5px;
  }

  .listing-summary {
    border-bottom: 4px solid #D4D8DE;
    margin-bottom: 30px;
    padding-bottom: 3px;
    span {
      text-transform: uppercase;
      background-color: #1a4b63;
      align-items: center;
      padding: 0 20px;
      height: 35px;
      font-size: 16px;
      color: #fff;
      font-weight: 600;
      display: flex;
    }
  }
  .step-title {
    font-size: $font-size-extra-large;
    color: #4F4F4F;
    font-weight: 600;
    line-height: 48px;
    margin-bottom: 20px;
  }
  .step-content-container {
    display: flex;
    flex-direction: column;
    .rights-box {
      display: flex;
      flex-direction: row;
      margin: 0 0 20px 0;
      flex-wrap: wrap;
      .rights-box-item {
        min-height: 40px;
        flex-direction: row;
        display: flex;
        align-items: center;
        //flex: 1;
        min-width: 33%;
      }
    }
    .rights-container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;

      .base-input {
        &.disabled {
          pointer-events: none;
          opacity: 0.6;
        }

        .display-label {
          cursor: pointer;
          border: 1px solid lightgray;
          width: 100%;
          margin: 0 0 0 5px;
          height: 35px;
          line-height: 35px;
          font-size: 16px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          padding: 0 38px 0 8px;
        }
      }
    }
    .license-date-container {
      display: flex;
      justify-content: space-between;
      max-width: 872px;
      input[type="number"] {
        width: 100%;
        border: none;
        text-align: center;
        font-size: 16px;
        padding: 0 0 0 10px;
        outline: none;
        margin: 0;
      }
      input[type="number"]::placeholder {
        font-size: 11px;
        color: grey;

      }
      .table-right {

      }
    }
    .react-tagsinput {
      width: 100%;
      height: 35px;
      margin-left: 5px;
      border-color: lightgray;
      display: block;
      flex-direction: row;
      padding-top: inherit;
      padding-left: 8px;
      input.react-tagsinput-input {
        border: 0;
        margin: inherit;
        padding: inherit;
      }
      .react-tagsinput-tag {
        background-color: #FFC94B;
        color: #062E44;
        padding: 8px;
        border: none;
        display: flex;
        margin: 3px;
      }
    }
    .react-tagsinput > span {
      display: flex;
      height: 37px;
      padding: 0;
    }
    .base-input {
      &.new-fixture {
        .react-datepicker-wrapper {
          width: 180px;
        }
      }
      padding-bottom: 5px;
      border-bottom: 4px solid $border-color-1;
      display: flex;
      margin-bottom: 20px;
      position: relative;
      max-width: 872px;
      .fa-edit {
        position: absolute;
        right: 3px;
        //top: 7px;
        color: grey;
        font-size: 26px;
      }
      .fa-cog {
        position: absolute;
        right: 10px;
        top: 10px
      }
      .currency-item {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 12px 0 8px;
        font-size: 14px;
        width: 100%;
        flex: 1;
        background: $light-background-color;
        color: $font-color-1;
        margin: 0 0 0 5px;
        .currency-icon {
          width: 26px;
          height: 26px;
          display: flex;
          border-radius: 50%;
          box-shadow: 0px 0px 2px #888;
          justify-content: center;
          margin: 0 5px 0;
          align-items: center;
          i {
            font-size: 32px;
            color: $blue-color;
            padding: 0;
          }
        }

      }
      .custom {
        font-size: 16px;
        font-weight: bold;
        color: red;
      }
      label {
        text-transform: uppercase;
        background-color: $blue-color;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 0 20px;
        height: 35px;
        font-size: 16px;
        font-weight: 600;
        color: white;
        min-width: 275px;
        box-sizing: border-box;
      }
      input, select {
        width: 100%;
        margin: 0 0 0 5px;
        height: 35px;
        padding: 0 8px;
        font-size: 16px;
        outline: none;
      }
      .season-selector-label {
        background-color: white !important;
        color: black !important;
        width: 90px !important;
        min-width: 90px !important;
        font-size: 15px !important;
      }
    }
    .textarea-input {
      flex-direction: column;
      margin-bottom: inherit;
      @extend .base-input;
      label {
        width: 100%;
        box-sizing: border-box;
      }
      .textarea-input-text {
        border-left: 1px solid #D4D8DE;
        border-right: 1px solid #D4D8DE;
        margin: 0;
        padding: 10px;
      }
      textarea {
        width: auto;
        box-sizing: border-box;
        font-size: 14px;
        font-family: "Open Sans";
        outline: none;
        border: 1px solid #D4D8DE;
        border-top: none;
      }
    }
    .small-select {
      margin: 0 0 5px;
      height: auto;
      .Select-control {
        height: 34px;
        .Select-placeholder {
          line-height: 34px;
        }
      }
    }
    .base-full-input {
      flex-direction: column;
      margin-bottom: 5px;
      .big-textarea {
        width: 500px !important;
        min-height: 170px;
        border: 1.1px solid #A9A9A9;
      }
      @extend .base-input;
      label {
        width: 100%;
        box-sizing: border-box;
        .select-currency {
          display: none;
        }
      }
      .content {
        display: flex;
        flex-direction: row;
        .sales-package-container {
          display: flex;
          flex-direction: row;
          .sales-package {
            display: flex;
            flex-direction: row;
            border: 1px solid lightgray;
            height: 40px;
            align-items: center;
            padding: 0 15px;
            margin: 4px 5px 0 0;
            flex: 9;
          }
        }

        .item {
          background-color: $light-background-color;
          margin: 5px 2px 0;
          padding: 5px 20px 10px 50px;
          position: relative;
          flex: 1;
          display: flex;
          align-items: center;
          Select {
            margin: 0;
          }
          span {
            display: flex;
            font-size: 13px;
            width: 90px;
            font-weight: 600;
            justify-content: flex-end;
          }
          i {
            font-size: 26px;
            position: absolute;
            left: 10px;
            color: lightgray;
          }
          .fa-check-circle-o {
            color: $blue-color;
          }
          .title {
            font-weight: 600;
            font-size: 13px;
            color: $font-color-1;
            .small-datepicker {
              width: 110px;
              height: 26px;
            }

          }
          .description {
            font-size: 16px;
            color: $font-color-1;
            font-style: italic;
            line-height: 22px;
            padding-top: 10px;
          }
        }
      }
      .Select--single > .Select-control .Select-value {
        line-height: 34px !important;
      }
    }
    .title-bar {
      background-color: #D4D8DE;
      display: flex;
      width: 100%;
      height: 35px;
      align-items: center;
      flex-direction: row;
      margin-bottom: 20px;
      hr {
        width: 20px;
        display: block;
        height: 1px;
        border: 0;
        border-top: 2px solid #B2B9C4;
        margin: 1em;
        padding: 0;
      }
      .title {
        color: $font-color-1;
        font-size: 18px;
        font-weight: 600;
      }
      .subtitle {
        color: $font-color-1;
        font-size: 16px;
        font-style: italic;
        padding-top: 4px;
      }
    }
    .step-item-description {
      font-size: $font-size-medium-large;
      margin: 20px 0;
      color: #4F4F4F;
      font-weight: normal;
    }
    .schedule {
      font-size: 14px;
      margin-top: -30px;
      background-color: #F4F6F9;
      z-index: 100;
      position: relative;
      padding: 20px;
      column-count: 3;
      .matchday {
        padding: 10px;
        border: 1px solid lightgray;
        margin: 5px;
        font-weight: 600;
        color: black;
        width: 90%;
        display: inline-block;
        font-size: 16px;
        //input[type="checkbox"] + label {
        //  display: inline-block;
        //  width: 21px;
        //  height: 19px;
        //  vertical-align: middle;
        //  cursor: pointer;
        //  background-image: none;
        //  background-color: #E8EBF0;
        //  position: relative;
        //  margin-right: 4px;
        //  margin-left: 0px;
        //  border: 1px solid #A9B5C6;
        //  border-radius: 4px;
        //
        //}
        span {
          display: block;
          float: right;
          color: grey;
          cursor: pointer;
        }
        .match-group {
          border-top: 1px solid lightgray;
          padding: 5px 0;
          margin: 10px 0 0;
          max-height: 400px;
          overflow: auto;
          .match {
            padding: 1px;
            font-size: 12px;
            line-height: 12px;
            cursor: pointer;
            span {
              display: contents;
              float: none;
              color: #4F4F4F;
            }
            .select {
              display: block;
              float: right;
            }
          }
        }

      }

      .selected {
        background-color: $blue-color;
        color: white;
      }
    }
    .add-item {
      color: #2AAAEC;
      font-size: 18px;
      cursor: pointer;
      margin-bottom: 20px;
    }
  }

}

.step-content-custom {
  .modal-input {
    margin-bottom: 50px;
    label {
      float: left;
      min-width: inherit;
      width: inherit;
      color: #4F4F4F;;
    }
    .row {
      float: right;
      margin-top: -10px;
      .small-label {
        color: #4F4F4F;
        font-size: 14px;
        font-weight: bold;
      }
      input[type=number] {
        width: 95px;
      }
    }
  }
}

.step-2 {
  .step-content-container {
    .textarea-input {
      max-width: 100%;
      margin-bottom: 20px;
    }
  }
  .table {
    border-bottom: 4px solid #D5D9DF;
    background-color: inherit;
    margin-bottom: 20px;
    .react-toggle--checked {
      .react-toggle-track {
        background-color: #17AAEF !important;
        height: 26px !important;
      }
      .react-toggle-thumb {
        border-color: #17AAEF !important;
        left: 25px !important;
        top: 2px !important;
      }
    }
  }
  .left {
    float: left;
    .modal-input {
      display: flex;
      margin-bottom: 10px;

      &.red-text{
        font-size: 13px;
        height: 30px;
        color: $red-color;
      }
      label {
        float: left;
      }
      input, select {
        &[type='checkbox'] {
          width: 20px;
        }
        width: 215px;
      }
    }
  }
  .right {
    padding: inherit;
    float: right;
    width: 60%;
    @media screen and (max-width: 1460px) {
      float: none;
    }
    .modal-input {
      border-bottom: 4px solid #D4D8DE;
      margin-bottom: inherit;
      display: block;
      width: 100%;
      label {
        text-transform: uppercase;
        background-color: #1a4b63;
        padding: 0 20px;
        color: white;
        width: 100%;
        height: 35px;
      }
      textarea {
        outline: none;
        border: 1px solid #DADADA;
        font-family: 'Open Sans', sans-serif;
        resize: none;
        font-size: 14px;
        min-height: 166px;
      }
    }
  }
}

.step-3 {
  .listing-summary {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .step-content-container {
    .rights-box {
      background: #F4F6F9;
      border-bottom: 4px solid #26ABED;
      padding: 10px 15px;
    }
    .license-date-container {
      .right-name {
        flex: 1;
        height: 35px;
        padding-top: 6px;
        padding-bottom: 6px;
      }
      .right-item-content {
        height: 35px;
        &:last-of-type {
          margin-right: 0;
          justify-content: flex-end;
        }
      }
    }
  }
}

.step-4 {
  .select-currency {
    display: flex;
    align-items: baseline;
    border-bottom: 4px solid #D4D8DE;
    margin-bottom: 30px;
    padding-bottom: 3px;
    position: relative;
    max-width: 515px;
    .select-text {
      text-transform: uppercase;
      background-color: #1a4b63;
      align-items: center;
      padding: 0 20px;
      height: 35px;
      color: #fff;
      font-weight: 600;
      display: flex;
      width: 100%;
    }
    .currency-selector {
      .current {
        padding: 6px 30px;
        width: 100px;
        text-align: center;
        border: 1px solid #DADADA;
        margin-top: 1px;
      }
      .dropdown {
        right: 0;
        position: absolute;
        top: 34px;
        display: none;
        width: 100px;
        .currency-item {
          padding: 7px 0;
          color: #000;
          background: #FFFFFF;
          border: 1px solid #DADADA;
          text-align: center;
        }
      }
      &:hover > .dropdown {
        display: block;
      }
    }
  }
  .step-content-container {
    .base-input {
      input {
        font-weight: bold;
        font-size: 15px;
        color: #333;
      }
      .Select {
        margin-left: 5px;
        width: 100%;
        .Select-control {
          height: 35px;
          .Select-value {
            line-height: 34px !important;
          }
          .Select-input {
            height: 33.5px;
          }
        }
      }
    }
    .base-full-input {
      margin-bottom: 20px;
      max-width: 1163px;
      flex-direction: row;
      position: relative;
      label {
        max-width: 851px;
      }
      .sales-bundles-placeholder {
        height: 100%;
        position: absolute;
        right: 0;
        left: 0;
        padding-top: 35px;
        .add-item {
          margin-left: 0 !important;
          font-size: 30px;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
    .radio-tab {
      background: #F4F6F9;
      height: 35px;
      width: 153px;
      font-size: 14px;
      font-weight: 600;
      padding: 5px 20px 5px 10px;
      display: flex;
      align-items: center;
      margin-left: 3px;
      input[type="radio"].ca-radio {
        width: 20px;
        height: 20px;
        margin-right: 10px;
      }
    }
    .custom-selector {
      border-bottom: none;
    }
    .sales-package-form {
      .base-full-input {
        max-width: inherit;
        margin-bottom: inherit;
        flex-direction: column;
        height: 250px;
        label {
          display: inline-block;
          max-width: inherit;
          z-index: 100;
          .label-text {
            display: flex;
            align-items: center;
            height: 35px;
          }
        }
      }
      .add-item {
        margin-bottom: 0;
        &:last-child {
          margin-left: 10px;
        }
      }
    }
    .title-bar {
      background: none;
      color: #4F4F4F;
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 10px;
      hr {
        display: none;
      }
    }
    .row {
      max-width: 872px;
      .base-input {
        float: left;
        max-width: 435px;
        &:nth-child(2) {
          margin-left: 31px;
        }
        .react-datepicker-wrapper {
          input {
            border: 1px solid #CDCDCD;
            max-width: 125px;
          }
        }
      }
      .custom-selector {
        border-bottom: 4px solid #D4D8DE;
      }
    }
  }
  .Select-placeholder {
    line-height: 34px;
  }
}

.schedule {
  font-size: 14px;
  z-index: 100;
  position: relative;
  padding: 5px 0;
  column-count: 2;
  .matchday {
    background-color: #FAFBFC;
    padding: 10px;
    border: 1px solid lightgray;
    margin: 2px 0;
    font-weight: 600;
    color: black;
    width: 100%;
    display: inline-block;
    font-size: 16px;
    box-sizing: border-box;
    //input[type="checkbox"] + label {
    //  display: inline-block;
    //  width: 21px;
    //  height: 19px;
    //  vertical-align: middle;
    //  cursor: pointer;
    //  background-image: none;
    //  background-color: #E8EBF0;
    //  position: relative;
    //  margin-right: 4px;
    //  margin-left: 0px;
    //  border: 1px solid #A9B5C6;
    //  border-radius: 4px;
    //
    //}
    span {
      display: block;
      float: right;
      color: grey;
      cursor: pointer;
    }
    .match-group {
      border-top: 1px solid lightgray;
      padding: 5px 0;
      margin: 10px 0 0;
      max-height: 400px;
      overflow: auto;
      .match {
        padding: 1px;
        font-size: 12px;
        line-height: 12px;
        cursor: pointer;
        span {
          display: contents;
          float: none;
          color: #4F4F4F;
        }
        .select {
          display: block;
          float: right;
        }
      }
    }

  }

  .selected {
    background-color: $blue-color;
    color: white;
  }
}

.season-details {
  margin-bottom: 30px;
  .season-name {
    background-color: $blue-color;
    color: white;
    padding: 12px;
    font-size: 18px;
    font-weight: 600
  }

}

.full-item-box {
  padding-bottom: 5px;
  border-bottom: 4px solid $border-color-1;
  display: flex;
  margin-bottom: 20px;
  position: relative;
  flex-direction: column;
  .fa-edit {
    position: absolute;
    right: 3px;
    top: 7px;
    color: lightgrey;
    font-size: 26px;
  }
  .fa-cog {
    position: absolute;
    right: 10px;
    top: 10px
  }
  label {
    text-transform: uppercase;
    background-color: $blue-color;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 20px;
    height: 48px;
    font-size: 16px;
    font-weight: 600;
    width: 100%;
    color: white;
    min-width: 232px;
    box-sizing: border-box;
  }
  .full-item-content {
    padding: 15px 10px 30px;
    font-size: 14px;
    color: #4F4F4F;
    line-height: 21px;
    white-space: pre-line;
  }
}

.term-sheet-full-item-box {
  @extend .full-item-box;
  label {
    margin-top: 20px;
    padding: 0 10px;
    font-size: 12px;
    height: 30px;
  }

}

.box-header {
  display: flex;
  flex-direction: row;
  text-transform: none;
  font-size: $font-size-medium-small;
  background-color: $blue-color;
  border-bottom: 5px solid $orange-color;
  color: white;
  i.fa {
    padding: 5px;
  }

  .step {
    padding: 19px 20px 16px 75px;
    text-align: left;
    display: inline-block;
    line-height: 14px;
    position: relative;
    width: 25%;

    &.visited {
      cursor: pointer;
    }

    .step-label {
      text-transform: uppercase;
      font-size: 16px;
    }
    .step-title {
      font-size: 14px;
      font-weight: bold;
      color: #5E9EBF;
      margin-top: 5px;
    }
    .step-icon {
      position: absolute;
      border-radius: 50%;
      width: 31px;
      height: 31px;
      left: 32px;
      top: 17px;
      border: 2px solid rgba(119, 174, 202, 0.34);
      background-color: #296380;
      .fa {
        display: none;
        text-align: center;
        margin-top: 3px;
        font-size: 11px;
        color: #FFCD34;
      }
    }
  }
  .step-active {
    background-color: $orange-color;
    .step-title {
      color: #896614;
      margin-top: 9px;
    }
    .step-icon {
      height: 35px;
      width: 35px;
      left: 28px;
      top: 19px;
      border: 2px solid rgba(126, 95, 24, 0.34);
      background-color: #DFAB30;
      .fa {
        color: #FFFFFF;
        margin-top: 5px;
      }
      .fa-ellipsis-h {
        display: block;
        margin-top: 6px;
      }
    }
  }
  .finished {
    .step-icon {
      .fa {
        display: block;
      }
      .fa-ellipsis-h {
        display: none;
      }
    }
  }
}

.ReactModal__Content {
  padding: 0 !important;
  overflow: visible !important;
  max-width: 840px;
  background: #F5F6FA !important;
  border-bottom: none !important;
  border-radius: 5px !important;
  .modal-title {
    background: none;
    text-transform: uppercase;
    color: #3399FE;
    font-size: 20px;
    height: inherit;
    padding: 15px;
    line-height: 1;
    .fa-edit {
      font-size: 30px;
    }
    .fa-times {
      color: #CBCBCB;
      cursor: pointer;
    }
    .fa-comments {
      background: #3399FE;
      color: #fff;
      border-radius: 5px;
      right: 45px;
      position: absolute;
      cursor: pointer;
    }
  }
  .modal-table {
    textarea {
      margin: 20px 20px 0;
      width: calc(100% - 40px) !important;
      border: 1px solid #E4E4E4;
      color: #343434;
      outline: none;

      &.required {
        border-color: $red-color;

        &::placeholder{
          color: $red-color;
        }
      }
    }
    div {
      textarea {
        margin: inherit;
        width: 100% !important;
      }
    }
  }
  .step-content {
    padding: inherit;
    .row-header {
      background: #E4E5E7;
      border-bottom: none;
      font-size: 14px;
    }
    .row {
      padding: 15px 20px;
      .column {
        margin-left: inherit;
        margin-right: 10px;
      }
    }
    .big-textarea {
      width: 100% !important;
    }
  }
  .popup-buttons {
    .cancel-button {
      border: none;
      background: none;
      text-transform: uppercase;
      font-weight: bold;
      color: #3F5667;
      outline: none;
      font-size: 15px;
    }
    .standard-button {
      border-radius: 5px;
      text-transform: uppercase;
      padding: 15px 25px;
      min-width: 150px;
      font-size: 16px;
      font-weight: bold;
      box-shadow: 0 8px 12px -2px rgba(0, 0, 0, 0.09);
    }
  }
  .step-content-custom {
    padding: 10px 15px;
    .row {
      padding: 8px 0;
      margin-left: 10px;
      .column {
        margin-right: inherit;
      }
    }
  }
  .custom {
    .step-content-container {
      .modal-input {
        margin-bottom: 15px;
        padding: 0 16px;
        label {
          float: left;
          min-width: inherit;
          max-width: 170px;
          color: #4F4F4F;
        }
        div.Select {
          float: right;
          max-width: 280px;
          width: 100%;
          margin-top: -5px;
          .Select-input {
            input {
              border: none;
            }
          }
        }
      }
      .base-full-input {
        input {
          width: inherit !important;
        }
      }
    }
  }
}

.ReactModal__Selector {
  padding: 20px !important;
  position: absolute;
  .buttons {
    .standard-button {
      min-width: 130px;
      padding: 0 25px;
      height: 48px;
    }
  }
}

.react-toggle {
  margin-left: 10px;
  margin-right: 10px;
}

.definition {
  border-bottom: 4px solid #D4D8DE;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  button {
    border: none;
    padding: 15px 20px;
    font-size: 16px;
    color: #4F4F4F;
    margin: 0px 0 10px;
    max-width: 80px;
  }
  .definition-container {
    height: 42px;
    margin: 10px 0px;
    background-color: $light-background-color;
    display: flex;
    align-items: center;
    padding: 0 15px;
    width: 100%;
    box-sizing: border-box;
    label {
      font-size: 16px;
      font-weight: 600;
      margin-right: 40px;
    }
    input[type="text"] {
      border: none;
      background: none;
      border-bottom: 2px solid #D4D8DE;
      outline: none;
      font-size: 16px;
      color: #4F4F4F;
      padding: 5px;
      flex: 1;
    }
  }
}

#inputSearch::placeholder {
  color: #A5A5A5;
}

.modal-title {
  height: 48px;
  background-color: #134A63;
  font-size: 16px;
  font-weight: 600;
  line-height: 17px;
  color: #fff;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 20px;

  .close-icon {
    position: absolute;
    font-size: 23px;
    right: 10px;
    cursor: pointer;
  }

  .close {
    position: absolute;
    font-size: 15px;
    right: 15px;
    top: 14px;
    cursor: pointer;
  }

  .tooltip-icon {
    font-size: 24px;
  }
}

.modal-table {
  display: flex;
  flex-direction: column;
  .row {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    width: 100%;
    min-width: 750px;
    border-bottom: 1px solid lightgray;
    align-items: center;
    min-height: 40px;
  }
  .row-header {
    height: 55px;
    background-color: #D4D8DE;
    color: #4F4F4F;
    font-size: 16px;
    font-weight: 600;
    line-height: 16px;
  }
  .column {
    display: flex;
    flex: 2;
    box-sizing: border-box;
    justify-content: center;
    margin-left: 10px;
    align-items: center;
    text-align: left;
    position: relative;
    font-weight: bold;
    input.text-field {
      margin: 3px 0 0;
      height: 24px;
      padding: 2px;
      width: 85px;
      min-width: 50px;
    }
    input[type="checkbox"] {
      width: 50px;
    }
    input[type="checkbox"] {
      position: absolute;
      height: 20px;
      width: 20px;
      opacity: 0;
      z-index: 100;
      margin-top: 0;
      &:focus ~ label {
        background: #F4F6F9;
      }
      &:checked ~ label {
        background: #F4F6F9;
        &:after {
          display: block;
        }
      }
      &:disabled ~ label {
        background: #F4F6F9;
        opacity: 0.6;
        pointer-events: none;
        &:after {
          border-color: #7b7b7b;
        }
      }
    }
    label {
      position: absolute;
      height: 20px;
      width: 20px;
      background: #F4F6F9;
      border: 1px solid #bbc2cf;
      border-radius: 4px;
      &:after {
        box-sizing: unset;
        content: '';
        position: absolute;
        display: none;
        left: 6px;
        top: 1px;
        width: 3px;
        height: 10px;
        border: solid #17aaef;
        border-width: 0 3px 3px 0;
        transform: rotate(45deg);
      }
    }

    .Select {
      width: 100%;
      min-height: 31px;
      height: auto;
      .Select-control {
        min-height: 31px;
        height: auto;
        .Select-value {
          margin-top: 2px;
        }
        .Select-multi-value-wrapper {
          text-align: left;
          width: 100%;
        }
        .Select-placeholder {
          line-height: 30px;
        }
        .Select-input {
          height: 31px;
        }
      }

    }
  }
}

.modal-input {
  //display: flex;
  margin-bottom: 30px;
  position: relative;
  max-width: 872px;
  &:last-child {
    margin-bottom: 0;
    .row {
      padding-top: inherit;
      .column {
        &:first-child {
          margin-top: 0;
        }
      }
    }
  }

  .fa-cog {
    position: absolute;
    right: 10px;
    top: 10px
  }
  .row {
    padding-left: 20px;
  }
  .column {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 4px 0;
    .package-selector {
      margin-right: 10px;
    }
    .small-label {
      font-size: 13px;
      width: 100px;
      flex: 100px 0 0;
      padding: 0 10px;
      line-height: 14px;
    }
  }
  label {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
    padding: 0;
    min-width: 232px;
    box-sizing: border-box;
    width: 325px;
    color: #060606;
    font-size: 16px;
    font-weight: 600;
  }
  input, select {
    margin: 0;
    height: 36px;
    padding: 0 8px;
    font-size: 16px;
    border: 1px solid lightgrey;
  }
  select, input[type=number] {
    text-align: right;
    text-align-last: right;
  }
  input::placeholder {
    color: #000;
  }
  //input[type="radio"]{
  //  display: none;
  //}
  //
  //input[type="checkbox"] + label, input[type="radio"] + label  {
  //  display: inline-block;
  //  width: 26px;
  //  height: 26px;
  //  min-width: 19px;
  //  vertical-align: middle;
  //  cursor: pointer;
  //  background-color: transparent;
  //  border-radius: 50%;
  //  border: 1px solid lightgray;
  //  position: relative;
  //  margin-right: 20px;
  //  background-image: none;
  //}
  //input[type="checkbox"]:checked + label:after, input[type="radio"]:checked + label:after {
  //  opacity: 1;
  //}
  //
  //input[type="checkbox"]:checked + label, input[type="radio"]:checked + label {
  //  border: 1px solid #48C0FE;
  //}
  //input[type="radio"]:checked + label {
  //  margin-left: 5px;
  //}
  //
  //input[type="checkbox"] + label:after, input[type="radio"] + label:after {
  //  content: '';
  //  width: 20px;
  //  height: 20px;
  //  position: absolute;
  //  top: 2px;
  //  left: 2px;
  //  border: none;
  //  background: #48C0FE;
  //  opacity: 0;
  //  transform: none;
  //  border-radius: 50%;
  //}
}

.medium-spinner {
  font-size: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  color: $color-blue-dark;
}

.big-spinner {
  font-size: 80px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: $color-blue-dark;
}

.digital-signature {

}

.modal-inner {
  color: grey;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  max-height: 50vh;
  overflow: auto;
}

.listing-details {
  width: 100%;

  .listing-details-top-info {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 13px;
    margin-bottom: 15px;

    .icon {
      font-size: 18px;
      margin-right: 10px;
      padding: 0;
      color: $color-blue;
    }

    & > * {
      margin-left: 20px;
    }
  }
  .info {
    font-size: 14px;
  }
  .listing-details-content {
    display: flex;
    flex-direction: row;

    .left {
      flex: 1;
      font-size: 14px;

      .image {
        width: 300px;
        height: 300px;
        display: flex;
        background-color: lightgray;
        margin-bottom: 15px;

        img {
          object-fit: cover;
          width: 100%;
        }
      }

      .listing-rights {
        margin-bottom: 15px;
        padding-bottom: 5px;
        border-bottom: 1px solid $color-grey;

        .listing-item {
          margin-bottom: 10px;
          img {
            width: 17px;
            margin-right: 10px;
          }
        }

      }

      .listing-attributes {
        margin-bottom: 15px;
        padding-bottom: 5px;
        border-bottom: 1px solid $color-grey;
      }

      .listing-item {
        display: block;
        .event {
          display: flex;
          align-items: flex-start;
          margin-bottom: 10px;

          .event-icon {
            flex: 17px 0 0;
          }

          .event-text {
            white-space: normal;

            span {
              display: block;
              width: 100%;
            }
          }
        }
      }
      .header {
        height: 70px;
        align-items: center;
        display: flex;
        margin-bottom: 20px;
      }

      .date {
        font-size: 16px;
        color: #4F4F4F;
        margin-top: 2px;
        span {
          font-weight: 600;
        }
      }
    }
    .right {
      flex: 4;
      display: flex;
      flex-direction: column;
      padding: 15px;
      background-color: $content-bg;
      box-shadow: 0 1px 9px rgba(0,0,0,0.21);

      .spacer-bottom {
        margin-bottom: 10px;
      }

      .listings-details-title {
        margin-bottom: 10px;
        padding: 10px 0 20px;
        border-bottom: 1px solid $color-grey;
      }

      .description-info {
        max-width: 800px;
        padding: 30px;
        background: #EFEEEE;
        border: 1px solid #cccccc;
        margin-bottom: 15px;

        .row-title {
          margin-bottom: 20px;
        }

        .col-wrapper{
          display: flex;
          justify-content: space-between;
          align-items: flex-start;
          align-content: stretch;

          .col {
            flex: 45% 0 0;

            .row-item {
              border-top: 1px solid #cccccc;
              padding-top: 20px;
              padding-bottom: 20px;

              font-size: 14px;

              i {
                font-size: 20px;
                margin-right: 10px;
              }
              .cap {
                display: inline-block;
                margin-right: 10px;

                input {
                  margin-right: 10px;
                }
              }

            }
          }
        }
      }

      .ca-tabs {
        margin-bottom: 30px;
      }

      .txt {
        color: #555555;
        font-size: 13px;
        margin-bottom: 20px;
      }

      .listing-details-tab {
        .additional-items {
          display: flex;
          align-items: center;
          font-size: 13px;
          margin-bottom: 30px;

          .item {
            display: flex;
            align-items: center;
            background-color: $color-grey-light;
            padding: 10px 20px;
            margin-right: 10px;

            .icon {
              font-size: 21px;
              padding: 0;
              padding-right: 5px;
            }

            .cap {
              text-transform: capitalize;
              margin-right: 5px;
            }
          }
        }
        .title {
          border-bottom: 1px solid;
          font-weight: bold;
          padding-bottom: 15px;
        }
        .row-container {
          display: flex;
          border-bottom: 1px solid $color-grey-light;
          align-items: center;
          max-height: 60px;
          padding: 15px 0;

          .name {
            display: flex;
            align-items: center;
            margin-right: auto;

            .spacer {
              margin-right: 15px;
            }
          }

          .icon {
            color: $color-blue;
            margin-right: 5px;
          }

          .actions {
            display: flex;
            align-items: center;

            .item {
              display: flex;
              align-items: center;
              margin-left: 20px;
            }

            .ca-btn {
              width: 145px;
            }

            .spacer {
              margin-right: 15px;
              min-width: 45px;
              text-align: center
            }
          }
        }
        .sales-packages {
          .sales-package-container {
            @extend .row-container
          }
        }
        .term-sheet {
          .term-sheet-rights {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            border: 1px solid #DDE1E7;
            margin: 10px 0;
            padding: 10px;
            justify-content: space-around;
            align-items: center;
            height: 110px;
            .super-right {
              width: 210px;
              color: #4F4F4F;
              font-size: 16px;
              font-weight: 600;
              background-color: #FAFBFC;
              border: 1px solid #DDE1E7;
              padding: 10px 10px;
            }
          }
          .term-sheet-items {
            font-size: 14px;
            margin-bottom: 30px;
            border: 1px solid #999;
            border-radius: 5px 5px 0 0;
            padding: 1px; //prevent hide borders

            & > div:only-child {
              display: none; //means if only table title is rendered, and no data is rendered, we hide full block
            }
            .row {
              display: flex;
              border-bottom: 1px solid #999;
              &:nth-child(odd) {
                background-color: #efefef;
              }
              &:first-child {
                background-color: #ffffff;
              }
              &:last-child {
                border-bottom: 0;
              }
              .right-name {
                border-right: 1px solid #999;
                font-weight: bold;
                color: #1A4B63;
              }
              .right-definition {
                border-right: 1px solid #999;
                flex: 1;
                justify-content: flex-start;
                align-items: center;
                display: flex;
                text-align: left;
                padding: 10px 10px;

                &:last-child {
                  border-right: 0;
                }
              }
              .right-definition-title {
                //border-top: 1px solid #999;
                //border-bottom: 1px solid #999;
                font-weight: bold;
                color: #1A4B63;
                font-size: 15px;
                text-transform: uppercase;
                padding: 10px;
                min-height: 30px;
              }
            }
          }
        }
      }
      .sales-bundles {
        display: flex;
        margin-top: 20px;

        .sales-package {
          display: flex;
          border: 1px solid lightgrey;
          margin-right: 5px;
          align-items: center;
          padding: 0 0 0 10px;
          height: 40px;
        }
      }
    }
  }

  .sales-packages {
    .territories {
      display: flex;
      flex-direction: row;
      .territory-td {
        padding: 5px;
        border: 1px solid lightgray;
      }
      .selected {
        color: white;
        background-color: $blue-color;

      }
      .disabled {
        color: white;
        background-color: grey;
      }
    }
    .countries {
      display: flex;
      flex-direction: column;
      margin: 10px 0;
      .country-tr {
        display: flex;
        flex-direction: row;
        .country-th {
          flex: 1;
        }
        .country-td {
          flex: 1;
        }
      }
    }
  }
}

.marketplace-container {
  //display: flex;
  //flex-direction: row;
  //color: $blue-color;
  min-height: 100%;
}

.custom-id {
  border-radius: 5px;
  border: 1px solid $orange-color;
  background: $background-3;

  padding: 4px 12px;
  color: #4F4F4F;
  font-size: 14px;
  font-weight: bold;
}

.generic-modal-container {
  color: #4F4F4F;
  padding: 40px;
  .title {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 20px;
  }
  .container {
    display: flex;
    flex-direction: column;
    textarea {
      display: flex;
      box-sizing: border-box;
      margin: 5px 0;
      width: auto !important;
      flex: 1;
      border: 1px solid lightgray;
    }
  }
  .buttons {
    display: flex;
    justify-content: center;
    button {
      margin: 20px;
      min-height: 45px;
      width: 105px;
      border: 1px solid lightgrey;
      font-size: 16px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: white;
    }
    .confirm {
      background-color: #48C0FE;
      color: white;
      border: 1px solid #48C0FE;
    }
  }
}

.ExtraTerritories {
  display: inline-block;

  .country {
    flex: 0 0 50%;
    max-width: 50%;
    margin-bottom: 5px;
  }
}

.Installments {
  .icon-info {
    font-size: 21px;
    color: $color-blue;
  }

  .payment {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    .info {
      max-width: 100px;
    }
  }
}
