@import "vars";

.country-selector{
  .Select-multi-value-wrapper {
    outline: none;
    overflow-y: auto;
    height: 100%;
    min-height: 42px;
    max-height: 200px;
  }
  .regions{
    display: flex;
    .region{
      color: #4F4F4F;
      font-size: 15px;
      padding: 3px;
      border: 1px solid lightgrey;
      margin: 2px;
      width: 120px;
      height: 35px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      text-align: center;
      line-height: 16px;
      background-color: transparent;
      outline: none;
    }
    .region-selected {
      background-color: #03547C !important;
      color: white !important;
    }
  }
}
.region-filter{
  margin-bottom: 20px;
  .regions {
    display: flex;
    .region {
      color: #333;
      font-size: 13px;
      padding: 3px;
      border: 1px solid #FFC94B;
      border-radius: 5px;
      margin: 5px;
      width: 100%;
      height: 33px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      text-align: center;
      line-height: 18px;
      background-color: transparent;
      outline: none;
    }
    .region:first-child{
      margin-left: 0 !important;
    }
    .region:last-child{
      margin-right: 0 !important;
    }
    .region-selected {
      background-color: #FFC94B !important;
      font-weight: 600;
    }
    .region-disabled {
      background-color: #CCCCCC !important;
      color: #666666 !important;
      border: 1px solid #CCCCCC !important;
      cursor: default !important;
    }
  }

}

.sports-selector{
  .regions{
    flex-wrap: wrap;
    flex-direction: row;
    .region{
      min-width: 150px;
      max-width: 150px;
    }
    .region:first-child{
      margin-left: 5px !important;
    }
    .region:last-child{
      margin-right: 5px !important;
    }
  }

}