@import "vars";

.country-selector{
  .Select-multi-value-wrapper {
    outline: none;
    overflow-y: auto;
    height: 100%;
    min-height: 42px;
    max-height: 200px;
  }
  .regions{
    display: flex;
    .region{
      color: #4F4F4F;
      font-size: 15px;
      padding: 3px;
      border: 1px solid lightgrey;
      margin: 2px;
      width: 120px;
      height: 35px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      text-align: center;
      line-height: 16px;
      background-color: transparent;
    }
  }
}