@import "vars";

.digital-signature{
  flex-shrink: 0;
  flex-direction: column;
  display: flex;
  .digital-signature-placeholder{
    text-align: center;
    margin-bottom: 10px;
  }
  .m-signature-pad{
    .m-signature-pad--body{
      border: 1px solid lightgrey;
      border-radius: 5px;
      height: 300px;
      margin: 0 auto;
      canvas{
        width: 800px;
        height: 300px;
      }
    }
    .m-signature-pad--footer{
      button{
        color: $border-color-2;
        border: none;
        background: none;
        font-size: 14px;
        font-style: italic;
        text-decoration: underline;
      }
    }
  }
  .buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 15px;
  }

}