@import "vars";
@import url('https://fonts.googleapis.com/css?family=La+Belle+Aurore');

.digital-signature{
  flex-shrink: 0;
  flex-direction: column;
  display: flex;

  &.for-listing, &.for-modal{
    .digital-signature-placeholder{
      display: flex;
      justify-content: space-between;
      align-items: baseline;

      .title{
        font-weight: bold;
        color: $black-color;
        font-size: 16px;
      }

      .license-bid{
        color: $font-color-7;
        font-size: 13px;
        cursor: pointer;
      }
    }
    #signature-pad .m-signature-pad--body{
      border-right: 0;
      background: $primary-color;
    }

    .buttons{
      margin-top: 30px;
      button{
        color: $black-color;
        font-weight: bold;

        &.standard-button-small, &.standard-button-big{
          font-size: 14px;
          background: $color-grey-light;
          padding: 15px 50px;
          border: 1px solid $orange-color;
          border-radius: 5px;

          &.transparent {
            width: 60px;
            border: none;
            padding: 15px 5px;
          }
        }
      }
    }
  }

  &.for-modal{
    width: 100%;
    margin: 20px 0;
    padding: 0 20px;

    #signature-pad .m-signature-pad--body{
      border: none;
      border-radius: 0;
    }

    .buttons button{
      padding: 10px 50px;

      &.transparent{
        background: transparent;
      }
    }
  }

  .signature-name-container {
    max-width: 800px;
    margin: 20px auto;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    input{
      margin: 10px 20px 10px 0px;
    }
  }
  .signature-wrap {
    max-width: 800px;
    margin: 0 auto;
    border: 1px solid lightgrey;
    position: relative;

    i.edit-icon {
      font-size: 32px;
      color: #2AAAEC;
      padding: 0;
      padding-left: 10px;
    }

    .placeholder {
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      width: 100%;
      height: 100%;
      overflow: hidden;

      .big-text {
        font-size: 60px;
        font-family: 'La Belle Aurore', cursive;
      }
    }

    &:hover {
      .placeholder {
        display: none;
      }
    }

    canvas {
      width: 800px;
      height: 300px;
    }
  }

  .signature-info {
    margin-top: 30px;
    margin-bottom: 10px;
  }

  .m-signature-pad{
    .m-signature-pad--footer{
      button{
        color: $border-color-2;
        border: none;
        background: none;
        font-size: 14px;
        font-style: italic;
        text-decoration: underline;
      }
    }
  }
  .buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 15px;
  }
}