@import "buttons";
@import "vars";
@import "mixins";

.landing-page, .login-page{
  .header{
    width: 1300px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    .content{
      float: right;

      .uk-margin{
        margin-top: 20px;

        a, a:visited{
          text-transform: uppercase;
          font-size: 15px;
          color: $primary-color;
          padding: 0 15px;
          text-decoration: none;
          font-weight: 600;
          
          &.primary{
            color: $font-color-4;
            padding: 10px 25px;
          }
        }
      }
    }

    .logo{
      height: 100%;
      float: left;

      img {
        max-width: 100%;
        height: 60px;
      }
    }
  }
}

.landing-page{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  @media screen and (max-width: 1320px) {
    left: auto;
    right: auto;
  }

  .landing-header-wrapper{
    width: 100%;
    height: 775px;

    background: url(./../img/stadium_background.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    @include shadow(inset 0 -19px 30px 0 $landing-color);
  }

  .landing-main{
    width: 765px;
    margin: 230px auto 0;

    .main-text-wrapper{
      width: 460px;
      margin: 0 auto;
      p{
        &.landing-title{
          margin-bottom: 0;
          font-size: 86px;
        }
        &.landing-sub-title{
          margin-top: 0;
          font-size: 42px;
        }

        color: $primary-color;
        text-align: center;
      }
    }
    .main-registration-wrapper{
      display: flex;
      justify-content: center;
      flex-direction: row;

      input{
        margin: 0;
        font-size: 21px;
        color: $font-color-5;
        padding: 20px 30px;
        font-style: italic;
      }
    }
  }
  .landing-content{
    width: 100%;
    background: $landing-color;
    height: 100px;
  }
  .landing-content-with-triangle{
    position: relative;

    .landing-triangle-text{
      position: absolute;
      text-align: center;
      margin-top: 2.5%;
      color: $primary-color;
      width: 100%;
      z-index: 999;

      @media screen and (max-width: 1600px) {
        margin-top: 1.5%;
      }
      @media screen and (max-width: 1100px) {
        margin-top: 0.5%;
      }
      
      span:focus, span:hover {
        color: $font-color-2;
        cursor: pointer;
      }

      &:after{
        content: '';
        display: block;
        position: absolute;
        width: 0;
        left: 50%;
        height: 50px;
        border-left: 1px solid $background-4;
      }
    }

    .outer {
      background: #052e44;
      width: 100%;
      position: absolute;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 0;

      &:after {
        content: '';
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        padding-bottom: 5%;
        background: #052e44;
        clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
      }

    }
  }
  .landing-get-in-touch{
    height: 180px;
    margin-top: 150px;
    width: 100%;
    text-align: center;

    a{
      color: $landing-color;
      display: inline-flex;
      flex-direction: column;
      span{ margin-top: 20px }
      
      &:focus, &:hover{
        color: $font-color-6;
      }
    }

  }

  .landing-footer{
    width: 100%;
    height: 180px;
    background-color: $landing-color;
    display: flex;
    align-items: center;
    justify-content: center;

    .footer-wrapper{
      width: 1300px;
      height: 120px;
      display: flex;
      justify-content: space-around;

      .footer-logo{
        height: 100%;
        display: flex;
        align-items: center;

        img{
          max-width: 100%;
          height: 80px;
        }
      }
      .footer-links{
        display: flex;
        align-items: center;

        .footer-company-name{
          color: $text-color-1;
        }

        p{
          margin: 0;

          span a{
            color: $primary-color;

            &:hover, &:focus{
              text-decoration: underline;
            }
          }
        }
      }
      .footer-contact{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        a{
          display: flex;
          justify-content: center;
          align-items: center;

          width: 40px;
          height: 40px;
          border-radius: 50%;
          background-color: rgba(255,255,255,.1);

          &:hover{ background-color: rgba(242,242,242,.1); }
          i{
            color: rgba(255,255,255,.5);
            font-size: 18px;

            &:hover { color: rgba(255,255,255,.7); }
          }
        }
      }
    }
  }
}

.login-page{
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;

  background: url(./../img/stadium_background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  .action-form{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    width: 480px;

    background: $background-3;
    padding: 15px 40px 45px 40px;

    display: flex;

    .sign-in-wrapper, .sign-up-wrapper{
      width: 100%;
      flex-direction: column;
      justify-content: center;

      text-align: center;
    }

    .reset-wrapper{
      @extend .sign-in-wrapper;
      .note{
        margin: 0;
        padding-bottom: 25px;
        text-align: left;
      }
    }

    .sign-up-successfully-wrapper{
      @extend .sign-in-wrapper;
      padding-top: 60px;
      padding-bottom: 35px;
    }

    .review-wrapper{
      width: 100%;
      h3{ padding-bottom: 10px; }
      b{
        font-size: 13px;
      }
    }

    .recover-wrapper{
      width: 100%;
      button{ margin: 0; }
    }

    .reset-wrapper h3{ text-align: left; }

    .password-validation {
      display: flex;
      flex-direction: column;
      justify-content: center;
      border: 10px solid #CCCCCC;
      padding: 20px;
      margin-bottom: 20px;

      div {
        width: 230px;
        margin: 0 auto;
        text-align: left;
        padding: 6px 0;

        img {
          width: 23px;
          height: 23px;
          margin-right: 10px;
        }
      }
    }

    .done-icon-wrapper{
      margin-bottom: -10px;

      i{ color: #3ecc57d9; }
    }

    h3{
      color: $font-color-6;
      font-size: 21px;
      padding-top: 30px;
      padding-bottom: 30px;
      font-weight: bold;
      margin: 0;
    }

    div label{
      text-align: left;
      color: $black-color;
      font-size: 16px;
      font-weight: 600;
      padding-bottom: 5px;
    }

    div input{
      height: 45px;
      padding: 0 10px;
      margin: 0;

      color: $font-color-5;
      border: 1px solid $border-color-1;
      background-color: $background-5;

      font-size: 15px;
      font-style: italic;
      outline: none;
    }

    .yellow-button{
      @extend .yellow-button;
      & .ca-loader { width: 40px; }
      & .spinner{ margin: 0; }
    }

    .yellow-btn{
      @extend .yellow-button;
      margin: 0 auto;
      min-width: 180px;

      &:hover:enabled{ background-color: #ffbe25; }
    }

    .sign-up-text{
      color: $black-color;
      font-size: 16px;
      padding-bottom: 30px;
      margin: -20px auto 0;
    }

    .create-account{
      border-top: 1px solid $font-color-2;

      h3{
        padding-bottom: 15px;
      }
    }

    .sign-error{
      color: #CC0000;
      text-align: left;
      font-size: 14px;
      font-style: italic;
    }

    .forgot-password-wrapper{
      padding: 15px 0 35px 0;
      margin: 0;

      .forgot-password{
        color: $font-color-7;
        font-size: 13px;
        cursor: pointer;
      }
    }

    .username, .password, .repeat-password, .phone, .company, .email, .lastname{
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      padding-bottom: 25px;
    }

    .note{
      b{ display: inline; }
      display: block;
      margin-top: 30px;
      font-size: 13px;
      color: $font-color-5;
    }

    .reset-success-password{
      margin-top: -25px;
      p{
        i{ color: #3ecc57d9; }
        margin: 5px;
        font-size: 13px;
        color: $black-color;
      }
    }
  }
}