@import "buttons";
@import "vars";
@import "mixins";

.landing-column {
  max-width: 1230px;
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
}

.landing-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  .inner {
    display: flex;
    justify-content: space-between;
    @media only screen and (max-width: 1230px) {
      display: inherit;
      padding-top: 15px;
      text-align: center;
    }

    .mob-trigger {
      position: absolute;
      right: 15px;
      display: none;
      color: #ffffff;
      margin-top: 15px;
      cursor: pointer;
      z-index: 101;
      a {
        margin: 0 10px;
      }
      @media only screen and (max-width: 1230px) {
        display: block;
      }
    }

    .closeIcon {
      @media only screen and (max-width: 1230px) {
        position: fixed;
        z-index: 1001;
      }
    }
  }

  .logo {
    @media only screen and (max-width: 1230px) {
      float: left;
    }

    img {
      max-width: 140px;
      height: auto;
    }
  }

  .nav {
    margin-top: 20px;
    @media only screen and (max-width: 1230px) {
      position: fixed;
      top: -20px;
      right: 0;
      width: 270px;
      background: #094360;
      display: none;
      padding: 55px 20px 0;
      height: 100%;
      z-index: 1000;
    }

    a {
      text-transform: uppercase;
      font-size: 15px;
      color: $primary-color;
      padding: 0 15px;
      text-decoration: none;
      font-weight: 600;
      @media only screen and (max-width: 1230px) {
        display: block;
        padding: 0;
        color: rgba(255, 255, 255, .5);
        text-align: left;
        max-width: fit-content;
        margin-bottom: 10px;
      }

      &.primary {
        color: $font-color-4;
        padding: 10px 25px;
      }
    }
  }

  .showMenu {
    display: block;
  }
}

.landing-page {
  background: #ffffff;

  img {
    max-width: 100%;
    height: auto;
  }

  .banner {
    text-align: center;
    color: $primary-color;
    width: 100%;
    height: 775px;
    padding-top: 200px;
    background: url(./../img/stadium_background.jpg) no-repeat center center scroll;
    background-size: cover;

    @include shadow(inset 0 -19px 30px 0 $landing-color);

    @media only screen and (max-width: 1230px) {
      height: 550px;
    }

    .banner-content {
      @media only screen and (max-width: 1230px) {
        padding: 0 15px;
      }


      .title {
        font-size: 86px;
        @media only screen and (max-width: 1230px) {
          font-size: 55px;
        }
      }

      .subtitle {
        font-size: 42px;
        margin-bottom: 20px;
        @media only screen and (max-width: 1230px) {
          font-size: 35px;
        }
      }

      .registration {
        display: flex;
        max-width: 767px;
        margin: 0 auto;

        @media only screen and (max-width: 1230px) {
          display: inherit;
        }

        input {
          height: 60px;
          margin: 0;
          font-size: 21px;
        }

        button {
          @media only screen and (max-width: 1230px) {
            margin: 20px auto;
          }
        }

      }
    }
  }

  .features {
    background: $landing-color;
    color: #ffffff;

    .inner {
      display: flex;
      flex-direction: column;
      justify-content: center;
      min-height: 420px;

      @media only screen and (max-width: 1230px) {
        display: inherit;
      }
    }

    .feature-row {
      display: flex;
      align-items: center;

      @media only screen and (max-width: 1230px) {
        display: inherit;
        text-align: center;
      }

      &:first-child {
        border-bottom: 2px solid rgba(255, 255, 255, .7);
        margin-bottom: 20px;
        padding-bottom: 20px;
      }

      .title {
        margin-right: auto;
        font-size: 75px;
        text-transform: uppercase;
        width: 25%;
        @media only screen and (max-width: 1230px) {
          margin: 0 auto;
          font-size: 55px;
        }
      }

      .item {
        display: flex;
        align-items: center;
        width: 33%;
        color: rgba(255, 255, 255, .7);

        @media only screen and (max-width: 1230px) {
          display: inline-flex;
          flex-direction: column;
        }

        .icon {
          max-width: 65px;
          margin-right: 20px;
          @media only screen and (max-width: 1230px) {
            margin-right: inherit;
          }
        }

        .cap {
          font-size: 35px;
          text-transform: uppercase;
          @media only screen and (max-width: 1230px) {
            font-size: 20px;
          }
        }

        .txt {
          font-size: 19px;
          text-transform: lowercase;
          @media only screen and (max-width: 1230px) {
            font-size: 16px;
          }
        }
      }
    }
  }

  .benefits {
    background: #ffffff;
    padding: 50px 0 0;

    @media only screen and (max-width: 1230px) {
      padding-top: 35px;
    }

    .benefit-row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 45px;

      @media only screen and (max-width: 1230px) {
        display: inherit;
        text-align: center;
        margin-top: 20px;

        &:nth-child(2) {
          display: inline-flex;
          flex-direction: column-reverse;
        }
      }

      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 73px;

        @media only screen and (max-width: 1230px) {
          margin-bottom: 5px;
        }
      }

      .icon {
        width: 50%;

        @media only screen and (max-width: 1230px) {
          width: inherit;
          margin-top: 10px;
        }

        a {
          display: block;
          max-width: 300px;
          margin: 0 auto;
        }
      }

      .content {
        width: 50%;

        @media only screen and (max-width: 1230px) {
          width: inherit;
        }

        .cap {
          font-size: 29px;
          color: #094360;
          margin-bottom: 15px;
          text-transform: uppercase;
          @media only screen and (max-width: 1230px) {
            font-size: 25px;
          }
        }

        .txt {
          font-size: 18px;
          line-height: 27px;
          color: #4879a3;
          @media only screen and (max-width: 1230px) {
            font-size: 16px;
          }
        }
      }
    }
  }

  .team {
    background: $landing-color;
    padding: 50px 0 0;

    @media only screen and (max-width: 1230px) {
      padding-top: 35px;
    }

    .inner {
      display: flex;
      flex-wrap: wrap;

      @media only screen and (max-width: 1230px) {
        display: inherit;
      }
    }

    .item {
      display: flex;
      flex: 33% 0 0;
      align-items: center;

      &:nth-child(-n+3) {
        margin-bottom: 40px;

        @media only screen and (max-width: 1230px) {
          margin-bottom: 25px;
        }
      }

      @media only screen and (max-width: 1230px) {
        display: inline-flex;
        flex-direction: column;
        width: 33%;
        padding: 0 10px;
      }

      .icon {
        max-width: 186px;
        margin-right: 40px;
        filter: grayscale(100%);
        transition: all 300ms ease-in;

        @media only screen and (max-width: 1230px) {
          margin: 0 auto;
        }

        &:hover {
          filter: grayscale(0%);
        }
      }

      .content {
        font-size: 18px;
        color: #ffffff;
        text-align: center;

        @media only screen and (max-width: 1230px) {
          font-size: 14px;
        }

        div:first-child {
          text-transform: uppercase;
          margin-bottom: 20px;

          @media only screen and (max-width: 1230px) {
            margin-bottom: 5px;
          }
        }
      }
    }

    .bottom-triangle .text {
      @media only screen and (max-width: 1230px) {
        font-size: 14px;
      }
    }
  }

  .references {
    .inner {
      display: flex;
      flex-wrap: wrap;
    }

    .icon {
      flex: 16.6% 0 0;
      padding: 10px 20px;
      @media only screen and (max-width: 1230px) {
        flex: 33% 0 0;
        margin: 0 auto;

      }
    }
  }

  .landing-content {
    width: 100%;
    background: $landing-color;
    height: 100px;
  }

  .bottom-triangle {
    position: relative;

    .text {
      position: absolute;
      bottom: 30px;
      text-align: center;
      width: 100%;
      z-index: 999;

      @media only screen and (max-width: 1230px) {
        bottom: 50px;
      }

      span {
        cursor: pointer;
      }

      &:after {
        content: '';
        display: block;
        position: absolute;
        width: 0;
        left: 50%;
        height: 30px;
        border-left: 1px solid;

        @media only screen and (max-width: 1230px) {
          height: 55px;
        }
      }
    }

    .outer {
      width: 100%;
      clip-path: polygon(0% -0.5%, 100% -0.5%, 50% 100%);
      height: 100px;
    }

    &:not(.bg-white) {
      color: #052e44;
      background: #ffffff;

      .text {
        color: #ffffff;

        &:after {
          border-color: #ffffff;
        }
      }

      .outer {
        background: #052e44;
      }
    }

    &.bg-white {
      color: #ffffff;
      background: #052e44;

      .text {
        color: #052e44;

        &:after {
          border-color: #052e44;
        }
      }

      .outer {
        background: #ffffff;
      }
    }
  }

  .get-in-touch {
    padding: 50px 0 70px;
    text-align: center;
    background: $landing-color;

    a {
      color: #ffffff;

      span {
        display: block;
        margin-top: 20px
      }
    }
  }

  .landing-footer {
    width: 100%;
    height: 180px;
    background-color: $landing-color;
    display: flex;
    align-items: center;
    justify-content: center;

    @media only screen and (max-width: 1230px) {
      display: inherit;
      height: inherit;
      padding-bottom: 15px;
    }

    .footer-wrapper {
      width: 1300px;
      height: 120px;
      display: flex;
      justify-content: space-around;

      @media only screen and (max-width: 1230px) {
        display: inherit;
        height: inherit;
        width: inherit;
        text-align: center;
      }

      .footer-logo {
        height: 100%;
        display: flex;
        align-items: center;

        @media only screen and (max-width: 1230px) {
          height: inherit;
          display: inherit;
          text-align: center;
          padding-top: 35px;
        }

        img {
          max-width: 140px;
        }
      }

      .footer-links {
        display: flex;
        align-items: center;

        @media only screen and (max-width: 1230px) {
          display: inherit;
          margin-top: 15px;
        }

        .footer-company-name {
          color: $text-color-1;
        }

        p {
          margin: 0;

          span a {
            color: $primary-color;

            &:hover, &:focus {
              text-decoration: underline;
            }
          }
        }
      }

      .footer-contact {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        @media only screen and (max-width: 1230px) {
          display: inline-flex;
          flex-direction: row;
          margin-top: 15px;
        }

        a {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 40px;
          height: 40px;
          border-radius: 50%;
          background-color: rgba(255, 255, 255, .1);

          &:hover {
            background-color: rgba(242, 242, 242, .1);
          }

          @media only screen and (max-width: 1230px) {
            margin: 0 10px;
          }

          i {
            color: rgba(255, 255, 255, .5);
            font-size: 18px;

            &:hover {
              color: rgba(255, 255, 255, .7);
            }
          }
        }
      }
    }
  }
}

.login-page {
  background: url(./../img/stadium_background.jpg) no-repeat center center fixed;
  background-size: cover;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  @media only screen and (max-width: 1230px) {
    min-height: inherit !important;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  .landing-header {
    @media only screen and (max-width: 1230px) {
      position: inherit;
    }
  }


  .action-form {
    max-width: 480px;
    width: 100%;
    background: #F7F7F7;
    padding: 15px 40px 45px 40px;
    margin: 100px auto 0;

	&.preview {
		margin-top: 40px;
		max-width: 1200px;
		background-color: transparent;
	}

    @media only screen and (max-width: 1230px) {
      margin: 80px auto 0;
    }

	.sign-in-listing-preview-wrapper{
		width: 100%;

		.ca-loader{
			.spinner{ border-top: 12px solid $primary-color; }
			color: $primary-color;
		}

		.big-title{
			color: $primary-color;
			font-size: 60px;
			text-align: center;
		}
		.title{
			@extend .big-title;
			font-size: 21px;
			padding: 25px 0 30px;
			width: 76%;
			margin: 0 auto;
		}

		.listing-details{
			display: flex;
			flex-direction: row;
			width: 100%;
			min-height: 80px;
			background: $primary-color;

			&.error{
				align-items: center;
				font-size: 24px;

				i{
					color: $red-color;
					padding: 0 10px;
				}
				button{ font-size: 24px; }
			}

			.listing-img{
				position: relative;
				display: flex;
				align-items: center;
				justify-content: center;
				background-color: lightgray;
				width: 400px;

				.image-wrapper{
					position: relative;
				}

				.image, img{
					width: 100%;
					min-width: 300px;
					height: auto;
					object-fit: cover;
				}
			}
			.listing-data{
				overflow: auto;
				padding: 25px;
                flex: 1;

				.title{
					color: $black-color;
					text-align: left;
					font-size: 16px;
					font-weight: 600;
					margin: 20px 0 10px 0;
					padding: 0;
				}
				.seasons-wrapper{
					display: flex;
					flex-direction: column;
					margin: -5px 0;
					max-height: 115px;
					min-height: 0;
					overflow: auto;

					&::-webkit-scrollbar {
						width: 5px;
					}

					&::-webkit-scrollbar-track {
						background: $border-color-1;
					}

					&::-webkit-scrollbar-thumb {
						background-color: $border-color-2;
						outline: 1px solid slategrey;
					}

					.season-item{
						color: $font-color-5;
						font-size: 13px;
						padding: 0 0 5px 0;
					}
				}
				.rights-wrapper {
					margin: -5px;

					.listing-rights{
						display: flex;
						flex-direction: row;
						flex-wrap: wrap;

						.listing-item{
							flex: 0 0 33%;
							font-size: 13px;
							padding: 5px;

							img{
								width: 15px;
								height: 15px;
								margin-right: 5px;
							}
						}
					}
				}
                .right-legend-wrapper {
                    margin-top: 20px;
                }
                .event-wrapper {
                    color: $font-color-5;
                    font-size: 13px;
                    white-space: pre-line;
                }
				.buttons-wrapper{
					display: flex;
					flex-direction: column;
					align-items: center;
					margin-top: 30px;

					& > button{
						width: 300px;
						height: 68px;
						font-size: 16px;
					}

					.login-wrapper{
						margin-top: 15px;
						span{
							font-weight: 600;
							font-size: 16px;
							color: $black-color;
						};
					}
				}
			}
		}
	}

    .sign-in-wrapper, .sign-up-wrapper {
      width: 100%;
      flex-direction: column;
      justify-content: center;

      text-align: center;
    }

    .reset-wrapper {
      @extend .sign-in-wrapper;

	  h3{ text-align: left; }
      .note {
        margin: 0;
        padding-bottom: 25px;
        text-align: left;
      }
    }

    .sign-up-successfully-wrapper {
      @extend .sign-in-wrapper;
      padding-top: 60px;
      padding-bottom: 35px;
    }

    .review-wrapper {
      width: 100%;

      h3 {
        padding-bottom: 10px;
      }

      b {
        font-size: 13px;
      }
    }

    .recover-wrapper {
      width: 100%;

      button {
        margin: 0;
      }
    }

    .password-validation {
      display: flex;
      flex-direction: column;
      justify-content: center;
      border: 10px solid #CCCCCC;
      padding: 20px;
      margin-bottom: 20px;

      div {
        width: 230px;
        margin: 0 auto;
        text-align: left;
        padding: 6px 0;

        img {
          width: 23px;
          height: 23px;
          margin-right: 10px;
        }
      }
    }

    .done-icon-wrapper {
      margin-bottom: -10px;

      i {
        color: #3ecc57d9;
      }
    }

    h3 {
      color: $font-color-6;
      font-size: 21px;
      padding-top: 30px;
      padding-bottom: 30px;
      font-weight: bold;
      margin: 0;
    }

    div label {
      text-align: left;
      color: $black-color;
      font-size: 16px;
      font-weight: 600;
      padding-bottom: 5px;
    }

    div input {
      height: 45px;
      padding: 0 10px;
      margin: 0;

      color: $font-color-5;
      border: 1px solid $border-color-1;
      background-color: $background-5;

      font-size: 15px;
      font-style: italic;
      outline: none;
    }

    .yellow-button {
      @extend .yellow-button;

      & .ca-loader {
        width: 40px;
      }

      & .spinner {
        margin: 0;
      }

    }

    .yellow-btn {
      @extend .yellow-button;
      margin: 0 auto;
      min-width: 180px;

      &:hover:enabled {
        background-color: #ffbe25;
      }
    }

    .sign-up-text {
      color: $black-color;
      font-size: 16px;
      padding-bottom: 30px;
      margin: -20px auto 0;
    }

    .create-account {
      border-top: 1px solid $font-color-2;

      h3 {
        padding-bottom: 15px;
      }
    }

    .sign-error {
      color: #CC0000;
      text-align: left;
      font-size: 14px;
      font-style: italic;
    }
    .sign-error-top {
      @extend .sign-error;
      text-align: center;
      display: block;
      margin-bottom: 30px;
    }

    .forgot-password-wrapper {
      padding: 15px 0 35px 0;
      margin: 0;

      .forgot-password {
        color: $font-color-7;
        font-size: 13px;
        cursor: pointer;
      }
    }

    .username, .password, .repeat-password, .phone, .company, .email, .lastname {
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      padding-bottom: 25px;
    }

    .note {
      b {
        display: inline;
      }

      display: block;
      margin-top: 30px;
      font-size: 13px;
      color: $font-color-5;
    }

    .reset-success-password {
      margin-top: -25px;

      p {
        i {
          color: #3ecc57d9;
        }

        margin: 5px;
        font-size: 13px;
        color: $black-color;
      }
    }
  }
}
