@import "vars";
@import "mixins";

$icon-color: #00769A;

@mixin counter {
  position: absolute;
  right: -1px;
  top: 1px;
  border-radius: 50%;
  background-color: $color-primary;
  font-size: 10px;
  width: 15px;
  height: 15px;
  color: $black-color;
  font-weight: bold;
  text-align: center;
}

.manager-header-test-mode {
  height: 40px;
  background-color: #FFC94B;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
}

.manager-header-ghost-mode {
  height: 40px;
  display: flex;
  background-color: #FFC94B;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  font-weight: 400;
  padding: 0 20px;
  a{
    margin: 0 10px;
    color: #1a4b63;
    font-weight: bold;
  }
}

.manager-header {
  display: flex;
  $barHeight: 74px;
  min-height: $barHeight;
  box-shadow: 0 1px 9px rgba(0, 0, 0, 0.21);
  background-color: $content-bg;
  color: $color-blue-dark;
  margin: 0 auto 0px;

  .logo {
    cursor: pointer;
	flex: 150px 0 0;
	margin-right: 40px;
  }

  .header-wrapper {
    display: flex;
    align-items: center;
    padding: 0 15px;
	width: 100%;

    @media only screen and (min-width: 1920px) {
      width: 1600px;
      margin: 0 auto;
    }

    .logo {
      @extend .logo;
    }

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: $barHeight;
      font: inherit;
      font-size: 16px;
      color: #1a4b63;
      font-weight: 600;
      margin-bottom: 3px;
      margin-right: 3px;
      cursor: pointer;
      box-shadow: none;
      border: 0;
      outline: none;
      text-decoration: none;
      padding: 15px 20px 0;

      &:hover {
        opacity: .7;
      }
    }

    .baseline {
      padding-top: 15px;

      a {
        padding-top: 0;
      }
    }

    .messages {
      position: relative;
      a {
        color: #1A4B63;
      }

      .counter {
        @include counter();
        top: auto;
        margin-top: -3px;
        right: auto;
        left: 36px;
      }
    }

    .switch-mode {
      a {
        height: 34px;
        min-height: auto;
        text-transform: uppercase;
        font-size: 13px;
      }
    }

    .spacer {
      margin-right: auto;
    }

    .active-tab {
      a {
        position: relative;

        &:after {
          content: "";
          position: absolute;
          display: block;
          width: 100%;
          border-bottom: 4px solid #296380;
          bottom: -10px;
        }
      }

    }

    .settings {
      margin-top: 13px;
      position: relative;
      cursor: pointer;
	  color: $color-blue-dark;
	  font: inherit;
	  font-size: 16px;
	  font-weight: 600;
	  display: flex;

	  & > i{
	    padding-left: 5px;
	    padding-right: 0;
	    font-size: 1.4em;
	  }

      .popup {
        display: none;
        z-index: 101;
        padding-top: 40px;
        position: absolute;
        right: -15px;
      }

      &:hover .popup {
        display: block;

        .wrap {
          min-width: 170px;
          text-align: left;
          background-color: $content-bg;
		  		@include shadow(0 2px 8px rgba(0, 0, 0, 0.07));
		  a { min-height: 0; }

          .tab {
            width: 100%;
            margin: 0;
            padding: 0;
            border-bottom: 1px solid #cccccc;

            &:last-child {
              border-bottom: none;
            }
          }
		  .popup-item{
			height: 45px;
			border-bottom: 1px solid $border-color-4;
			display: flex;
			justify-content: flex-start;
			align-items: center;
			padding-left: 10px;
			min-height: 0;
			color: $font-color-5 !important;
			font-size: 13px;
			text-align: left;

			a{
		      min-height: 0;
			  color: $font-color-5 !important;
			  font-size: 13px;
			  text-align: left;

			  margin: 0;
			  padding: 0;
			}
			i{
			  padding: 0 10px 0 5px;
			  color: $black-color;
			}
			&:hover{
			  color: $border-color-2 !important;
			  i, a{ color: $border-color-2 !important; }
			}
			&:last-child { border-bottom: none; }
		  }
        }
      }
    }

    .notifications {
      margin-top: 15px;
      margin-left: 20px;
      position: relative;

      &:hover .icon-bell-wrapper {
        cursor: pointer;
		opacity: .7;
      }

      .counter {
        @include counter();
		  	&:hover{
			  	cursor: pointer;
		  	}
      }

      .expanded-list {
        width: 300px;
        max-height: 450px;
        overflow: hidden;

        position: absolute;
        right: 0;
		    top: 40px;
        z-index: 1000;

		    @include shadow(0 2px 8px rgba(0, 0, 0, 0.07));
        background-color: $background-3;

		header{
		  height: 42px;
		  padding: 0 10px;
		  display: flex;
		  justify-content: space-between;
		  align-items: center;
		  border-bottom: 1px solid $border-color-1;

		  .title{
			color: $black-color;
			font-size: 16px;
			font-weight: bold;
		  }
		  .mark-all-read{
			color: $border-color-2;
			font-size: 11px;
			cursor: pointer;
		  }
		}

		.loader-wrapper{
		  width: 100%;
		  height: 70px;
		  overflow: hidden;
		  display: flex;
		}

		.no-notifications{
		  height: 235px;
		  display: flex;
		  flex-direction: column;
		  justify-content: center;
		  align-items: center;

		  i{
		    font-size: 5em;
			color: $font-color-4;
			opacity: .4;
		  }
		  span{
			color: $font-color-5;
			font-size: 13px;
			text-align: center;
			margin-top: 10px;
		  }
		}

        .items {
		  overflow-x: hidden;
		  overflow-y: auto;
		  max-height: 360px;

		  &::-webkit-scrollbar {
		    width: 5px;
		  }

		  &::-webkit-scrollbar-track {
		    background: $border-color-1;
		  }

		  &::-webkit-scrollbar-thumb {
			background-color: $border-color-2;
			outline: 1px solid slategrey;
		  }

          .item {
			height: 60px;
			width: 100%;

			display: flex;
			flex-direction: row;
			justify-content: flex-start;

            border-bottom: 1px solid $border-color-1;
            color: $font-color-5;
            cursor: pointer;
            font-size: 11px;

			.notification-img{
			  height: 100%;
			  flex: 0 0 60px;
			  padding: 10px;

			  display: flex;
			  justify-content: center;
			  align-items: center;

			  .image{
				width: 100%;
				max-height: 100%;
			    img{
                  border-radius: 50%;
                  max-width: 40px;
                }
			  }
			}
			.notification-text{
			  height: 100%;
			  flex: 0 0 240px;

			  display: flex;
			  flex-direction: column;
			  justify-content: center;
			  align-items: flex-start;
			  line-height: 17px;
			  padding: 0 5px 0 0;

			  .time{
				color: $font-color-2;
			  }
			}

            &.unread {
              background-color: #E5F1F7;
            }

            &:last-child {
              border-bottom: none;
            }

            &:hover {
              background-color: #d7ecf7;
              border-bottom-left-radius: 3px;
              border-bottom-right-radius: 3px;
            }
		  }

		}
	  	.clear-notification-wrapper{
		  height: 35px;
		  width: 100%;

		  display: flex;
		  justify-content: center;
		  align-items: center;

		  border-top: 1px solid $border-color-1;
		  span{
		    color: $border-color-2;
		    font-size: 11px;
		    cursor: pointer;
		  }
	  	}
      }
    }

    .fa {
      color: $icon-color;
      padding-right: 5px;
      font-size: 1.6em;
    }
  }
}

.manager-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px 15px;
}

.manager-content-message {
  flex: 1;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 30px;
}

.new-listing-button {
  background-color: #2AAAEC;
  color: white;
  border: none;
  font-size: 16px;
  padding: 0 20px;
  min-width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: -15px;
  height: 46px;
}

.new-listing-button:hover {
  text-decoration: none;
  color: white;
}

.manager-filter-container {
  display: flex;
  flex-direction: row;
  flex: 1;
  margin-top: 0;
  height: 60px;

  @media only screen and (min-width: 1920px) {
	margin-top: -20px;
  }

  .listing-filter {
    flex: 1;
    display: flex;
    justify-content: left;
    align-items: center;

    .Select {
      width: 100%;

      .Select-control {
        color: $font-color-2;
        font-style: italic;
        border-radius: 0;

        .Select-placeholder {
          color: $black-color;
          font-size: 13px;
        }
      }
    }

    .reset-listing-filter {
      width: 145px;
      cursor: pointer;
      padding: 0 5px;
      display: flex;

      img {
        margin-bottom: 3px;
      }

      span {
        color: $border-color-2;
        padding-left: 5px;
      }
    }
  }

  .status-filter {
    display: flex;
    justify-content: flex-end;
    color: #4F4F4F;
    font-size: 14px;
    font-weight: 600;
    flex: 2;
    align-items: center;

    .status-filter-item {
      margin: 0 20px;
      cursor: pointer;
      color: $font-color-1;
      font-size: 13px;
      font-weight: normal;
      display: flex;
      line-height: 1.7;

      &.active {
        font-weight: bold;
        color: $black-color;
      }

      img {
        margin: 0 10px 3px;
      }
    }
  }
}
