@import "vars";

.manager-container{
  padding: 20px;
  background-color: #ffffff;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.manager-header{
  $barHeight: 65px;
  display: flex;
  align-items: center;
  padding: 0 15px;
  min-height: $barHeight;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.07);
  .logo {
    max-width: 150px;
    margin-right: 40px;
  }

  button.tab,
  .tab{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: $barHeight;
    padding: 0 20px;
    font: inherit;
    font-size: 18px;
    font-weight: 600;
    color: #1A4B63;
    margin-bottom: 3px;
    margin-right: 3px;
    cursor: pointer;
    background: transparent;
    box-shadow: none;
    border: 0;
    outline: none;
    text-decoration: none;
    &:hover {
      opacity: .7;
    }
  }
  .spacer {
    margin-right: auto;
  }
  .active-tab{
    position: relative;
    &:after {
      content: "";
      position: absolute;
      display: block;
      width: 100%;
      border-bottom: 4px solid #296380;
      bottom: -4px;
    }
  }
  .settings {
    position: relative;
    cursor: pointer;
    .popup {
      display: none;
      z-index: 99;
      padding-top: 20px;
      position: absolute;
      right: -15px;
    }
    &:hover .popup {
      display: block;
      .wrap {
        min-width: 125px;
        text-align: center;
        background-color: #ffffff;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.07);
        color: #1A4B63;
        .tab {
          width: 100%;
          margin: 0;
          padding: 0;
          &:first-child {
            border-bottom: 1px solid #cccccc;
          }
        }
      }
    }
  }

}

.manager-content{
  padding: 20px 0px;
  flex: 1;
  display: flex;
  flex-direction: column;

  .standard-button {
    height: 48px;
  }
}

.manager-content-message{
  flex: 1;
  justify-content: center;
  align-items: center;
  display: flex;
}

.closed-deals-table{
  font-size: 14px;
  font-weight: 600;
  color: black;
  .table-header-big{
    width: auto !important;
    flex: 1.5 0 150px !important;
    margin: 0 !important;
    padding: 0 10px !important;
    display: flex;
  }
  .table-header-small{
    width: auto !important;
    flex: 0.3 0 30px !important;
    margin: 0 !important;
    display: flex;
  }
  .table-header{
    width: auto !important;
    flex: 1 0 100px !important;
    margin: 0 !important;
    display: flex;
    padding: 0 10px !important;
  }
  .table-header-left{
    justify-content: flex-start;
  }
  .rt-tbody{
    min-width: auto !important;
  }
  .rt-thead {
    box-shadow: none;
    margin-bottom: 0;
    min-width: auto !important;
  }
  .-header{
    box-shadow: none !important;
    margin-bottom: 5px;
  }
  .rt-td {
    border-right: none !important;
    align-items: center;
    justify-content: space-evenly;
  }
  .rt-tr-group {
    border: 1px solid lightgray !important;
  }
  .rt-th {
    background-color: #D4D8DE !important;
    color: #9DA4B0;
    font-weight: 600;
    font-size: 15px;
    text-transform: none;
    height: auto;
    box-shadow: none !important;
    width: auto !important;
    padding: 8px 0 !important;
    justify-content: center;
    :last-child{
      text-align: center;
    }
  }
}

.new-listing-button{
  background-color: #2AAAEC;
  color: white;
  border: none;
  font-size: 16px;
  padding: 0 20px;
  min-width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: -15px;
  height: 46px;
}

.new-listing-button:hover{
  text-decoration: none;
  color: white;
}

.manager-filter-container{
  display: flex;
  flex-direction: row;
  flex: 1;
  margin-top: -20px;
  height: 60px;
  .listing-filter{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .status-filter{
    display: flex;
    justify-content: flex-end;
    color: #4F4F4F;
    font-size: 14px;
    font-weight: 600;
    flex: 2;
    align-items: center;
    .status-filter-item{
      margin: 0 20px;
      cursor: pointer;
      img {
        margin: 0 10px 3px;
      }
    }
  }
}