@import "vars";

.messages-container {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-bottom: -20px;

  .no-messages {
    width: 100%;
    padding-top: 100px;
    text-align: center;
    font-size: 28px;
  }

  .threads {
    width: 300px;
    overflow-y: auto;
    height: 86vh;
    .thread-title {
      text-align: center;
      font-weight: bold;
      margin-bottom: 5px;
    }
    .thread {
      background-color: white;
      font-size: 14px;
      font-weight: 600;
      line-height: 25px;
      padding: 5px 10px;
      border: 1px solid lightgrey;
      border-left: none;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      min-height: 111px;
      .date {
        margin-left: auto;
        font-size: 12px;
      }
      .listing-name {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 175px;
        margin-top: -25px;
      }
      .last-message {
        font-size: 12px;
        font-weight: normal;
        color: #999999;
      }
    }
    .thread-selected {
      background-color: #03547C;
      color: #FFFFFF;
      .last-message {
        color: #FFFFFF;
      }
    }
  }
  .ca-overflow {
    &::-webkit-scrollbar {
      width: 6px;
    }
    &::-webkit-scrollbar-track {
      background: #CDCDCD;
    }
    &::-webkit-scrollbar-thumb {
      background: #2AAAEC;
    }
  }
  .thread-content {
    display: flex;
    flex-direction: column;
    position: relative;
    flex: 1;
    height: calc(100vh - 100px);

    .thread-title {
      color: #48C0FE;
      font-size: 20px;
      font-weight: 600;
      display: flex;
      justify-content: space-between;
      padding: 0 30px;
      margin-bottom: 20px;
      flex: 0 0 auto;

      .listing-name {
        cursor: pointer;
        max-width: 620px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: #03547C;
        font-size: 19px;
      }
      .company-name {
        color: black;
        .fa {
          padding-right: 10px;
          color: #2AAAEC;
        }
      }
    }
    .messages-wrapper {
      flex: 1 1 auto;
      height: 100%;
      position: relative;
      overflow-y: auto;
    }
    .messages {
      display: flex;
      flex-direction: column-reverse;
      flex: 1 1 auto;
      height: 100%;
      overflow-y: auto;
      padding: 0 30px 20px;
      overflow-x: hidden;
      &::-webkit-scrollbar {
        width: 12px;
      }
      .message {
        color: #4F4F4F;
        font-size: 16px;
        max-width: 60%;
        margin-left: 0;
        margin-right: auto;
        margin-top: 20px;

        &:last-child {
          margin-top: auto;
        }

        .message-sender {
          font-weight: 600;
        }
        .message-content {
          background: #EFEFEF;
          padding: 10px 30px 10px 20px;
          color: #333333;
          border-radius: 0 25px 25px 0;
        }
        .message-date {
          font-size: 14px;
        }
        .message-sender,
        .message-date {
          text-align: left;
          line-height: 20px;
          color: #333333;
        }
      }
      .own-company {
        .message-content {
          background: #00537D;
          color: #F7F7F7;
          border-radius: 25px 0 0 25px;
          padding: 10px 20px 10px 30px;
        }
        .message-sender,
        .message-date {
          text-align: right;
        }
      }
      .own-message,
      .own-company {
        margin-right: 0;
        margin-left: auto;
      }
    }
    .message-input {
      background: #EFEFEF;
      padding: 30px;
      .message-input-title {
        font-weight: bold;
      }
      .message-content {
        display: flex;
        margin: 10px 0;
        min-height: 70px;
        border-radius: 8px 0 0 8px;
        outline: none;
        border: none;
        resize: none;
        padding-right: 145px;
      }
      .standard-button {
        margin-left: 0;
        border-radius: 0 8px 8px 0;
        height: 71px;
      }
    }
  }
}