@import "vars.scss";

@mixin shadow($property) {
  -webkit-box-shadow: $property;
  -moz-box-shadow: $property;
  box-shadow: $property;
}

@mixin borderRadius($property) {
  -webkit-border-radius: $property;
  -moz-border-radius: $property;
  border-radius: $property;
}

@mixin boxSizing($property){
  box-sizing: $property;
  -moz-box-sizing: $property;
  -webkit-box-sizing: $property;
}

@mixin transition($property) {
  -webkit-transition : $property;
  -moz-transition : $property;
  -o-transition : $property;
  transition : $property;
}

@mixin placeholder{
  &::-webkit-input-placeholder {@content}
  &:-ms-input-placeholder      {@content}
  &::-moz-placeholder          {@content}
  &:-ms-input-placeholder      {@content}
  &:-moz-placeholder           {@content}
}

@mixin yellowInput() {
	&:hover:enabled{
		outline: none;
		border: 1px solid $color-primary;
		@include shadow(0px 0px 5px 0px rgba(255,201,75,1));
		@include transition(all .3s ease-out);
	}
	&:disabled, &:focus{
		outline: none;
		@include shadow(none);
		@include transition(none);
	}
}
