@import "vars.scss";

@mixin shadow($property) {
  -webkit-box-shadow: $property;
  -moz-box-shadow: $property;
  box-shadow: $property;
}

@mixin borderRadius($property) {
  -webkit-border-radius: $property;
  -moz-border-radius: $property;
  border-radius: $property;
}

@mixin boxSizing($property){
  box-sizing: $property;
  -moz-box-sizing: $property;
  -webkit-box-sizing: $property;
}

@mixin transition($property) {
  -webkit-transition : $property;
  -moz-transition : $property;
  -o-transition : $property;
  transition : $property;
}

@mixin placeholder{
  &::-webkit-input-placeholder {@content}
  &:-ms-input-placeholder      {@content}
  &::-moz-placeholder          {@content}
  &:-ms-input-placeholder      {@content}
  &:-moz-placeholder           {@content}
}
