@import "vars";

.property{
  .sales-packages-filters {
    font-size: 13px;
    color: #666;
    margin: 20px 30px 0 0;
  }
  .right-selector {
    display: flex;
    flex-wrap: wrap;
    .right-selector-item {
      flex: 1 0 45%;
      display: flex;
      justify-content: space-between;
      border-top: 1px solid lightgray;
      max-width: 50%;
      padding: 10px 0;
      width: 40%;
      margin-right: 5%;
      label{
        font-size: 13px;
        font-weight: 600;
        display: inline-block;
        color: $property-grey;
        &.selected{
          font-weight: bold;
        }
      }
      .right-name{
        width: 40%;
        display: flex;
        align-items: center;
        .tooltip-container{
          display: inline;
          margin: 0 5px;
          .fa{
            font-size: 18px;
            cursor: pointer;
          }
        }
        input {
          margin-right: 11px !important;
          &.ca-checkbox{
            &:checked{
              border: 1px solid $property-blue;
              background-color: $property-blue;
            }
            &:hover {
              border-color: $property-blue;
            }
          }
        }
        label{
          min-width: 130px;
        }
      }
      .right-exclusivity{
        input {
          margin: 11px !important;
        }
      }
    }

    .CaTooltip{
      max-width: 200px !important;
    }

    input[type="radio"].ca-radio {
      background-color: white;

      &:disabled,
      &.disabled {
        border-color: $grey-color;
        cursor: not-allowed;

        &:after {
          background-image: none;
        }

        &:after {
          background-image: none;
        }

        &:hover {
          border-color: $grey-color
        }
        background-color: #F7F7F7;
      }
    }
  }
  .property-cancel-button{
    margin: 10px 0 0;
    text-decoration: none;
  }

  .region-filter{
    .regions{
      flex-wrap: wrap;
      justify-content: space-between;
      margin-left: -5px;
      margin-right: -5px;
      &:after{
        content: "";
        flex: 1 1 0;
      }
      .region{
        max-width: 150px;
        line-height: 15px;
        margin: 5px;
        overflow: hidden;
        &.excluding{
          border: 1px solid #D0021B;
        }
        &:first-child{
          margin-left: 5px !important;
        }
      }
      .region-selected{
        &.excluding{
          background-color: #D0021B !important;
        }
      }
    }
    .region-filter-title{
      color: #333333;
      font-size: 16px;
      font-weight: bold;
      margin: 25px 0 17px;
      border-bottom: 1px solid #333;
      padding: 0 0 12px;
    }
    .region-filter-subtitle{
      color: #333333;
      font-size: 16px;
      font-weight: 600;
      margin: 17px 0;
    }
    .region-filter-selection-box {
      border: 1px solid #CFCCCC;
      height: 170px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      .region-filter-selection-word {
        height: 20px;
        color: #666666;
        font-size: 13px;
        font-weight: 600;
        line-height: 20px;
        text-align: center;
      }
    }
  }

  .search-competition{
    .search-competition-input{
      max-width: inherit;
      display: flex;
      align-items: center;
      margin: 20px;
      input{
        margin: 0 20px 0 0;
        height: 60px;
        font-size: 16px;
      }
      button{
        height: 60px;
        border-radius: 10px;
      }
    }
    .search-competition-messages{
      min-height: inherit;
    }
    .ReactTable {
      .rt-thead{
        border-bottom: 0px solid #ffc94b;
      }
      button{
        &.blue-button {
          background-color: transparent;
          color: $property-blue;
          text-align: center;
          width: 100%;
        }
      }
    }
  }
}
