@import "vars";
@import "mixins";

.property{

  select, input {
    background-color: white;
    border-radius: 0 !important;
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
    height: 45px;
    color: #666;
    font-size: 13px;
    font-family: $font-stack;
  }

  .Select {
    .Select-control {
      border-radius: 0;
      
      .Select-placeholder{
        color: #666;
        font-size: 13px;
        font-family: $font-stack;
      }
      .Select-value {
        margin-left: 8px;
        margin-top: 8px;
      }
    }
  }

  .property-welcome-title{
    margin: 5px 20px 0;
  }
  .property-welcome-subtitle{
	color: $font-color-1;
	font-size: 16px;
	font-weight: 100;
	margin: 15px 20px 0;
  }
  .sales-packages-filters {
    font-size: 13px;
    color: #666;
    margin: 20px 30px 0 0;
  }

  .manual-competition{
    padding: 0 20px;
  }

  .season-selector{
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0;
    .season-selector-item{
      display: flex;
      flex-direction: row;
      min-width: 150px;
      min-height: 40px;
      align-items: center;
      position: relative;
      margin-right: 10px;
      .remove-icon-button{
        position: absolute;
        right: 41px;
        top: 12px;
        i{
          font-size: 16px;
        }
      }
      .edit-season{
        position: absolute;
        right: 23px;
        top: 9px;
        i{
          font-size: 16px;
        }
      }
      input[type="checkbox"]{
        margin-right: 5px;
      }
    }
  }
  .season-buttons{
    display: flex;
    align-items: center;
  }

  .remove-icon-button{
    display: flex;
    align-items: center;
    padding-bottom: 20px;
  }
  .remove-icon-button, .add-season, .edit-season{
    cursor: pointer;
    font-size: 16px;
    color: $property-blue;
    i{
      margin-right: 5px;
      font-size: 26px;
      &.small-icon{
        font-size: 16px;
      }
    }
    &.disabled{
      color: lightgray !important;
      cursor: auto !important;
    }
  }
  .add-season{
    margin-right: 15px;
  }
  .season-checkbox {
    display: flex;
    align-items: center;
    padding-top: 20px;
    label{
      color: $font-color-5;
      font-size: 13px;
    }
    input{
      margin-right: 10px;
    }
  }
  .custom-season-container{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin: 15px 0 0;
    .add-season{
      display: flex;
      align-items: center;
      padding-bottom: 21px;
      margin-left: 10px;
    }
    .custom-season-form{
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-right: 20px;
      max-width: 300px;
      label{
        font-size: 13px;
        font-weight: normal;
      }
      .date-select {
        display: flex;
        .ca-form-control{
          margin-right: 5px;
        }
      }
    }
    .custom-season-result{
      display: flex;
      align-items: center;
      width: 130px;
      height: 42px;
      justify-content: center;
      justify-items: center;
      margin: 12px 20px 12px 0;
      background-color: lightgray;
    }
  }
  .custom-season-exists{
    color: red;
  }
  .right-selector {
    display: flex;
    flex-wrap: wrap;
    .right-selector-item {
      flex: 1 0 45%;
      display: flex;
      border-top: 1px solid lightgray;
      max-width: 50%;
      padding: 10px 0;
      width: 40%;
      margin-right: 5%;

      label{
        font-size: 13px;
        font-weight: 600;
        display: inline-block;
        color: $property-grey;
        &.selected{
          font-weight: bold;
        }
      }
      .right-name{
        width: auto;
        display: flex;
        align-items: center;
        margin-right: 30px;
        .tooltip-container{
          display: inline;
          margin: 0 5px;
          .fa{
            font-size: 18px;
            cursor: pointer;
          }
        }
        input {
          margin-right: 11px !important;
          cursor: pointer;
        }
        label{
	      cursor: pointer;
          min-width: 130px;
        }
      }
      .right-exclusivity{
        input {
          margin: 11px !important;
        }
      }

      &.full-width{
        flex: 1 0 100%;
        padding: 15px 0;
        max-width: 70%;
        .right-exclusivity {
          width: 20%;
          text-align: left;
        }
        .right-territories{
          width: 30%;
          display: flex;
	      justify-content: flex-start;

          i {
            font-size: 24px;
            margin: 1px 10px 0;
            display: flex !important;
            cursor: pointer;
            color: $property-blue;
          }
          .fa-undo {
            font-size: 23px !important;
          }
          img{
            max-width: 24px;
            margin-right: 5px;
          }
          label {
            display: flex !important;
            flex-direction: row;
            height: 24px;
            width: 150px;
            justify-content: flex-start;
            padding-left: 30px;
            align-items: center;
            font-weight: bold;
          }
        }
        &:last-of-type{
          border-bottom: 1px solid lightgray;
          margin-bottom: 20px;
        }
        &:first-of-type{
          border-top: none;
          margin-top: 20px;
        }
      }
    }

    .CaTooltip{
      max-width: 200px !important;
    }

    input[type="radio"].ca-radio {
      background-color: white;

      &.ca-radio-exclusive{
        &:hover {
          border-color: $property-yellow;
        }

        &:checked {
          border: none;

          &:after {
            background: url('../images/radio-yellow.png') no-repeat;
          }
        }
      }

      &:disabled,
      &.disabled {
        border-color: $grey-color;
        cursor: not-allowed;

        &:after {
          background-image: none;
        }

        &:after {
          background-image: none;
        }

        &:hover {
          border-color: $grey-color
        }
        background-color: #F7F7F7;
      }
    }
  }
  .right-status{
    label {
      color: #666666;
      font-size: 13px;
      font-weight: 600;
      line-height: 20px;
      margin-left: 5px;
      margin-right: 20px;
    }
    justify-content: flex-start;
    display: flex;
  }
  .rights-legend{
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    .item{
      flex-direction: row;
      color: #666666;
      font-size: 11px;
      line-height: 14px;
      overflow: hidden;
      font-weight: normal;
      align-items: center;
      display: flex;
      flex: 1 1 0;
      img{
        margin-right: 5px;
      }
    }
  }
  .rights-legend-small{
    @extend .rights-legend;
    justify-content: flex-end;
    width: 100%;
    margin-top: 20px;
    .item{
      flex: none;
      margin-left: 10px;
    }
  }
  .property-cancel-button{
    margin: 20px 0 0;
    text-decoration: none;
    outline: none;
  }

  .region-filter{
    .regions{
      flex-wrap: wrap;
      justify-content: space-between;
      margin-left: -5px;
      margin-right: -5px;
      &:after{
        content: "";
        flex: 1 1 0;
      }
      .region{
        max-width: 150px;
        line-height: 15px;
        margin: 5px;
        overflow: hidden;
        color: #666 !important;
        height: 40px !important;
        &.excluding{
          border: 1px solid #D0021B;
        }
        &:first-child{
          margin-left: 5px !important;
        }
        &:disabled {
          background-color: #ECECEC !important;
          border: 1px solid #ECECEC !important;
          cursor: default !important;
        }
      }
      .region-selected{
        &.excluding{
          background-color: $property-yellow !important;
        }
      }
    }
    .region-filter-title {
      color: #333333;
      font-size: 16px;
      font-weight: bold;
      margin: 25px 0 17px;
      border-bottom: 1px solid #333;
      padding: 0 0 12px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .title-wrapper {
        margin-top: -26px;
      }

      .subtitle {
        color: #666666;
        font-size: 13px;
        font-weight: 100;
        line-height: 18px;
        margin: 4px 0;
      }

      &.toggle {
        cursor: pointer;
      }

	  button{
		outline: none;
	  }

      &-dropdown i {
        font-size: 28px;
      }
    }
    .region-filter-subtitle{
      color: #333333;
      font-size: 16px;
      font-weight: 600;
      margin: 17px 0;
    }
    .region-filter-selection-box {
      border: 1px solid #CFCCCC;
      height: 170px;
      width: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      img {
        max-height: 100px;
        margin-bottom: 10px;
      }
      .region-filter-selection-word {
        height: 20px;
        color: #666666;
        font-size: 13px;
        font-weight: 600;
        line-height: 20px;
        text-align: center;
      }
    }
    .split-filter{
      display: flex;
      width: 50%;
      flex-direction: column;
      margin: 10px 10px 0 0;
      &.full-width{
        width: 100%;
      }
    }

  }

  .search-competition{
    .search-competition-input{
      max-width: inherit;
      display: flex;
      align-items: center;
      margin: 20px;
      input{
        margin: 0;
        height: 60px;
        font-size: 16px;

	    &:hover, &:focus{
		  outline: none;
		  border: 1px solid $color-primary;
		  @include shadow(0px 0px 5px 0px rgba(255,201,75,1));
		  @include transition(all .3s ease-out);
	    }
      }
      button{
        height: 60px;
        border-radius: 5px;
      }
    }
    .search-competition-messages{
      padding: 10px 20px;
      width: auto;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      min-height: 0;
      a{
        border-radius: 5px;
        width: 240px;
        font-size: 15px;
        margin-left: 5px;
      }
      i{
        font-size: 20px;
        color: red;
        margin-right: 10px;
      }
    }
    .ReactTable {
      .rt-thead{
        border-bottom: 0px solid #ffc94b;
      }
      button{
        &.blue-button {
          background-color: transparent;
          color: $property-blue;
          text-align: center;
          width: 100%;
        }
      }
    }
  }

  .title-property-wrapper{
	display: flex;
	justify-content: space-between;

    span{
	  display: flex;
	  align-items: center;
    }
	.title-action-wrapper{
	  display: flex;
	  flex-wrap: nowrap;
	  align-items: flex-start;

	  button, a{
		margin-right: 10px;
	  }
	  i{
		font-size: 38px;
		color: $property-blue;
		cursor: pointer;
	  }
	}
  }
  .title-property-tab{
	margin: 25px 0 17px;
	border-bottom: 1px solid $black-color;
	padding: 0 0 12px;

	display: flex;
	justify-content: space-between;
	flex-direction: row;
	align-items: flex-end;

	i{
	  color: $property-blue;
	  font-size: 28px;
	  cursor: pointer;
	}

	.title-wrapper{
	  display: flex;
	  flex-direction: column;

	  .title{
		font-size: 16px;
		font-weight: bold;
		color: $black-color;
	  }
	  .sub-title{
	    font-size: 13px;
		color: $property-grey;
		  padding-top: 5px;
	  }
	}
  }

  // tabs
  .ca-tabs {
    margin-top: 20px;
    padding-top: 22px;
    border-top: 1px solid #ECECEC;
  }
  .listing-overview-tab{
    @extend .property-tab;
    .manager-filter-container {
      margin-top: 10px;
      align-items: flex-start;
      height: auto;
      .listing-filter {
        height: 100%;
        margin-right: 20px;

        .Select {
          width: 100%;

          .Select-control {
            border-radius: 0;
            .Select-placeholder{
              color: #666;
              font-size: 13px;
              font-family: $font-stack;
            }
            .Select-value {
              margin-left: 0;
              margin-top: 0;
              color: #666;
              font-size: 13px;
            }
          }
        }

        .reset-listing-filter {
          width: 75px;
        }

        &.territories-filter {
          > * {
            margin-left: 10px;
          }
          .ca-form-control {
            margin: 0;
          }
        }
      }
    }
  }
  .rights-overview-tab{}
  .property-details-tab{
    .property-production-tab, .property-rights-tab{
        .row{
            margin-bottom: 0;
            .item{
                flex: 0 1 32%;
                .input-wrapper{
                    display: flex;
                    flex-wrap: nowrap;

                    input{
                        color: #666;
                        font-style: italic;
                        cursor: pointer;

                        @include yellowInput();
                    }
                    i {
                        display: flex;
                        align-items: center;
                        margin: 0 0 15px 10px;
                        font-size: 25px;
                        color: $property-blue;
                    }
                }

            }

        }
    }

    .property-event-tab {
      .property-event-details-wrapper {
          display: flex;
          width: 100%;
          flex-direction: row;

          .event-details-image{
              position: relative;
              width: 280px;
              background: $background-3;

              .image-wrapper{
                  display: flex;
                  align-items: center;
                  justify-content: center;

                  margin: 37px auto 25px;
                  width: 240px;
                  height: 240px;
                  border: 1px solid $border-color-1;

                  img {
                      width: 100%;
                      height: auto;
                      max-height: 100%;
                      object-fit: contain;
                  }
              }
              .image-upload-wrapper {
                  text-align: center;

                  &__button {
                      margin: 20px auto;
                  }

                  &__title {
                      text-align: center;
                      font-size: 13px;
                      font-weight: 600;
                      color: $font-color-5;
                  }

                  .base-input {
                    > div {
                      flex-wrap: wrap;
                    }
                  }
              }
              .image-actions{
                  position: absolute;
                  top: 8px;
                  right: 20px;
                  & i{
                      color: $property-blue;
                      cursor: pointer;
                      margin-right: 7px;
                      font-size: 20px;

                      &.fa-trash{
                          color: red;
                          margin-right: 0;
                      }
                  }
              }
          }
          .event-description{
              flex: 1;
              padding-left: 25px;

              .title{
                  font-size: 16px;
                  color: $black-color;
                  font-weight: 600;
                  margin-bottom: 15px;
              }
              .description-wrapper{
                  display: flex;
                  flex-direction: row;
                  margin-bottom: 30px;

                  textarea{
                      flex: 1;
                      width: 100%;
                      min-height: 150px;
                      margin: 0;
                      height: 150px;
                      background: $background-3;
                      border: 1px solid $border-color-1;
                      color: $property-grey;

                      font-size: 13px;
                      font-weight: 600;
                      line-height: 20px;
                      resize: none;

                      @include yellowInput();
                  }
                  .description-actions{
                      display: flex;
                      flex-direction: column;
                      justify-content: flex-start;
                      align-items: center;
                      flex: 0 0 50px;

                      i {
                          &.fa-pencil-square-o{ color: $property-blue; }
                          &.fa-times-circle{ color: red; }
                          &.fa-check-circle{ color: green; }

                          font-size: 24px;
                          margin-bottom: 5px;
                          cursor: pointer;
                      }
                  }
              }
              .files-and-website-wrapper{
                  width: 100%;
                  display: flex;
                  flex-direction: row;
                  justify-content: space-between;

                  .website-wrapper, .files-wrapper{
                      width: 48%;
                  }

                  .files-wrapper {
                    .input-wrapper {
                      position: relative;

                      .base-input {
                        width: 100%;
                        display: flex;
                        flex-direction: column-reverse !important;
                        margin-top: -5px;

                        > div:nth-child(1) {
                          margin-top: 10px;
                        }
                      }
                    }
                  }

                  .input-wrapper{
                      display: flex;
                      flex-direction: row;

                      &__button {
                          display: flex;
                          align-items: center;
                          height: 45px;
                      }

                      .fa-cog {
                          padding: 15px;
                      }

                      input{
                          margin: 0;
                          @include yellowInput();
                      }
                  }
              }
          }
      }
      .buttons {
        div {
          margin: 0;
        }
      }
    }

    .property-edited-program-tab {
      &__container {
        margin-top: 1rem;

        input[type="radio"] + label,
        input[type="radio"] + span {
          font-weight: 600;
          color: #666;
        }

        input[type="radio"]:checked + label,
        input[type="radio"]:checked + span {
          // font-weight: 900;
          color: #000;
        }

        .region-filter-title {
          border: 0;
          display: block;
          font-size: 14px;
          margin-top: 40px;
          margin-bottom: 10px;
          color: #333333;
          font-weight: bold;
        }

        .sales-packages-filters {
          margin-top: -10px;
        }
        .radio-selector-container{
          margin-top: 15px;
        }

        .country-selector {
          input[type="radio"] {
            margin-right: 10px !important;
          }

          .region-filter-subtitle {
            font-weight: normal;
            font-size: 13px;
            margin-top: 10px;
            margin-bottom: 5px;
          }

          .regions {
            margin-bottom: 30px;
            justify-content: flex-start;

            &::after {
              content: unset;
            }

            .region {
              & + & {
                margin-right: 20px;
              }
            }
          }

          .Select {
            margin-top: 5px;
            max-width: 550px;
          }

          .link-button {
            font-size: 14px;
            margin-left: 20px;
          }
        }

        .row {
          justify-content: space-between;
          margin-left: -10px;
          margin-right: -10px;
          margin-bottom: 0;

          input {
            margin: 0;
          }

          textarea {
            height: 150px;
            min-height: unset;
            background: #fff;

            &::placeholder {
              font-style: normal;
            }
          }

          input[type="radio"] {
            margin-right: 10px;
          }

          .radio-box {
            display: flex;
            margin-top: 15px;

            label {
              min-width: unset;
              width: unset;
              margin-right: 40px;
            }
          }

          & + & {
            margin-top: 20px;
          }
        }

        .w-50 {
          width: 50%;
          padding: 0 10px;
        }

        .w-66 {
          width: 66%;
          padding: 0 10px;
        }

        .w-33 {
          width: 33%;
          padding: 0 10px;
        }

        label {
          font-size: 13px;
          font-weight: normal;
        }

        //textarea {
        //  min-height: 6rem;
        //}
        //
        //.row {
        //  width: 100%;
        //  .modal-input {
        //    width: 100%;
        //    padding: 0 1rem;
        //
        //
        //  }
        //}
      }

      &__button {
        display: block;
        margin-left: auto;
      }

      &__list {
        .element {
          margin-bottom: 40px;

          h3 {
            justify-content: flex-start;
            font-size: 18px;
            font-weight: 600;
          }

          h6 {
            margin-top: 12px;
            font-size: 14px;
            line-height: 1.8;
            margin-bottom: 1rem;
          }

          .action {
            margin-right: 20px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            text-decoration: none;
            position: relative;
            padding: 0px 10px 0px 0px;
            width: 170px;

            img {
              max-width: 25px;
              max-height: 25px;
              margin-right: 5px;
            }
          }
        }
      }

      h3 {
        font-size: 15px !important;
      }
    }

    .property-license-tab {
      .buttons {
        align-items: center;

        button {
          max-width: 400px;
          border-radius: 5px;
        }
      }

      .terms-edit-header {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        margin: 10px 0 0;
      }

      .terms-edit-header-title {
        color: #03547C;
        font-size: 21px;
        font-weight: bold;
        line-height: 24px;
        align-self: center;
        margin-right: auto;
      }

      .terms-edit-non-editable {
        color: #CC0000;
        font-size: 13px;
        font-weight: bold;
        line-height: 25px;
        font-style: italic;
        margin-bottom: -10px;
      }

      .terms-add-definition-button {
        margin: 20px 0 !important;
        border-radius: 5px;
        padding: 10px 20px !important;
        font-size: 13px !important;

      }

      .terms-restore-button {
        margin: 0 0 0 10px !important;
        border-radius: 5px;
        padding: 10px 15px !important;
        font-size: 13px !important;
        min-width: 200px;
        max-height: 43px;
      }

      .ca-loader {
        width: 40px;
      }

      .ca-tabs {
        margin-bottom: 15px;
        margin-top: 0;
        border: 0;

        .tab {
          font-size: 15px;
        }
      }

      i {
        margin: 0 5px 0 10px;
        color: #FFC94B;
      }

      &:disabled {
        i {
          color: #333;
        }
      }

      .terms-edit-item {
        margin: 5px 0;
        display: flex;
        position: relative;

        .terms-edit-item-name {
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          width: 250px;
          margin-right: 5px;
          color: #000000;
          font-size: 14px;
          font-weight: bold;
          line-height: 25px;
          background-color: #DDDFE2;

          textarea {
            margin: 0 15px !important;
          }
        }

        .terms-edit-item-content {
          border: 1px solid #CCCCCC;
          background-color: #F5F5F5;
          padding: 20px;
          color: #4f4f4f;
          font-size: 15px;
          font-weight: normal;
          line-height: 25px;
          width: 95%;
          min-height: 70px;

        }

        textarea {
          border: none;
          background: white;
          min-height: 100px;
          margin: 0;
          padding: 0;
          font-size: 13px;
          line-height: 25px;
          font-family: 'Open Sans', sans-serif;
          outline: none;
        }

        .terms-edit-item-disabled {
          background-color: rgba(204, 204, 204, 0.21);
          color: #999999;
        }

        .terms-edit-item-editing {
          border: 2px solid #FFC94B !important;
          background-color: #fff !important;
        }

        .edited {
          border: 2px solid #FFC94B !important;
        }

        .terms-edit-item-actions {
          width: 5%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          i {
            cursor: pointer;
            margin: 5px 0;
            font-size: 27px;
          }
        }
      }
    }

	.centered-btn{
	  margin-left: auto !important;
      margin-right: auto !important;

      div {
        margin-top: 0;
      }
	}
  }

  .details-tab {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;

    &-element {
      width: 100%;
      margin: 10px;

      &__title {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-bottom: 20px;
        border-bottom: 1px solid $grey-color;
        cursor: pointer;
        font-weight: bold;
        font-size: 16px;
        line-height: 36px;
        color: #333333;

        &.no-border {
          border: 0;
        }

        i {
          color: $grey-color;
        }

        span {
          margin-left: 10px;
        }
      }

      &__content {
        width: 100%;
        padding: 20px;
      }
    }

    .tab{
      color: $property-blue;
      padding-right: 25px;
      transition: 0.3s;

      &:hover{
        color: #00aadd;
        cursor: pointer;
      }
      &:last-child{ padding-right: 0; }
      &.active{ text-decoration: underline; }

    }
  }

  .property-tab{
    h5 {
      justify-content: left;
    }
    .manager-filter-container {
      margin-top: 10px;
      align-items: flex-start;
      height: auto;
      .listing-filter {
        height: 100%;
        margin-right: 20px;

        .Select {
          width: 100%;

          .Select-control {
            border-radius: 0;
            .Select-placeholder{
              color: #666;
              font-size: 13px;
              font-family: $font-stack;
            }
            .Select-value {
              margin-left: 0;
              margin-top: 0;
              color: #666;
              font-size: 13px;
            }
          }
        }

        .reset-listing-filter {
          width: 75px;
        }

        &.territories-filter {
          > * {
            margin-left: 10px;
          }
          .ca-form-control {
            margin: 0;
          }
        }
      }
    }
  }
  .commercial-overview-tab {
    @extend .property-tab;
    .manager-filter-container {
      margin-top: 10px;
      align-items: flex-start;
      height: auto;
      .listing-filter {
        height: 100%;
        margin-right: 20px;

        .reset-listing-filter {
          width: 75px;
        }

        &.territories-filter {
          > * {
            margin-left: 10px;
          }
          .ca-form-control {
            margin: 0;
          }
        }
      }
    }
  }
  .fixture-tab{
    @extend .property-tab;
    button{
      height: 40px;
    }
    .fixture-tab-description{
      color: #666666;
      font-size: 13px;
      line-height: 22px;
    }
    .fixture-list{
      margin-bottom: 20px;
    }
    .fixture-item-wrapper{
      display: flex;
      flex-direction: row;
      color: #666666;
      font-size: 13px;
      line-height: 18px;
      border-bottom: 1px solid lightgray;
      padding: 15px 0;
      position: relative;
      .fixture-item-round, .fixture-item-name{
        margin-right: 20px !important;
        align-items: center;
        display: flex;
        max-width: 350px;
        flex: 3;
      }
      .fixture-item-date, .fixture-item-time{
        margin-right: 20px !important;
        align-items: center;
        display: flex;
        flex: 1;
        color: #666666;
        font-size: 13px;
        font-weight: 600;
        line-height: 20px;
        max-width: 90px;
      }
      .fixture-item-timezone{
        margin-right: 20px !important;
        align-items: center;
        display: flex;
        width: 240px !important;
        input {
          border: 1px solid lightgray;
          border-radius: 0;
          height: 47px;
          width: 240px !important;
        }
        ul{
          background-color: white;
        }
      }
      .fixture-item-actions{
        flex: 0.5;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        i{
          cursor: pointer;
        }

      }
      .remove-icon-button{
        padding-bottom: 0 !important;
      }
      .fixture-title{
        color: #333333;
        font-size: 16px;
        font-weight: 600;
        line-height: 20px;
        margin: 20px 0;
      }
      .fa {
        font-size: 20px;
        margin-right: 5px;
        &.fa-calendar, &.fa-clock-o, &.fa-edit{
          color: $property-blue;
        }
        &.fa-clock-o, &.fa-edit{
          font-size: 22px;
        }
        &.fa-trash{
          color: red;
          margin-top: -2px;
        }
      }
    }
    .react-datepicker-wrapper {
      border: 1px solid lightgray;
      display: flex;
    }
    .react-datepicker__time-container {
      width: 110px;
      .react-datepicker__time-box {
        width: 110px;
      }
    }
    input{
      width: 100% !important;
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  .empty-property-tab{
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;

	& img{
	  padding-top: 50px;
	  padding-bottom: 25px;
	  width: 70px;
	  height: auto;
	}
	& h3 {
	  color: $black-color;
	  font-size: 16px;
	  font-weight: bold;
	}
	& h4 {
	  @media only screen and (max-width: 1020px) {
		width: 100%;
	  }
	  justify-content: center;
	  text-align: center;
	  margin-top: 5px;
	  color: $font-color-5;
	  font-size: 13px;
	  width: 60%;
	}
	& a, & button{
	  margin: 30px 0 25px;
	  text-transform: capitalize;
      height: 40px;
      padding: 10px 25px;
      background-color: $property-yellow;
	}

    &.left-aligned {
      align-items: flex-start;

      h3 {
        font-size: 18px;
      }

      h4 {
        text-align: left;
        margin-top: 25px;
        color: $font-color-5;
        font-size: 14px;
        font-weight: normal;
        line-height: 2;
      }
    }
  }

  .property-list-header{
    padding: 0 0 20px;
    display: flex;
    justify-content: flex-end;
  }
  .property-empty-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 400px;
    justify-content: space-around;
    padding: 65px 0 90px;
    img{
      max-width: 60px;
    }
    span{
      //margin: 10px 0;
      &.title{
        color: #333333;
        font-size: 16px;
        font-weight: bold;
        line-height: 20px;
      }
      &.subtitle{
        color: #666666;
        font-size: 13px;
        font-weight: 600;
        line-height: 20px;
      }
    }
  }
  .ReactTable {
    .rt-table{
      overflow: visible;
      .season-header-column{
        overflow: visible;
      }
      .season-header {
        position: absolute;
        top: -22px;
        left: 0px;
        background-color: #03547C;
        height: 20px;
        font-size: 12px;
        overflow: hidden;
        margin-right: 1px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        border-right: 1px solid white;
      }
    }
  }
  .property-item-wrapper{
    display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px 0;
    border-top: 2px solid #FDD306;
	.property-wrapper{
	  width: 100%;
	  align-items: center;
      margin-bottom: 20px;
      border-bottom: 1px solid $font-color-2;

	  .property-img{
		flex: 1;
        padding: 10px 10px 10px 0;
	  }
	  .property-info{
		flex: 6.5;
		padding: 0 20px 20px;

		.bids-wrapper{
		  display: flex;
		  flex-direction: row;
		  flex-wrap: wrap;
		  padding-top: 10px;
		  font-size: 13px;
          color: $property-blue;
		  button{
		    font-size: 13px;
			text-decoration: none;
			outline: none;
		  }
		  .closed-bid, button{ padding-left: 25px; }
		  .open-bid, .closed-bid {
			.bids-count {
			  background-color: $property-blue;
			  color: $primary-color;
			  padding: 1px 6px;
			  margin-right: 8px;
			}
		  }
	    }
	  }
	}

    .property-listing-wrapper {
      display: flex;
      width: 100%;
      .property-listings-table {
        width: 100%;
        .table-header {
          display: flex;
          align-items: center;
        }
        .tooltip-container {
          display: flex !important;
          justify-content: space-between;
          width: 100%;
          i{
            color: $property-blue;
            font-size: 18px;
          }
        }
        .table-status{
          padding: 0 !important;
          .status-active{
            color: #36CB97;
            border-left: 3px solid #36CB97;
            padding: 10px !important;
            display: flex;
            font-weight: bold;
          }
          .status-rejected{
            @extend .status-active;
            color: #D20515;
            border-left: 3px solid #D20515;
          }
        }
      }
    }
  }

  .property-listing-overview-wrapper {
    position: relative;
    margin-top: 10px;
  }

  &.property-deal {
    .season-item,
    .select-item {
      display: flex;
      align-items: center;
      margin: 0 40px 20px;

      input {
        margin: 0 10px 0 0;
        width: 20px;
      }
    }

    .right-selector {
      margin: 0 10px 40px;

      .right-selector-item {
        flex: initial;
        width: 45%;
      }
    }

    .property-listing-wrapper {
      margin-bottom: 30px;
      input {
        height: 30px !important;
      }
    }

    .custom-selector {
      label {
        display: none !important;
      }
    }

    .overflow-initial {
      overflow: initial;
    }

    .select-currency {
      display: flex !important;
      overflow: initial !important;
      align-items: baseline;
      border-bottom: 4px solid #D4D8DE;
      padding-bottom: 3px;
      max-width: 515px;
      position: absolute;
      width: 180px;

      .select-text {
        display: none;
      }

      .currency-selector {
        width: 100%;

        .current {
          padding: 4px 16px 3px;
          width: 100%;
          border: 1px solid #DADADA;
          text-align: right;
          i {
            margin-left: 10px;
          }
        }

        .dropdown {
          right: 0;
          position: absolute;
          top: 27px;
          display: none;
          width: 100%;
          z-index: 1;

          .currency-item {
            padding: 5px 5px 5px 0;
            color: #000;
            background: #FFFFFF;
            border: 1px solid #DADADA;
            text-align: center;
            cursor: pointer;
          }
        }

        &:hover > .dropdown {
          display: block;
        }
      }
    }
  }

  &.edit-property {

  }
}
