@import "vars";

.table-right{
  width: 100%;
  border-bottom: 4px solid $border-color-1;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  .column {
    display: flex;
    margin: 2px 0 5px;
    width: auto;
    flex: 1;
  }

  .row {
    width: 100%;
    display: flex;
    flex-direction: row;
  }

  .bordered-row {
    border-bottom: 1px solid lightgrey;
    margin-bottom: 3px;
  }

  .right-name{
    flex: 3;
    background-color: $background-2;
    padding: 10px 0 10px 20px;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
  }

  .right-item-content{
    flex: 3;
    background-color: #F4F6F9;
    align-items: center;
    padding: 6px 0 6px 20px;
    font-size: 14px;
    font-weight: 600;
  }

  .column.right-package.disabled {
    background-color: #D4D8DE;
    color: #9DA4B0;
  }

  .right-package{
    background-color: #F4F6F9;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 600;
    border-right: 1px solid #F4F6F9;
  }

  .right-item-selection{
    border-right: 1px solid #EEF3F6;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #2DA7E6;
  }

  input{
    width: 20px;
  }
}

