@import "vars";

.settings-container {
  .setting {
    .settings-link{
      margin: 20px 0;
      border-radius: 5px;
    }
    background-color: #F7F7F7;
    box-shadow: 0 1px 9px rgba(0, 0, 0, 0.21);
    padding: 25px 20px;
    margin-bottom: 30px;
    &:last-child {
      margin-bottom: inherit;
    }
    .ReactTable {
      border-radius: 5px;
      border: 1px solid #999999;
      text-align: left;
      .rt-thead {
        box-shadow: none;
        border-bottom: 1px solid #999999;
        .table-header {
          color: #0C4772;
          font-size: 19px;
          font-weight: bold;
          text-align: left;
          outline: none;
        }
      }
      .rt-tr-group {
        border-bottom: 1px solid #999999;
      }
      .table-header {
        padding: 10px;
        border-right: 1px solid #999999;
      }
    }
    .buttons {
      div {
        display: flex;
        margin: 20px auto 0;
      }
      .cancel-button {
        border: none;
        background: none;
        text-transform: uppercase;
        font-weight: bold;
        color: #3F5667;
        outline: none;
        font-size: 15px;
      }
      .standard-button {
        border-radius: 5px;
        text-transform: uppercase;
        padding: 15px 25px;
        min-width: 150px;
        font-size: 16px;
        font-weight: bold;
        box-shadow: 0 8px 12px -2px rgba(0, 0, 0, 0.09);
      }
    }
  }
  .edit-button {
    cursor: pointer;
    color: $border-color-2;
    font-size: 16px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: auto;
    width: inherit;
    .fa {
      font-size: 28px;
    }
  }
  .title {
    display: flex;
    margin-bottom: 30px;
    color: #03547C;
    font-size: 21px;
    font-weight: bold;
    line-height: 24px;
  }
  .big-title{
    @extend .title;
    color: #000;
    font-size: 40px;
    justify-content: center;
    margin: 20px 0 10px;
    line-height: 40px;
  }
  .preferences-title{
    @extend .title;
    margin-bottom: 10px;
  }
  .subtitle {
    margin-bottom: 20px;
    font-size: 14px;
  }
  textarea {
    display: flex;
    box-sizing: border-box;
    margin-top: 10px;
    min-height: 220px;
    font-weight: normal;
    font-size: 16px;
    background: #F5F5F5;
    border-color: #E6E6E6;
    &:disabled {
      background: #EDEDED;
      border-color: #E3E3E3;
      color: #333;
    }
  }
  .setting {
    .password {
      display: flex;
      flex-direction: column;
      label {
        color: #333333;
        font-size: 16px;
        font-weight: 600;
      }
      input {
        width: 380px;
        height: 45px;
        padding: 5px;
        line-height: 20px;
        font-size: 16px;
        margin: 5px 0 10px;
        background: #F5F5F5;
        border-color: #E6E6E6;
      }
      .standard-button {
        margin-left: 0;
        height: 68px;
        width: 253px;
        margin-top: 30px;
        border-radius: 5px;
      }
    }
    .row {
      display: flex;
      margin-bottom: 20px;
      .item {
        width: 33%;
        max-width: 467px;
        box-sizing: border-box;
        margin: 0 20px 0 0;
        display: flex;
        flex-direction: column;
        &:last-child {
          margin-right: inherit;
        }
        label {
          color: #333333;
          font-size: 16px;
          font-weight: 600;
        }
        input {
          width: auto;
          padding: 10px;
          margin-bottom: inherit;
          background: #F5F5F5;
          border-color: #E6E6E6;
          font-weight: normal;
          font-size: 16px;
          &:disabled {
            background: #EDEDED;
            border-color: #E3E3E3;
            color: #999999;
          }
        }
        .Select-control {
          margin-top: 10px;
          border-radius: inherit;
          background: #F5F5F5;
          border-color: #E3E3E3;
          .Select-value-label {
            color: #999999;
            font-weight: bold;
            font-size: 80%;
          }
          input {
            background: inherit;
          }
        }
        .is-disabled{
          .Select-control{
            background: #EDEDED;
          }
        }
      }
      .preferences-item{
        @extend .item;
        width: 100%;
        max-width: 800%;
      }
    }

  }
  .password-validation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 10px solid #CCCCCC;
    height: 305px;
    width: 385px;
    //position: absolute;
    //right: 10%;
    //top: 15%;
    margin-left: 10%;
    div {
      width: 230px;
      margin: 0 auto;
      text-align: left;
      padding: 6px 0;
      img {
        width: 23px;
        height: 23px;
        margin-right: 10px;
      }
    }
  }
  .save-button-container {
    display: flex;
    align-items: center;
    margin: 20px;
    flex-direction: column;
  }
}

.terms-edit-container{
  .setting{
    .terms-edit-item{
      margin: 5px 0;
      display: flex;
      .terms-edit-item-content{
        border: 1px solid #CCCCCC;
        background-color: #F5F5F5;
        padding: 20px;
        color: #555555;
        font-size: 13px;
        line-height: 25px;
        width: 95%;
        min-height: 122px;
      }
      .terms-edit-item-disabled{
        background-color: rgba(204,204,204,0.21);
        color: #999999;
      }
      .terms-edit-item-actions{
        width: 5%;
        display: flex;
      }
    }
  }
}

.settings-container-welcome{
  justify-content: center;
  display: flex;
  flex-direction: column;
  background: url('../images/bg-questionnarie.png' ) no-repeat;
  background-size: contain;
  background-color: #eee;
  margin: -20px;

  .terms-and-condition-wrapper{
    justify-content: normal !important;
  }
  .buttons{
    margin: 50px auto;
    display: flex;
    flex-direction: row;
    button{
      color: #062E44;
      font-size: 18px;
      font-weight: 600;
      line-height: 46px;
      border-radius: 5px;
      height: 68px;
      width: 236px;
      margin: 0 10px;
    }
    .back{
      border: 1px solid #FFC94B;
      background-color: transparent;
      position: relative;
      i {
        position: absolute;
        left: 10px;
        top: 19px;
      }
    }
  }
  .steps {
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
    margin: 0 0 20px;

    .step {
      height: 4px;
      width: 39px;
      background-color: #DAD4D4;
      margin: 0 1px;
    }
    .active-step {
      background-color: #FFC94B;
    }
  }
  .title {
    display: flex;
    max-width: 800px;
    margin: 0 auto 30px;
    font-size: 22px;
    font-weight: 400;
    line-height: 32px;
    text-align: center;
    color: #F7F7F7;
  }
  .big-title{
    @extend .title;
    color: #fff;
    font-size: 60px;
    justify-content: center;
    margin: 70px auto 10px;
    line-height: 60px;
    font-weight: 600;
  }

  .setting{
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #fff;
    padding: 25px 100px;
    position: relative;
    .password-validation {
      display: flex;
      flex-direction: column;
      justify-content: center;
      border: 10px solid #CCCCCC;
      height: 250px;
      width: 385px;
      margin-left: 10%;
      position: absolute;
      right: 50px;
      bottom: 30px;
    }
    .title {
      color: #03547C;
      font-size: 21px;
      font-weight: bold;
      line-height: 24px;
      width: 800px;
    }
    .row{
      .row-content{
        justify-content: space-between;
        width: 100%;
      }

    }
  }
}