$font-stack:    'Open Sans', sans-serif;
$primary-color: #fff;
$blue-color: #1a4b63;
$blue-secondary-color: #40bfff;
$orange-color: #ffc94b;
$grey-color: #C5C9CD;
$black-color: #333333;
$font-size-medium-small: 12px;
$font-size-medium: 14px;
$font-size-medium-large: 16px;
$font-size-extra-large : 32px;

$font-color-1: #4F4F4F;

$header-background-color: #072F43;
$container-background-color: #EAEDF2;
$light-background-color: #F4F6F9;
$text-color-1: #B0D1E1;
$border-color-1: #D4D8DE;
$border-color-2:  #2AAAEC;
$background-2: #1a4b63;
