$font-stack:    'Open Sans', sans-serif;
$primary-color: #fff;
$blue-color: #1a4b63;
$landing-color: #052e44;
$blue-secondary-color: #40bfff;
$orange-color: #ffc94b;
$grey-color: #C5C9CD;
$black-color: #333;
$red-color: #990000;

$font-size-medium-small: 12px;
$font-size-medium: 14px;
$font-size-medium-large: 16px;
$font-size-extra-large : 32px;

$font-color-1: #4F4F4F;
$font-color-2: #ccc;
$font-color-3: #000;
$font-color-4: #02375E;
$font-color-5: #666;
$font-color-6: #03547C;
$font-color-7: #349fd9;

$border-color-1: #D4D8DE;
$border-color-2: #2AAAEC;
$border-color-3: #999;
$border-color-4: #ECECEC;

$header-background-color: #072F43;
$modal-bg: #F5F6FA;
$container-background-color: #EAEDF2;
$background-2: #1a4b63;
$background-3: #F7F7F7;
$background-4: #eee;
$background-5: #F5F5F5;

$light-background-color: #F4F6F9;
$text-color-1: #B0D1E1;
$content-bg: #fff;
$color-blue: #2AAAEC;
$color-blue-dark: #1a4b63;
$color-primary: #ffc94b;
$color-grey: #D7D6D4;
$color-grey-light: #E7E7E7;

$property-blue: #00B9F1;
$property-grey: #666666;
$property-yellow: #FDD306;
