.modal-head-div {
    margin: 10px 0;
    border: 1px solid #ddd;
    width: 100% !important;
    min-height: 100px;
    padding: 7px;
    font-size: 100%;
}

.full-width {
    width: 100%
}

.modal-thin-div {
    min-width: 200px;
    color: black;
}

.margin-top-30 {
    margin-top: 30px;
}