html{
    background-color: #052e44;
}

.main-content{
    min-height: 100%;
    max-width: 1100px;
    margin: 0 auto;
}

.main-page-home .footer {
    position: relative;

}

.seller-box {
    background: white;
    color: grey;
    text-transform: capitalize;
    margin: 20px;
    display: flex;
    flex-direction: column;
}

.seller-box-title {
    background: darkslategrey;
    padding: 7px 15px;
    border: 1px solid black;
    color: white;
    text-align: left;
    font-size: 80%;
}

.seller-box-title span{
    font-weight: bold;
}

.seller-box-content {
    font-size: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 1px solid black;
    border-top: none;
    justify-content: flex-start;
    padding: 20px;
}

.seller-box-content-rights{
    column-count: 2;
    column-width: 400px;
    display: block;
}

.seller-box-content-rights .select-box-item-container {
    column-count: 1;
    -webkit-column-break-inside: avoid; /* Chrome, Safari */
    page-break-inside: avoid;           /* Theoretically FF 20+ */
    break-inside: avoid-column;         /* IE 11 */
    display:table;
}



.select-box-item {
    display: flex;
    flex-direction: row;
    /*width: 25%;*/
    height: 25px;
    min-width: 250px;
}

.select-box-item-full {
    width: 100%;
    height: auto;
}

.select-box-item-label {
    display: flex;
    align-items: center;
    padding-top: 2px;
    flex-wrap: wrap;
    margin: 2px;
    text-transform: none;
    width: 100%;
}

.select-box-item-container {
    width: 50%;
    margin-bottom: 20px;
    min-width: 400px;
    display: none;
}

.select-box-item-title{
    text-align: left;
    font-weight: bold;
}

.select-box-checkbox {
    display: flex;
    align-items: center;
}

.select-box-checkbox input[type="checkbox"] {
    width: auto;
    margin: 0 10px;
}

.select-box-item-label input[type="text"] {
    margin: 0 5px;
    padding: 2px;
}

.select-box-item-label textarea{
    width: 100% !important;
    min-height: 100px;
    padding: 7px;
    max-width: 300px;
    font-family: 'Roboto Condensed', sans-serif;
    color: grey;
    font-size: 100%;

}

.is-hidden,.package-ready-button{
    display: none;
}

.standard-button{
    color: darkslategray;
    border-radius: 5px;
}

.standard-button-active{
    background: darkslategray;
    color: white;
}

.sell-buttons-container {
    margin: 10px 10px;
}

.disabled{
    color: lightgrey;
}

.step1-container {
    width: 100%;
    text-transform: none !important;
}

.step1-event-title{
    text-align: left;
    font-size: 110%;
    margin-bottom: 15px;
    color: black;
}

.step1-event-item {
    display: flex;
    flex-direction: row;
    text-align: left;
    position: relative;
}

.step1-event-item .fa {
    display: none;
    position: absolute;
    font-size: 150%;
    right: 50%;
    top: 5px;
}

.step1-event-item-content {
    display: flex;
    align-items: center;
    margin: 0 15px;
    color: black;
}

.step1-event-item input[type="text"], .step1-event-item input[type="file"]  {
    border: 1px solid black;
    width: 50%;
    margin: 5px 0;
    padding: 6px 5px;
    font-size: 100%;
}

.step1-event-item textarea {
    width: 98%;
    height: 150px;
    margin: 15px 0;
    border: 1px solid black;
    font-family: 'Roboto Condensed', sans-serif;
    padding: 1%;
    color: black;
    font-size: 100%;
}

.step1-event-item-title {
    width: 50%;
    text-align: left;
    border: 1px solid black;
    margin: 5px 0;
    padding: 5px;
}
.step1-non-event-item {
    display: flex;
}
.step1-event-item-title-small{
    width: 23%;
    margin-right: 2%;
    text-align: center;
}

button.go-to-rights {
    margin: 20px;
}

.has-language-trigger {
    margin: 0px 10px;
    width: 100px;
    padding: 5px 8px !important;
}

.tag-member-title {
    text-transform: none;
    font-size: 90%;
    width: 175px;
    text-align: left;
    justify-content: center;
    align-items: center;
    display: flex;
}

.tag-members-container {
    display: flex;
    margin: 20px 10%;
}

input.tag-member-input {
    width: 60%;
}

.selected-language {
    color: black;
    margin: 0 1px 0 4px;
}

.step1-event-subitem-title {
    border: 1px solid black;
    margin: 4px 0px;
    padding: 5px;
    width: 50%;
    min-width: 300px;
}

.step1-event-subitems-container {
    margin-left: 30px;
}

.go-to-rights {
    margin: 20px auto !important;
}

.invalid {
    border-color: red !important;
}

.ui-autocomplete {
    max-height: 400px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
    /* add padding to account for vertical scrollbar */
}

.pos-rel{
    position: relative !important;
    right: 0 !important;
}

.custom-input{
    border-color: blue !important;
}

#event-custom-subitems input{
    width: 200px !important;
}

.bootstrap-tagsinput input {
    border: none !important;
    margin: 0 !important;
    padding: 0px 2px !important;
    width: 35% !important;
    outline: none;
}

.bootstrap-tagsinput {
    border: 1px solid black;
    width: 100%;
    margin: 5px 0;
    padding: 6px 5px;
    font-size: 100%;
}

.bootstrap-tagsinput .tag{
    background-color: darkgray;
    color: white;
    padding: 2px 8px;
    border-radius: 15px;
    margin: 2px 0;
    display: inline-block;
}

.bootstrap-tagsinput .tag [data-role="remove"] {
    margin-left: 8px;
    cursor: pointer;
}
.bootstrap-tagsinput .tag [data-role="remove"]:after {
    content: "x";
    padding: 0px 2px;
}
.bootstrap-tagsinput .tag [data-role="remove"]:hover {
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.bootstrap-tagsinput .tag [data-role="remove"]:hover:active {
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
