.seller-box {
    background: white;
    color: grey;
    text-transform: capitalize;
    margin: 20px;
    display: flex;
    flex-direction: column;
}

.seller-box-title {
    background: darkslategrey;
    padding: 7px 15px;
    border: 1px solid black;
    color: white;
    text-align: left;
    font-size: 80%;
}

.seller-box-title span{
    font-weight: bold;
}

.seller-box-content {
    font-size: 80%;
    display: flex;
    flex-flow: row wrap;
    border: 1px solid black;
    border-top: none;
    justify-content: flex-start;
    padding: 15px;
}

.select-box-item {
    display: flex;
    flex-direction: row;
    /*width: 25%;*/
    height: 25px;
    min-width: 250px;
}

.select-box-item-full {
    width: 100%;
    height: auto;
}

.select-box-item-label {
    display: flex;
    align-items: center;
    padding-top: 2px;
    flex-wrap: wrap;
    margin: 2px;
    text-transform: none;
    width: 100%;
}

.select-box-item-container {
    width: 50%;
    margin-bottom: 20px;
    min-width: 400px;
    display: none;
}

.select-box-item-title{
    text-align: left;
    font-weight: bold;
}

.select-box-checkbox {
    display: flex;
    align-items: center;
}

.select-box-checkbox input[type="checkbox"] {
    width: auto;
    margin: 0 10px;
}

.select-box-item-label input[type="text"] {
    margin: 0 5px;
    padding: 2px;
}

.select-box-item-label textarea{
    width: 100% !important;
    min-height: 100px;
    padding: 7px;
    max-width: 300px;
}

.is-hidden,.package-ready-button{
    display: none;
}

.standard-button{
    color: darkslategray;
    border-radius: 5px;
}

.sell-buttons-container {
    margin: 10px 10px;
}

.disabled{
    color: lightgrey;
}