html{
    background-color: #052e44;
}

.main-content{
    min-height: 100%;
    max-width: 1100px;
    margin: 0 auto;
}

.main-page-home .footer {
    position: relative;

}

.seller-box-content {
    font-size: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 1px solid black;
    border-top: none;
    justify-content: flex-start;
    padding: 20px;
}

.seller-box-content-rights{
    column-count: 2;
    column-width: 400px;
    display: block;
}

.seller-box-content-rights .select-box-item-container {
    column-count: 1;
    -webkit-column-break-inside: avoid; /* Chrome, Safari */
    page-break-inside: avoid;           /* Theoretically FF 20+ */
    break-inside: avoid-column;         /* IE 11 */
    display:table;
}



.select-box-item {
    display: flex;
    flex-direction: row;
    /*width: 25%;*/
    height: 25px;
    min-width: 250px;
}

.select-box-item-full {
    width: 100%;
    height: auto;
}


.select-box-item-container {
    width: 50%;
    margin-bottom: 20px;
    min-width: 400px;
    display: none;
}

.select-box-item-title{
    text-align: left;
    color: black;
    margin: 0 0 5px 4px;
}

.select-box-checkbox {
    display: flex;
    align-items: center;
}

/*.select-box-checkbox input[type="checkbox"] {
    width: auto;
    margin: 0 10px;
}

.select-box-item-label input[type="text"] {
    margin: 0 5px;
    padding: 2px;
}*/

.select-box-item-label textarea{
    max-width: 300px;
}


.disabled{
    color: lightgrey;
}

.step1-container {
    width: 100%;
    text-transform: none !important;
}

.step1-event-title{
    text-align: left;
    font-size: 110%;
    margin-bottom: 15px;
    color: black;
}

.step1-event-item {
    display: flex;
    flex-direction: row;
    text-align: left;
    position: relative;
}

.step1-event-item .fa {
    display: none;
    position: absolute;
    font-size: 150%;
    right: 50%;
    top: 5px;
}

.step1-event-item-content {
    display: flex;
    align-items: center;
    margin: 0 15px;
    color: black;
}

.step1-event-item input[type="text"], .step1-event-item input[type="file"],  .step1-event-item input[type="number"],  .step1-event-item select   {
    border: 1px solid black;
    width: 50% !important;
    margin: 5px 0;
    padding: 6px 5px;
    font-size: 100%;
    box-sizing: border-box;
}

.step1-event-item textarea {
    width: 98%;
    height: 150px;
    margin: 15px 0;
    border: 1px solid black;
    font-family: 'Roboto Condensed', sans-serif;
    padding: 1%;
    color: black;
    font-size: 100%;
}

.step1-event-item-title {
    width: 50%;
    text-align: left;
    border: 1px solid black;
    margin: 5px 0;
    padding: 5px;
}
.step1-non-event-item {
    display: flex;
}
.step1-event-item-title-small{
    width: 23%;
    margin-right: 2%;
    text-align: center;
}

button.go-to-rights {
    margin: 20px;
}

.has-language-trigger {
    margin: 0px 10px;
    width: 100px;
    padding: 5px 8px !important;
}

.tag-member-title {
    text-transform: none;
    font-size: 90%;
    width: 175px;
    text-align: left;
    justify-content: center;
    align-items: center;
    display: flex;
}

.tag-members-container {
    display: flex;
    margin: 20px 10%;
}

input.tag-member-input {
    width: 60%;
}

.selected-language {
    color: black;
    margin: 0 1px 0 4px;
}

.step1-event-subitem-title {
    border: 1px solid black;
    margin: 4px 0px;
    padding: 5px;
    width: 50%;
    min-width: 300px;
}

.step1-event-subitems-container {
    margin-left: 30px;
}

.go-to-rights {
    margin: 20px auto !important;
}

.invalid {
    border-color: red !important;
}


.ui-autocomplete {
    max-height: 400px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
    /* add padding to account for vertical scrollbar */
}

.pos-rel{
    position: relative !important;
    right: 0 !important;
}

.custom-input{
    border-color: blue !important;
}

#event-custom-subitems input{
    width: 200px !important;
}

.installment-number{
    margin-right: 5px;
}

input#fee-selector, input#bid-selector {
    margin: 10px 10px -10px;
}

input.sales-package-name {
    margin: 0;
}

.box-item-checkbox-list{
    margin: 5px 10px;
}

.is-hidden{
    display: none;
}

input[type="checkbox"] {
    display:none;
}
input[type="checkbox"] + label {
    display:inline-block;
    width:19px;
    height:19px;
    vertical-align:middle;
    cursor:pointer;
    background-color: white;
    position: relative;
    margin-right: 5px;
    margin-left: 6px;
    border: 1px solid #aaa;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #eee), color-stop(15%, #fff));
    background-image: linear-gradient(#eee 1%, #fff 15%);
}

input[type="checkbox"] + label:after {
    content: '';
    width: 9px;
    height: 5px;
    position: absolute;
    top: 4px;
    left: 4px;
    border: 3px solid #000;
    border-top: none;
    border-right: none;
    background: transparent;
    opacity: 0;
    transform: rotate(-45deg);
}

input[type="checkbox"]:checked + label {
}

input[type="checkbox"]:disabled + label {
    background-color: lightgray;
    background-image: none;
}

input[type="checkbox"]:disabled + label:after {
    opacity: 0;
}

input[type="checkbox"]:checked + label:after {
    opacity: 1;
}

input[type="checkbox"]:checked:disabled + label {
    background-color: #fff;
}
