<div class="box fixed-fee-box">
    <div class="box-title">
        Cart Fixed Fee
    </div>
    <div class="box-content">
        <div class="right-package-name">
            Rights Cost
        </div>

        <table class="uk-table uk-table-striped">
            <thead>
                <tr>
                    <th>Territories</th>
                    <th>Purchasing method</th>
                    <th>Price</th>
                    <th>Currency</th>
                    <th></th>
                </tr>
            </thead>
            <tbody class="fixed-fee-body">

                <tr>
                    <td colspan="1" class="sub-total-row">
                        Sub-total USD
                    </td>
                    <td class="sub-total-usd-fixed">0</td>
                    <td class="sub-total-row">
                        Sub-total EUR
                    </td>
                    <td class="sub-total-eur-fixed">0</td>
                </tr>
            </tbody>
        </table>

        <div class="right-package-name">
            Technical delivery cost
        </div>

        <table class="uk-table uk-table-striped">
            <thead>
                <tr>
                    <th>Distribution Package</th>
                    <th>Distribution method</th>
                    <th>Technical cost/request</th>
                    <th>Currency</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Bulgaria</td>
                    <td>Fixed Price</td>
                    <td>1000</td>
                    <td>USD</td>

                </tr>
                <tr>
                    <td colspan="2" class="sub-total-row">
                        Sub-total USD
                    </td>
                    <td>3000</td>
                    <td>USD</td>
                </tr>
            </tbody>
        </table>

        <div class="right uk-grid">
            <div class="uk-width-1-2 ">

            </div>
            <div class="uk-width-1-2 uk-grid uk-background-muted total-sum">
                <div class="uk-width-1-3">
                    TOTAL SUM
                </div>
                <div class="uk-width-1-3">
                    3000
                </div>
                <div class="uk-width-1-3">
                    USA
                </div>


            </div>
        </div>
        <div class="right uk-margin-small-top">
            <button class="uk-width-1-1 uk-button uk-button-primary">Continue with license agreement</button>
        </div>
    </div>

</div>