<div class="right">
    <div class="right-name">
        {%  if selectedRight.right.name is defined %}{{ selectedRight.right.name }}{% endif %}
    </div>
    <div class="right-items">


            {%  if selectedRight.rightItem.name is defined %}
                {%  if selectedRight.inputs|length > 0 %}
                    {{ selectedRight.rightItem.formContent|rightItemParse(selectedRight.inputs, selectedRight.rightItem.formContent)}}
                {% else %}
                    {{ selectedRight.rightItem.formContent }}
                {%  endif %}
            {%  endif %}
    </div>
</div>