<thead>
<tr>
    <th></th>
    <th>Territory</th>
    <th>Purchasing Method</th>
    <th>Fee/Minimum Bid</th>
    <th>Currensy</th>
    <th></th>
</tr>
</thead>
<tbody>
{% for country in countries.countries %}
<tr>
    <td>
        <input type="checkbox"  class="subordinate-check">
    </td>
    <td>{{ country.name }}</td>
    <td>{{ countries.salesPackages.salesMethod }}</td>
    <td>{{ countries.salesPackages.fee }}</td>
    <td>{{ countries.salesPackages.currency }}</td>
    <td>
        <button class="uk-button-primary">Add to chart</button>
    </td>
</tr>
{% endfor %}
</tbody>