<div class="uk-width-1-1 uk-margin-small-top">
    <a class="uk-button uk-button-primary" href="">Enter via mask</a>
    <a class="uk-button uk-button-secondary" href="">Upload as document</a>
</div>

<div class="right">
    <div class="right-name">
        Protocol
    </div>

    <div class="right-items">
        <input type="text" placeholder="enter here">
    </div>
</div>
<div class="right">
    <div class="right-name">
        Video bitrate
    </div>

    <div class="right-items">
        <input type="text" placeholder="enter here">
    </div>
</div>

<div class="right">
    <div class="right-name">
        Audio bitrate
    </div>

    <div class="right-items">
        <input type="text" placeholder="enter here">
    </div>
</div>

<div class="right">
    <div class="right-name">
        Technical delivery time
    </div>

    <div class="right-items">
        <input type="text" placeholder="48 houres before the event">
    </div>
</div>

<div class="right">
    <div class="right-name">
        Resolution
    </div>

    <div class="right-items">
        <select name="" id="" class="resolution">
            <option value="">Select Resolution</option>
        </select>
    </div>
</div>

<div class="right">
    <div class="right-name">
        Framerate
    </div>

    <div class="right-items">
        <input type="text" placeholder="enter here">
    </div>
</div>

<div class="right">
    <div class="right-name">
        Keyframerate
    </div>

    <div class="right-items">
        <input type="text" placeholder="enter here">
    </div>
</div>

<div class="right">
    <div class="right-name"></div>
    <div class="right-items">
        <button class="uk-button uk-button-secondary uk-button-small">Save</button>
    </div>
</div>


