<tr>
    <td style="text-align: left">
        <p>
            Best regards,<br/>
            Lasse Eckartsberg
        </p>

        <p>
            Director Business Development<br/>
            Content Arena Pte. Ltd.<br/>
            M: +49 151 5111 5697<br/>
            E: <a href="mailto:lasse@contentarena.com" style="color: #2aaaec">lasse@contentarena.com</a><br/>
            W: <a href="www.contentarena.com" style="color: #2aaaec">www.contentarena.com</a>
        </p>
    </td>
</tr>