<div id="step2" class="is-hidden">

    <div class="box">
        <div class="box-title">
            <div id="event-title"></div>
            <div>Step 3/5</div>
        </div>
    </div>


    {# PAYMENT TERMS #}
    {{ include('@App/sell/new/step2.paymentTerms.html.twig') }}

    {# LISTING DETAILS #}
    {{ include('@App/sell/new/step2listingDetails.html.twig') }}

</div>
