<div class="box ">
    <div class="box-title">
        Listing details
    </div>
    <div class="seller-box-content">

        <div class="box-item">

            <div class="select-box-item-title">
                Listing image
            </div>

            <div class="select-box-item select-box-item-full">
                <input ref="image-selector-hidden"
                       id="image-selector"
                       class="file-selector custom-form-input"
                       placeholder="Select image"
                       type="text"  />
            </div>

        </div>


        <div class="box-item">

            <div class="select-box-item-title">
                Expiration date
            </div>

            <div class="select-box-item select-box-item-full">
                <input id="expiration-date"
                       class="custom-form-input"
                       placeholder="Select date"
                       type="text"/>
            </div>

        </div>


        <div class="box-item">

            <div class="select-box-item-title">
                Tag company members on this listing
            </div>

            <div class="select-box-item select-box-item-full">
                <input id="tag-members"
                       placeholder="#"
                       type="text"
                       class="tag-member-input custom-form-input" />
            </div>

        </div>
    </div>
</div>