@import "v1.vars";

.skin {
  &.v1 {
    .button {
      width: 142px;
      height: 32px;
      border-radius: 2px;
      border: solid 1px $v1-color-blue-1;
      color: $v1-color-blue-1;
      font-size: 12px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      background: transparent;
      padding: 2px 7px 2px;
    }

    button {
      position: relative;
      overflow: hidden;
      cursor: pointer;

      &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 5px;
        height: 5px;
        opacity: 0;
        border-radius: 50%;
        transform: scale(1, 1) translate(-50%);
        transform-origin: 50% 50%;
      }

      &:focus {
        outline: 0;

        &:not(:active)::after {
          animation: effect_dylan 1s ease-out;
        }
      }

      &-text {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    .primary-button {
      background-color: $v1-color-blue-1;
      border: 0;

      &::after {
        background-color: rgba(255, 255, 255, 0.5);
      }

      &:hover {
        background-color: $v1-color-blue-2;
      }

      &:focus {
        background-color: $v1-color-blue-1;
      }
    }

    .secondary-button {
      background-color: $v1-color-grey-2;
      border: 0;

      &::after {
        background-color: rgba(255, 255, 255, 0.5);
      }

      &:hover {
        background-color: $v1-color-grey-3;
      }

      &:focus {
        background-color: $v1-color-grey-2;
      }
    }

    .primary-outline-button {
      color: $v1-color-blue-1;
      border: 1px solid $v1-color-blue-1;

      &::after {
        background-color: $v1-color-blue-3;
      }

      &:hover {
        background-color: $v1-color-blue-3;
      }

      &:focus {
        background-color: transparent;
      }
    }

    .secondary-outline-button {
      color: $v1-color-grey-2;
      border: 1px solid $v1-color-grey-2;

      &::after {
        background-color: $v1-color-grey-5;
      }

      &:hover {
        background-color: $v1-color-grey-5;
      }

      &:focus {
        background-color: transparent;
      }
    }

    .info-outline-button {
      color: $v1-color-info-4;
      border: 1px solid $v1-color-info-4;

      &::after {
        background-color: $v1-color-info-3;
      }

      &:hover {
        background-color: $v1-color-info-3;
      }

      &:focus {
        background-color: transparent;
      }
    }
  }
}

@keyframes effect_dylan {
  0% {
    transform: scale(0, 0);
    opacity: 1;
  }

  20% {
    transform: scale(25, 25);
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: scale(40, 40);
  }
}
