@import "v1.vars";

.skin {
  &.v1 {
    .w-25 {
      width: 25% !important;
    }

    .w-50 {
      width: 50% !important;
    }

    .w-75 {
      width: 75% !important;
    }

    label {
      font-size: 12px;
      font-weight: bold;
      letter-spacing: 0.05px;
      color: $v1-color-grey-2;
      display: inline-block;
    }

    textarea {
      resize: none;

      &::placeholder {
        font-family: $v1-font-family;
        color: $v1-color-grey-6;
        font-style: normal;
        font-stretch: normal;
      }

      &:focus {
        outline: 0;
      }
    }

    .checkbox-container {
      display: flex;
      align-items: center;
      position: relative;
      padding-left: 35px;
      height: 30px;
      font-size: 14px;
      font-weight: 400;
      color: #666666;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;

      .check-mark {
        position: absolute;
        top: 3px;
        left: 0;
        height: 24px;
        width: 24px;
        background-color: #ffffff;
        border: 1px solid #666666;

        &::after {
          content: "";
          position: absolute;
          display: none;
          left: 8px;
          top: 4px;
          width: 7px;
          height: 12px;
          border: solid #333333;
          border-width: 0 2px 2px 0;
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg);
        }
      }

      input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;

        &:checked {
          & ~ .checkbox-label {
            font-weight: 600;
            color: #333333;
          }

          & ~ .check-mark {
            border: 1px solid #333333;

            &::after {
              display: block;
            }
          }
        }
      }

      &:hover {
        font-weight: 600;
        color: #333333;

        input ~ .check-mark {
          border: 1px solid #333333;
        }
      }
    }

    &.container {
      background-color: $v1-background-grey-1;
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      align-items: center;
    }

    .default-box {
      margin: 30px 0;
      width: 980px;
      display: flex;
      flex-direction: column;
      flex-grow: 1;

      &-header {
        padding: 20px 0;
        display: flex;
        height: 150px;
        align-items: center;
      }
    }

    .default-tab {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 10px;
      background-color: $v1-background-white;
      align-items: center;
      height: 58px;
      justify-content: space-evenly;
      border-radius: 2px;

      .tab {
        display: block;
        padding: 16px 20px;
        cursor: pointer;
        font-size: 18px;
        font-weight: normal;
        color: $v1-color-grey-3;
        letter-spacing: 0.07px;

        &:hover {
          color: $v1-color-blue-1;
        }

        &.active {
          font-weight: 600;
          border-bottom: 2px solid $v1-color-blue-1;
          color: $v1-color-blue-1;
        }
      }
    }

    .collapsed-popup {
      display: flex;
      flex-direction: column;
      position: relative;

      &-header {
        height: 50px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 38px;
        padding-right: 46px;
        cursor: pointer;

        &-icon {
          color: $v1-color-grey-3;
        }

        &-title {
          display: flex;
          align-items: center;
          justify-content: center;

          .title {
            font-family: $v1-font-family;
            font-size: 16px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: 0.06px;
            text-align: right;
            color: $v1-color-grey-3;
            margin-right: 12px;
          }

          .icon {
            i {
              width: 9px;
              height: 5px;
              color: $v1-color-grey-3;
            }
          }
        }
      }

      &-body {
        height: 0;
        opacity: 0;
        border-radius: 2px;
        margin-top: 1px;
        transition: all 0.2s ease;
        overflow: hidden;
      }

      &.opened {
        .collapsed-popup-body {
          opacity: 1;
          height: initial;
        }
      }
    }
  }
}
