@import "v1.vars";
@import "v1.buttons";

.skin {
  &.v1 {
    .input-group {
      display: flex;
      flex-wrap: wrap;
      align-items: stretch;
      width: 100%;
      border: solid 1px $v1-color-grey-1;
      background-color: $v1-background-white;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.08);
      padding: 19px 37px;
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

      &-prepend {
        margin-right: 8px;
      }

      &-append {
        margin-right: 8px;
      }

      &-text {
        font-family: $v1-font-family;
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        border: 0;
        margin: 0;
        padding: 0;
        outline: 0;
        color: $v1-color-info-1;
        flex: 1 1 auto;
        width: auto;

        &::placeholder {
          color: $v1-color-grey-1;
        }
      }

      &:hover,
      &:active {
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);

        .input-group-text {
          &::placeholder {
            color: $v1-color-grey-2;
          }
        }
      }

      &:disabled {
        border: solid 1px $v1-color-grey-7;

        .input-group-text {
          &::placeholder {
            color: $v1-color-grey-7;
          }
        }
      }

      &.invalid {
        border: solid 1px $v1-color-red-1;

        .input-group-text {
          color: $v1-color-grey-3;

          &::placeholder {
            color: $v1-color-grey-3;
          }
        }
      }
    }

    .input-checkbox {
      position: relative;
      cursor: pointer;
      user-select: none;
      display: flex;
      align-items: center;

      &-selector {
        height: 24px;
        width: 24px;
        background-color: $v1-background-white;
        border: 1px solid $v1-color-grey-3;
        position: relative;

        &::after {
          content: "";
          position: absolute;
          display: none;
          left: 8px;
          top: 3px;
          width: 7px;
          height: 13px;
          border: solid $v1-color-grey-2;
          border-width: 0 3px 3px 0;
          transform: rotate(45deg);
        }
      }

      input[type="checkbox"] {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
      }

      &-text {
        margin-left: 12px;
        font-family: $v1-font-family;
        font-size: 14px;
        font-weight: 400;
        color: $v1-color-grey-3;
      }

      &:hover {
        .input-checkbox-text {
          color: $v1-color-grey-2;
          font-weight: 600;
        }

        .input-checkbox-selector {
          border: 1px solid $v1-color-grey-2;
        }
      }

      input[type="checkbox"]:checked {
        & ~ .input-checkbox-text {
          color: $v1-color-grey-2;
          font-weight: 600;
        }

        & ~ .input-checkbox-selector {
          border: 1px solid $v1-color-grey-2;

          &::after {
            display: block;
          }
        }
      }
    }

    .input-radio {
      position: relative;
      cursor: pointer;
      user-select: none;
      display: flex;
      align-items: center;
      justify-content: center;

      &-selector {
        height: 24px;
        width: 24px;
        background-color: $v1-background-white;
        border: 1px solid $v1-color-grey-3;
        border-radius: 50%;
        position: relative;

        &::after {
          content: "";
          position: absolute;
          display: none;
          left: 3px;
          top: 3px;
          width: 16px;
          height: 16px;
          border-radius: 50%;
          background-color: $v1-color-grey-2;
        }
      }

      input[type="radio"] {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
      }

      .input-radio-text {
        margin-left: 12px;
        font-family: $v1-font-family;
        font-size: 16px;
        color: $v1-color-grey-3;
      }

      &:hover {
        .input-radio-text {
          color: $v1-color-grey-2;
        }

        .input-radio-selector {
          border: 1px solid $v1-color-grey-2;
        }
      }

      input[type="radio"]:checked {
        & ~ .input-radio-text {
          color: $v1-color-grey-2;
        }

        & ~ .input-radio-selector {
          border: 1px solid $v1-color-grey-2;

          &::after {
            display: block;
          }
        }
      }
    }

    textarea {
      border: 1px solid $v1-color-grey-2;
      padding: 20px;
      color: $v1-color-grey-6;
      font-family: $v1-font-family;
      font-size: 12px;
      line-height: 18px;

      &:hover,
      &:active {
        border-color: $v1-color-blue-1;
      }

      &:focus {
        outline: 0;
      }
    }

    .file-upload {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border: 1px solid $v1-color-grey-2;
      font-family: $v1-font-family;
      font-size: 14px;
      color: $v1-color-grey-6;
      font-weight: 600;

      &-content {
        padding: 10px;
        display: flex;

        &-item {
          padding: 8px 18px;
          background-color: $v1-color-info-3;
          font-size: 12px;
          font-weight: 600;
          font-family: $v1-font-family;
          color: $v1-color-grey-2;
          border-radius: 18px;

          span {
            color: $v1-color-grey-6;
          }

          i {
            margin-left: 10px;
            color: $v1-color-grey-2;
            cursor: pointer;
          }
        }

        &-item + div {
          margin-left: 10px;
        }
      }

      &-button {
        @extend .secondary-button;

        width: 100px;
        height: 54px;
        border-radius: 2px;
        font-size: 14px;
      }
    }

    .input-stepper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border: 1px solid $v1-color-grey-1;
      font-family: $v1-font-family;
      font-weight: 600;
      font-size: 14px;
      color: $v1-color-grey-6;

      &-content {
        padding: 20px;
      }

      &-control {
        display: flex;
        flex-direction: column;

        &-item {
          background-color: $v1-color-grey-4;
          color: $v1-color-grey-3;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          width: 30px;
          height: 30px;

          &:hover {
            background-color: $v1-color-grey-3;
            color: $v1-background-white;
          }
        }
      }

      &:hover,
      &:active {
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
        color: $v1-color-grey-3;
      }
    }
  }
}
