@import "v1.vars";

.skin {
  &.v1 {
    .popup-modal {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.6);
      z-index: 10;
      display: flex;
      align-items: center;
      justify-content: center;

      &-container {
        border-radius: 2px;
        background: $v1-background-white;
        overflow: hidden;
      }

      &-header {
        height: 57px;
        padding: 17px 37px;
        border-bottom: 1px solid $v1-color-grey-5;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .popup-title {
          font-family: $v1-font-family;
          font-size: 18px;
          font-weight: 600;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: 0.07px;
          text-align: center;
          color: $v1-color-grey-6;
        }

        .popup-icon {
          color: $v1-color-grey-6;
          font-size: 14px;
          cursor: pointer;
          margin-left: 32px;
        }
      }

      &-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 38px 76px;
      }

      &-footer {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 38px 76px;

        button {
          width: 180px;
          height: 60px;
          font-size: 16px;
          font-weight: 600;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          text-align: center;
        }

        button + button {
          margin-left: 20px;
        }
      }
    }
  }
}
