@import "v1.vars";

.skin {
  &.v1 {
    .property-header {
      margin-right: auto;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      height: 75px;

      &-title {
        color: $v1-color-grey-2;
        font-size: 14px;
      }

      &-name {
        color: $v1-color-blue-4;
      }
    }

    .dashboard-header {
      font-size: 22px;
      font-weight: 500;
      letter-spacing: normal;
      color: #acacac;
      display: flex;
      align-items: center;
      margin-right: auto;

      i {
        margin-right: 5px;
      }
    }

    .property-item {
      &-wrapper {
        background-color: $v1-background-white;
        margin-bottom: 10px;
        display: flex;
        height: 98px;
        align-items: center;
      }

      &-name {
        flex: 1 1 300%;
        margin: 0 30px;
        font-size: 18px;
        letter-spacing: 0.07px;
        color: $v1-color-grey-2;
      }

      &-info {
        flex: 1 1 100%;
        letter-spacing: 0.07px;
        font-size: 14px;
        color: $v1-color-grey-1;
        display: flex;
        align-items: center;
      }

      &-link {
        @extend .property-item-info;

        color: $v1-color-grey-2;

        a {
          color: $v1-color-grey-2;
          text-decoration: underline;
        }

        i {
          margin-right: 5px;
          text-decoration: none;
        }
      }

      &-count {
        margin-left: 5px;
        font-size: 16px;
        color: $v1-color-grey-2;
      }

      &-closed {
        @extend .property-item-count;

        color: $v1-color-green-1;
      }
    }

    .property-description-tab {
      padding: 33px 38px 68px 38px;
      display: flex;

      .description {
        margin-left: 60px;
        width: 100%;

        &-files {
          margin-top: 38px;
        }

        &-website {
          margin-top: 18px;
        }

        &-action {
          margin-top: 37px;
          display: flex;
          justify-content: flex-end;
          align-items: center;

          button {
            width: 142px;
            height: 54px;
            font-size: 14px;

            & + button {
              margin-left: 20px;
            }
          }
        }
      }
    }

    .property-license-tab {
      padding: 33px 39px;

      &-header {
        white-space: pre-line;
      }

      &-tabs {
        margin-top: 37px;
        margin-bottom: 20px;
        display: flex;

        .tab {
          .text {
            margin-left: 20px;
            margin-right: 25px;
            color: $v1-color-info-4;
          }

          &.active .text {
            font-weight: bold;
            border-bottom: 1px solid $v1-color-info-4;
          }
        }

        .tab + .tab {
          border-left: 1px solid $v1-color-info-4;
        }
      }

      &-action {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 38px;

        .add-definition {
          width: 142px;
          height: 32px;
        }

        .restore {
          display: flex;
          align-items: center;
          justify-content: center;

          &-text {
            text-decoration: underline;
            font-size: 12px;
            font-weight: 600;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
          }
        }
      }
    }
  }
}
