@import "v1.vars";

.skin {
  &.v1 {
    .property-header {
      margin-right: auto;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      height: 75px;

      &-title {
        color: $v1-color-grey-2;
      }

      &-name {
        color: $v1-color-blue-4;
      }
    }

    .dashboard-header {
      font-size: 22px;
      font-weight: 500;
      letter-spacing: normal;
      color: #acacac;
      display: flex;
      align-items: center;
      margin-right: auto;

      i {
        margin-right: 5px;
      }
    }

    .property-item {
      &-wrapper {
        background-color: $v1-background-white;
        margin-bottom: 10px;
        display: flex;
        height: 98px;
        align-items: center;
      }

      &-name {
        flex: 1 1 300%;
        margin: 0 30px;
        font-size: 18px;
        letter-spacing: 0.07px;
        color: $v1-color-grey-2;
      }

      &-info {
        flex: 1 1 100%;
        letter-spacing: 0.07px;
        font-size: 14px;
        color: $v1-color-grey-1;
        display: flex;
        align-items: center;
      }

      &-link {
        @extend .property-item-info;

        color: $v1-color-grey-2;

        a {
          color: $v1-color-grey-2;
          text-decoration: underline;
        }

        i {
          margin-right: 5px;
          text-decoration: none;
        }
      }

      &-count {
        margin-left: 5px;
        font-size: 16px;
        color: $v1-color-grey-2;
      }

      &-closed {
        @extend .property-item-count;

        color: $v1-color-green-1;
      }
    }
  }
}
