@import "v1.vars";
@import "v1.buttons";

.skin {
  &.v1 {
    .season-selector {
      display: flex;
      padding: 40px;
      flex-wrap: wrap;

      .input-checkbox {
        min-width: 150px;
        margin-bottom: 20px;
      }
    }

    .season-fixture-selector {
      display: flex;
      flex-direction: column;
      padding: 0 40px;

      h5 {
        margin-bottom: 20px;
      }
    }

    .right-selector {
      display: flex;
      flex-direction: column;

      &-item {
        width: 100%;
        display: flex;
        height: 59px;
        padding: 0 40px;
        justify-content: space-between;
      }

      &-even {
        background-color: $v1-background-grey-1;
      }

      .input-checkbox {
        min-width: 250px;

        &-text {
          font-size: 16px;
        }
      }

      .input-radio {
        min-width: 175px;

        &-selector {
          height: 24px;
          width: 24px;

          &::after {
            width: 16px;
            height: 16px;
          }
        }
      }
    }

    .territory-selector {
      display: flex;
      flex-direction: column;

      a {
        font-size: 12px;
        color: $v1-color-grey-6;
        text-decoration: underline;
      }

      &-box {
        display: flex;
        margin: 20px 0;
        justify-content: space-between;
      }

      &-selected {
        display: flex;
        border: solid 1px $v1-color-grey-1;
        height: 200px;
        padding: 20px;
        flex-wrap: wrap;
        overflow: scroll;
        align-content: flex-start;

        span {
          padding: 7px 18px;
          background-color: $v1-color-info-3;
          display: flex;
          height: fit-content;
          border-radius: 15px;
          font-size: 12px;
          font-weight: 600;
          margin-right: 5px;
          margin-bottom: 8px;
          cursor: pointer;

          i {
            width: 16px;
            height: 16px;
            font-size: 11px;
            padding: 2px;
            border: 1px solid #333333;
            border-radius: 50%;
            margin: 1px 0 1px 6px;
          }
        }

        &-header {
          display: flex;
          width: 100%;
          justify-content: space-between;
          margin-bottom: 20px;
        }
      }
    }

    .selector-container {
      h5 {
        color: $v1-color-blue-4;
        margin-bottom: 20px;
      }
    }

    .selector-search {
      height: 58px;
      border: 1px solid #cccccc;
      border-bottom: none;
      position: relative;

      input {
        width: 100%;
        height: 100%;
        border: none;
        font-size: 16px;
        color: $v1-color-grey-3;
        background-color: transparent;
        outline: none;
        margin: 0 20px;

        &::placeholder {
          font-style: normal;
          color: $v1-color-grey-6;
        }
      }

      .icon-search {
        font-size: 16px;
        color: $v1-color-grey-6;
        position: absolute;
        right: 30px;
        top: 22px;
      }
    }

    .country-selector {
      @extend .region-selector;

      width: 340px !important;
      height: 291px !important;

      .input-checkbox {
        cursor: default;
      }

      button {
        min-width: 70px;
      }
    }

    .region-selector {
      width: 265px;
      border-radius: 2px;
      border: solid 1px $v1-color-grey-1;
      height: 349px;
      overflow: scroll;

      .input-checkbox {
        height: 58px;
        border-bottom: 1px solid $v1-color-grey-1;
        padding: 0 18px;
        margin: 0;

        &:hover {
          background-color: #fafcfc;
        }

        &--is-selected {
          background-color: #ebf2f5 !important;
        }

        &-text {
          color: $v1-color-grey-2;
          font-size: 16px;
          display: flex;
          justify-content: space-between;
          width: 100%;
        }
      }
    }

    .fixture {
      &-season {
        display: flex;
        justify-content: space-between;
        height: 60px;
        align-items: center;
        border-top: 1px solid lightgrey;

        &-name {
          width: 70%;
          text-align: left;
          padding-left: 40px;
        }

        &-icon {
          position: absolute;
        }

        &-amount {
          font-size: 16px;
          font-weight: normal;
          color: #03547c;
        }

        &:last-child {
          border-bottom: 1px solid lightgrey;
        }
      }

      &-container {
        display: flex;
        flex-direction: column;
        border-top: 1px solid $v1-color-grey-5;
        padding: 20px 0 20px 20px;
        transition: all 0.2s ease;
      }

      &-list {
        display: flex;
        flex-direction: column;
      }

      &-item {
        &-wrapper {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          height: 40px;
          align-items: center;
          position: relative;

          input {
            width: 95% !important;
            font-size: 12px;
          }
        }

        &-round {
          width: 30%;
        }

        &-name {
          width: 30%;
        }

        &-date {
          width: 10%;
          text-align: right;

          .date-picker {
            text-align: right;
            padding-right: 0;
          }
        }

        &-time {
          width: 8%;
          text-align: right;
          padding-right: 10px;

          .date-picker {
            text-align: right;
            padding: 10px 0;
          }
        }

        &-timezone {
          width: 17%;

          ul {
            background-color: white;
          }
        }

        &-actions {
          width: 5%;
          display: flex;
          justify-content: flex-end;

          .icon-remove {
            margin-left: 5px;
          }

          .remove-icon {
            cursor: pointer;
            color: $v1-color-red-3;

            &.disabled {
              color: lightgray !important;
              cursor: auto !important;
            }
          }

          .confirm-icon {
            @extend .remove-icon;

            margin-left: 8px;
            color: $v1-color-green-1;
          }
        }
      }
    }

    .bundle-editor {
      .dropdown {
        &__control {
          height: 54px;
        }
      }

      &-name{
        display: flex;
        height: 54px;
        align-items: center;
        margin-top: 10px;
        border: 1px solid lightgray;
        padding: 10px;
      }

      &-buttons {
        display: flex;
        padding-top: 29px;
      }

      &-bid {
        margin-right: 10px;
      }

      &-currency {
        padding-top: 11px;
        width: 160px !important;
        .default-filter {
          width: 160px;
        }
      }
    }
  }
}
