// fonts
$v1-font-family: 'Open Sans', sans-serif;

$v1-background-grey-1: #f6f7f9;
$v1-background-grey-2: #fafcfc;
$v1-background-white: #ffffff;
$v1-background-black: #000000;

$v1-color-grey-1: #cccccc;
$v1-color-grey-2: #333333;
$v1-color-grey-3: #666666;
$v1-color-grey-4: #ecedef;
$v1-color-grey-5: #eeeeee;
$v1-color-grey-6: #acacac;
$v1-color-grey-7: #e2e2e4;
$v1-color-green-1: #40c063;
$v1-color-green-2: #87cf9b;
$v1-color-green-3: #eafceb;
$v1-color-green-4: #afe6be;
$v1-color-green-5: #38c25f;
$v1-color-blue-1: #3399ff;
$v1-color-blue-2: #63b1ff;
$v1-color-blue-3: #e0f0ff;
$v1-color-blue-4: #03547c;
$v1-color-red-1: #de3b37;
$v1-color-red-2: #fff2f2;
$v1-color-yellow-1: #ffc94b;
$v1-color-purple-1: #c471fe;
$v1-color-info-1: #00537e;
$v1-color-info-2: #3c7d9f;
$v1-color-info-3: #ebf2f5;
$v1-color-info-4: #03547c;
