// fonts
$v1-font-family: 'Open Sans', sans-serif;

$v1-background-grey: #f6f7f9;
$v1-background-white: #ffffff;

$v1-color-grey-1: #cccccc;
$v1-color-grey-2: #333333;
$v1-color-grey-3: #666666;
$v1-color-grey-4: #ecedef;
$v1-color-grey-5: #eeeeee;
$v1-color-green-1: #40c063;
$v1-color-green-2: #87cf9b;
$v1-color-green-3: #eafceb;
$v1-color-blue-1: #3399ff;
$v1-color-pink-1: #fff2f2;
$v1-color-yellow-1: #ffc94b;
$v1-color-purple-1: #c471fe;
