<a class="action-share" href="{{ field_options.base_path ~ 'public/listing/' ~ value }}" target="_blank">
    Copy link to share <i class="fa fa-check-circle" style="color: green; display: none"/>
</a>
